<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/default}">

	<th:block layout:fragment="customContents">
		    <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>회원 일별 수익 목록</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                          </div>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  
                  <div class="x_content">            

                    <p>회원의 일별 수익을 조회할 수 있습니다.</p>
                    
                    <div class="table-responsive">
                    <div class="col-md-12 row">
                    <form th:action="@{/admin/profit/adminProfitListDay}" method="get" class="col-md-9" style="float: left;">                           
                    <input type="text" name="searchYear" placeholder="년도"/>
                   	<select name="searchMonth" class="select-drop" style="height: 25px;">
						<option value="01">1월</option>
						<option value="02">2월</option>
						<option value="03">3월</option>
						<option value="04">4월</option>
						<option value="05">5월</option>
						<option value="06">6월</option>
						<option value="07">7월</option>
						<option value="08">8월</option>
						<option value="09">9월</option>
						<option value="10">10월</option>
						<option value="11">11월</option>
						<option value="11">12월</option>								
					</select>
                    <input type="text" name="searchDay" placeholder="일"/>                 
					<input type="text" name="searchId" placeholder="회원 아이디를 입력해주세요."/>
					<button type="submit">조회</button>
					</form>
					<div class="btn-group col-md-3" role="group" aria-label="..." style="float: right;">
		                <a th:href="@{/admin/profit/adminProfitListDay}" class="btn"><i class="bi bi-calendar-check" aria-hidden="true"></i>일별 수익</a>
		                <a th:href="@{/admin/profit/adminProfitListMonth}" class="btn"><i class="bi bi-calendar-check" aria-hidden="true"></i>월별 수익</a>
		                <a th:href="@{/admin/profit/adminProfitListYear}" class="btn"><i class="bi bi-calendar-check" aria-hidden="true"></i>연별 수익</a>
		              </div>
		             </div>
					<br>
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">                         				                
			                <th class="column-title">ID</th>
			                <th class="column-title">정산금획득년월</th>
			                <th class="column-title">일별 정산금 합계</th>
			                <th class="column-title">정산금 지급 날짜</th>
	                          
	                         </tr>
	                       </thead>
			                
			       
                        <tbody>
			            <tr class=" " th:unless="${#lists.isEmpty(adminGetUserDayProfitList)}" th:each="pd : ${adminGetUserDayProfitList}">			            	
			                <td class=" " th:text="${pd.userId}"></td>
			                <td class=" " th:text="${pd.profitSaveYearMonth}"></td>
			                <td class=" " th:text="${pd.profitDayTotal}"></td>			               		                
			                <td class=" " th:text="|20${#strings.substring(pd.profitDayGroup,12,14)}-${#strings.substring(pd.profitDayGroup,14,16)}-${#strings.substring(pd.profitDayGroup,16,18)}|"></td>			                
			               
			                
			              </tr>
			              <tr class=" " th:if="${#lists.isEmpty(adminGetUserDayProfitList)}">
			              	<td class=" " colspan="4">등록된 회원 일별 수익이 없습니다.</td>
			              </tr>
			        </tbody>
			        <tfoot>
				  		<tr>
				  			<td colspan="5">
				  				<div class="row" style="margin-top: 40px">
						          <div class="col-sm-6">
											<div class="text-left">
												<ul class="pagination">
													
													<li th:if="${pagination.curRange != 1}" class="page-item">
														<a th:href="@{/admin/profit/adminProfitListDay" aria-label="First"><<</a>
													</li>
													<li th:if="${pagination.curPage != 1}" class="page-item">
														<a th:href="@{/admin/profit/adminProfitListDay(curPage=${pagination.prevPage})}" aria-label="Prev" class="page-link">&#60;</a>
													</li>
													
													<th:block th:each="pageNum : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
														<li class="active page-item" th:if="${pageNum == pagination.curPage}">
															<a th:text="${pageNum}" class="page-link"></a>
														</li>
														<li th:unless="${pageNum == pagination.curPage}" class="page-item">
															<a th:href="@{/admin/profit/adminProfitListDay(curPage=${pageNum})}" th:text="${pageNum}" class="page-link"></a>
														</li>
													</th:block>
				
													<li th:if="${pagination.curPage != pagination.pageCnt && pagination.pageCnt > 0}" class="page-item">
														<a th:href="@{/admin/profit/adminProfitListDay(curPage=${pagination.nextPage})}" aria-label="Next" class="page-link">&#62;</a>
													</li>
													<li th:if="${pagination.curRange != pagination.rangeCnt && pagination.rangeCnt > 0}" class="page-item">
														<a th:href="@{/admin/profit/adminProfitListDay(curPage=${pagination.pageCnt})}" aria-label="Last" class="page-link">>></a>
													</li>
													
												</ul>
											</div>
										</div>		          
						        </div>
				  			</td>
				  		</tr>
			  		</tfoot>
                      </table>
                    </div>
							
						
                  </div>
                  
                </div>
               
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
	</th:block>
</html>
							
	