<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	  
	  <th:block layout:fragment="customContents">
	  	<!-- LIGHT SECTION -->
		<section class="lightSection clearfix pageHeader">
		  <div class="container">
		    <div class="row">
		      <div class="col-md-6">
		        <div class="page-title">
		          <h2>Rental Infomation &amp; billing</h2>
		        </div>
		      </div>
		      <div class="col-md-6">
		        <ol class="breadcrumb">
		          <li>
		            <a href="index.html">Home</a>
		          </li>
		          <li>
		            <a href="#">shop</a>
		          </li>
		          <li class="active">Rental Infomation</li>
		        </ol>
		      </div>
		    </div>
		  </div>
		</section>
	  
		<section class="mainContent clearfix stepsWrapper">
	     <div class="container">
	       <div class="row">
	         <div class="col-md-8">
	           <div class="innerWrapper clearfix stepsPage">
	             <div class="row progress-wizard" style="border-bottom:0;">
	
	               <div class="col-6 progress-wizard-step active">
	                 <div class="text-center progress-wizard-stepnum">Payment</div>
	                 <div class="progress"><div class="progress-bar"></div></div>
	                 <span class="progress-wizard-dot"></span>
	               </div>
	
	               <div class="col-6 progress-wizard-step disabled">
	                 <div class="text-center progress-wizard-stepnum">Result</div>
	                 <div class="progress"><div class="progress-bar"></div></div>
	                 <span class="progress-wizard-dot"></span>
	               </div>
	             </div>
	
	             <form action="/order/payment" class="row" method="POST" role="form">
	               <div class="col-12">
	                 <div class="page-header">
	                   <h4>Rental Infomation</h4>
	                 </div>
	               </div>
	               <div class="form-group col-md-7 col-12">
	                 <label for="">상품명</label>
	                 <input type="hidden" readonly="readonly" class="goodsCode" name="goodsCode" th:value="${goods.goodsCode}">
	                 <input type="text" class="form-control" th:value="${goods.goodsName}">
	               </div>
	               <div class="form-group col-md-7 col-12">
	                 <label for="">상품 일당 가격</label>
	                 <input type="text" class="form-control" th:value="${goods.goodsDayPrice}">
	               </div>
	               <div class="form-group col-md-6 col-12">
	                 <div class="form-group row">
						<label for="example-datetime-local-input" class="col-md-12 col-form-label">렌탈 시작일</label>
						<div class="col-md-10">
							<input class="form-control" type="date" th:value="${rentalStartDate}">
						</div>
					</div>
	               </div>
	               <div class="form-group col-md-6 col-12">
	                 <div class="form-group row">
						<label for="example-datetime-local-input" class="col-md-12 col-form-label">렌탈 종료일</label>
						<div class="col-md-10">
							<input class="form-control" type="date" th:value="${rentalEndDate}">
						</div>
					</div>
	               </div>
	               <div class="form-group col-md-7 col-12" style="margin-bottom: 30px;">
	                 <label for="">택배 여부</label>
	                 <div class="form-group row">
	                   <div class="quick-drop col-12 selectOptions ">
	                     <select name="selectDelivery" class="form-control select-drop">
	                    	<th:block th:if="${selectDelivery.equals('N')}">
	                    		<option value="N" selected>직거래</option>
	                       		<option value="Y">택배</option>
	                    	</th:block>
	                    	<th:block th:unless="${selectDelivery.equals('N')}">
	                    		<option value="N">직거래</option>
	                       		<option value="Y" selected>택배</option>
	                    	</th:block>
	                       
	                     </select>
	                   </div>
	                 </div>
	               </div>
	               <div class="form-group col-md-7 col-12">
	                 <label for="">마일리지 사용</label>
	                 <input type="number" class="form-control" name="mileageUsePrice">
	               </div>
	               <div class="form-group col-md-2 col-12">
	               </div>
	               <div class="form-group col-md-12 col-12">
	               		<label for="">지역</label>
	               </div>
               	  <div class="form-group col-md-6 col-12">
	                 <div class="form-group row">
	                   <div class="quick-drop col-12 selectOptions ">
	                     <select name="country" class="form-control select-drop">
	                       <option></option>
	                       <option>USA</option>
	                       <option>Singapore</option>
	                       <option>Bangladesh</option>
	                     </select>
	                   </div>
	                 </div>
	               </div>
	               <div class="form-group col-md-6 col-12">
	                 <div class="form-group row">
	                   <div class="quick-drop col-12 selectOptions ">
	                     <select name="country" class="form-control select-drop">
	                       <option></option>
	                       <option>USA</option>
	                       <option>Singapore</option>
	                       <option>Bangladesh</option>
	                     </select>
	                   </div>
	                 </div>
	               </div>
	               <div class="form-group col-md-7 col-12" style="margin-top: 30px;">
	                 <label for="">지역 상세</label>
	                 <input type="text" class="form-control" id="">
	               </div>
	               <div class="col-12">
	                 <div class="page-header">
	                   <h4>Billing Information</h4>
	                 </div>
	               </div>
	               <div class=" checkboxArea card-check">
                    <div class="col-sm-12 mb-2">
                      <input id="checkbox1" type="radio" name="checkbox" value="통장" >
                      <label for="checkbox1"><span></span>통장</label>
                    </div>
                    <div class="col-sm-12 mb-2">
                      <input id="checkbox2" type="radio" name="checkbox" value="카드" checked="checked">
                      <label for="checkbox2"><span></span>카드</label>
                      <small class="mb-2 d-block">We accept following credit card</small>
                      <ul class="list-unstyled list-inline">
                        <li><img src="/user/assets/img/products/card1.jpg" alt=""><!--  --></li>
                        <li><img src="/user/assets/img/products/card2.jpg" alt=""><!--  --></li>
                        <li><img src="/user/assets/img/products/card3.jpg" alt=""><!--  --></li>
                        <li><img src="/user/assets/img/products/card4.jpg" alt=""><!--  --></li>
                      </ul>
                      <div class="form-group row my-3 ml-3">
                        <div class="col-md-6">
                          <label for="" class="col-form-label">결제 회사</label>
                          <input class="form-control" name="" type="text" >
                        </div>

                        <div class="col-md-6">
                          <label for="" class="col-form-label">결제 번호</label>
                          <input class="form-control" type="text" >
                        </div>
                      </div>
                    </div>
                  </div>
	               <div class="col-12">
	                 <div class="well well-lg clearfix">
	                   <ul class="pager">
	                     <li class="next"><button type="submit" style=" margin-left: 10px; font-weight: 700;" class="btn btn-primary btn-default float-right">결제 <i class="fa fa-angle-right"></i></button></li>
	                     <li class="prev"><button type="button" style=" margin-left: 10px; font-weight: 700;" class="btn btn-primary btn-default float-right" ><i class="fa fa-angle-left"></i> 이전</button></li>
	                   </ul>
	                 </div>
	               </div>
	             </form>
	           </div>
	         </div>
	         <div class="col-md-4">
	           <div class="summery-box">
	             <h4>Order Summery</h4>
	             <p>Excepteur sint occaecat cupidat non proi dent sunt.officia.</p>
	             <ul class="list-unstyled">
	               <li class="d-flex justify-content-between">
	                 <span class="tag">Subtotal</span>
	                 <span class="val">$237.00</span>
	               </li>
	               <li class="d-flex justify-content-between">
	                 <span class="tag">Shipping & Handling</span>
	                 <span class="val">$12.00 </span>
	               </li>
	               <li class="d-flex justify-content-between">
	                 <span class="tag">Estimated Tax</span>
	                 <span class="val">$0.00 </span>
	               </li>
	               <li class="d-flex justify-content-between">
	                 <span class="tag">Total</span>
	                 <span class="val">USD  $249.00 </span>
	               </li>
	             </ul>
	           </div>
	         </div>
	       </div>
	     </div>
		</section>
	  </th:block>
	 <!-- 사용자 지정 js 파일 -->
	<th:block layout:fragment="customJs"></th:block>
	
	<!-- 사용자 지정 js script -->
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			$('.prev').click(function(){
				const goodsCode = $('.goodsCode').val();
				console.log(goodsCode);
				location.href="/goods/goodsDetail?goodsCode=" + goodsCode;
			})
		</script>
	</th:block>	
</html>