<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	  
  <th:block layout:fragment="customContents">
  	<!-- LIGHT SECTION -->
      <section class="lightSection clearfix pageHeader">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="page-title">
                <h2>Payment Completion</h2>
              </div>
            </div>
            <div class="col-md-6">
              <ol class="breadcrumb float-right">
                <li>
                  <a th:href="@{/}">Home</a>
                </li>
                <li class="active">payment method</li>
              </ol>
            </div>
          </div>
        </div>
      </section>

      <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix stepsWrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="innerWrapper clearfix stepsPage">
                <div class="row progress-wizard" style="border-bottom:0;">
                  <div class="col-6 progress-wizard-step complete fullBar">
	                 <div class="text-center progress-wizard-stepnum">Payment</div>
	                 <div class="progress"><div class="progress-bar"></div></div>
	                 <span class="progress-wizard-dot"></span>
	               </div>
	
	               <div class="col-6 progress-wizard-step complete fullBar">
	                 <div class="text-center progress-wizard-stepnum">Result</div>
	                 <div class="progress"><div class="progress-bar"></div></div>
	                 <span class="progress-wizard-dot"></span>
	               </div>
                </div>

                <div class="page-header mb-4">
                  <h4>Payment Completion</h4>
                </div>

                <div class="cartListInner review-inner row">
                  <form action="#" class="col-sm-12">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th></th>
                            <th>상품명</th>
                            <th></th>
                            <th>총 대여일</th>
                            <th>총 가격</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="">
                              <span class="cartImage"><img src="/user/assets/img/products/cart-image1.jpg" alt="image"></span>
                            </td>
                            <td th:text="${rentalInfo.goodsName}" class="">Italian Winter Hat</td>
                            <td class=""></td>
                            <td th:text="${dayGap} + ' 일'" class="count-input">
                            </td>
                            <td th:text="${rentalInfo.payment.settlementAmount} + ' 원'" class="">$ 99.00</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </form>
                </div>

                <div class="row shipping-info">
                  <div class="col-md-4">
                    <h5>결제 주소</h5>
                    <address th:object="${rentalInfo}">
                      <span th:text="*{sidoName} + ' ' + *{sigunguName}"></span><br>
                      <span th:text="*{payment.userAddrDesc}"></span><br>
                    </address>
                  </div>
                  <div class="col-md-4">
                    <h5>결제 정보</h5>
                    <p th:object="${rentalInfo.payment}">
                      <span th:text="*{paymentAgency} + ' ' + *{paymentType}">Credit Card: </span><br>
                      <span th:text="'**** **** **** ' + *{#strings.substring(paymentAccountOrCardNumber,12, 16)}">*** **** **** 2641</span>
                    </p>
                  </div>
                  <div class="col-md-4">
                    <h5>결제 날짜</h5>
                    <p>
                      <span th:text="'렌탈 시작일 : ' + ${rentalInfo.rentalStartDate}"></span><br>
                      <span th:text="'렌탈 종료일 : ' + ${rentalInfo.rentalEndDate}"></span>
                    </p>
                  </div>
                </div>
                <div class="well well-lg clearfix">
                  <ul class="pager">
                  	<li class="previous float-left"><a class="btn btn-secondary btn-default float-left" th:href="@{/goods/goodsList}">상품목록</a></li>
                    <li class="next"><a class="btn btn-primary btn-default float-right" th:href="@{/}">홈으로<i class="fa fa-angle-right"></i></a></li>
                  </ul>
                </div>

              </div>
            </div>
            <div class="col-md-4">
              <div class="summery-box">
                <h4>Order Summery</h4>
                <p>Excepteur sint occaecat cupidat non proi dent sunt.officia.</p>
                <ul class="list-unstyled">
                  <li class="d-flex justify-content-between">
                    <span class="tag">Subtotal</span>
                    <span class="val">$237.00</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <span class="tag">Shipping & Handling</span>
                    <span class="val">$12.00 </span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <span class="tag">Estimated Tax</span>
                    <span class="val">$0.00 </span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <span class="tag">Total</span>
                    <span class="val">USD  $249.00 </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
  </th:block>