<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/default}">
	<th:block layout:fragment="customContents">
      <div id="rightcolumn" class="right_col" role="main">
		<div class="col-md-12 col-sm-12">
			<div class="x_panel">
               <div class="x_title">
                 <h2>결제 내역 조회 <small>User</small></h2>
                 <div class="clearfix"></div>
               </div>

           	  <div class="x_content">
                <div class="table-responsive">
                  <table class="table table-striped jambo_table bulk_action">
                    <thead>
                      <tr class="headings">
                      	<th class="column-title">상품명</th>
				  		<th class="column-title">렌탈시작일</th>
				  		<th class="column-title">렌탈종료일</th>
				  		<!-- <th class="column-title">택배이용여부</th>
				  		<th class="column-title">주소</th> -->
				  		<th class="column-title">카드,계좌 번호</th>
				  		<th class="column-title">결제기관</th>
				  		<th class="column-title">지불방법</th>
				  		<th class="column-title">결제예정금액</th>
				  		<th class="column-title">플랫폼결제수수료금액</th>
				  		<th class="column-title">적립금사용금액</th>
				  		<th class="column-title">적립되는적립금</th>
				  		<th class="column-title">적립금을제외한금액</th>
				  		<th class="column-title">렌탈오너정산금액</th>
				  		<th class="column-title">결제시간</th>
				  		<th class="column-title">렌탈상태</th>
                        <th class="column-title"></th>
                        <th class="bulk-actions" colspan="15">
                          <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                        </th>
                      </tr>
                    </thead>

                    <tbody>
	                   	<th:block th:unless="${#lists.isEmpty(orderHistory)}" th:each="order, orderState : ${orderHistory}">
	                   		<tr class="even pointer" th:if="${orderState.index % 2 == 0}">
						  		<td th:text="${order.goodsName}"></td>
						  		<td th:text="${order.rentalStartDate}"></td>
						  		<td th:text="${order.rentalEndDate}"></td>
						  		<!-- <td th:text="${order.selectDelivery}"></td>
						  		<td th:text="${order.sidoName} + ' ' + ${order.sigunguName} + ' ' + ${order.payment.userAddrDesc}"></td> -->
						  		<th:block th:object="${order.payment}">
							  		<td th:text="*{paymentAccountOrCardNumber}"></td>
							  		<td th:text="*{paymentAgency}"></td>
							  		<td th:text="*{paymentType}"></td>
						  			<td th:text="*{expectedPaymentAmount}"></td>
							  		<td th:text="*{goodsCommisionTotalPrice}"></td>
							  		<td th:text="*{mileageUsePrice}"></td>
							  		<td th:text="*{saveMileage}"></td>
							  		<td th:text="*{amountExcludingMileage}"></td>
							  		<td th:text="*{settlementAmount}"></td>
							  		<td th:text="*{paymentTime}"></td>
						  		</th:block>
						  		<td th:text="${order.orderStateName}"></td>
						  		<td>
	                            	<a th:href="@{/admin/order/adminOrderModify(rentalCode=${order.rentalCode})}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                            	</td>
	                       </tr>
	                       <tr class="odd pointer" th:unless="${orderState.index % 2 == 0}">
	                         <td th:text="${order.goodsName}"></td>
						  		<td th:text="${order.rentalStartDate}"></td>
						  		<td th:text="${order.rentalEndDate}"></td>
						  		<!-- <td th:text="${order.selectDelivery}"></td>
						  		<td th:text="${order.sidoName} + ' ' + ${order.sigunguName} + ' ' + ${order.payment.userAddrDesc}"></td> -->
						  		<th:block th:object="${order.payment}">
							  		<td th:text="*{paymentAccountOrCardNumber}"></td>
							  		<td th:text="*{paymentAgency}"></td>
							  		<td th:text="*{paymentType}"></td>
						  			<td th:text="*{expectedPaymentAmount}"></td>
							  		<td th:text="*{goodsCommisionTotalPrice}"></td>
							  		<td th:text="*{mileageUsePrice}"></td>
							  		<td th:text="*{saveMileage}"></td>
							  		<td th:text="*{amountExcludingMileage}"></td>
							  		<td th:text="*{settlementAmount}"></td>
							  		<td th:text="*{paymentTime}"></td>
						  		</th:block>
						  		<td th:text="${order.orderStateName}"></td>
						  		<td>
	                            	<a th:href="@{/admin/order/adminOrderModify(rentalCode=${order.rentalCode})}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                            	</td>
	                       </tr>
	                   	</th:block>
	                   	<tr th:if="${#lists.isEmpty(orderHistory)}">
							<td colspan="17">등록한 결제가 없습니다.</td>
						</tr>
                       </tbody>
                       <tfoot>
                       	  <tr>
				  		    <td colspan="15">
				  		   	  <div class="col-sm-12">
					            <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
								  <ul class="pagination">
									 <li class="paginate_button previous disabled" id="datatable-checkbox_previous" th:if="${pagination.curPage != 1}">
										<a th:href="@{/admin/order/adminOrderHistory(curPage=${pagination.curPage})}" aria-label="Prev">Prev</a>
									 </li>
										
									<th:block th:each="pageNum : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
										<li class="active" th:if="${pageNum == pagination.curPage}">
											<a th:text="${pageNum}"></a>
										</li>
										<li th:unless="${pageNum == pagination.curPage}">
											<a th:href="@{/admin/order/adminOrderHistory(curPage=${pagination.curPage})}" th:text="${pageNum}"></a>
										</li>
									</th:block>
			
									<li th:if="${pagination.curPage != pagination.pageCnt && pagination.pageCnt > 0}">
										<a th:href="@{/admin/order/adminOrderHistory(curPage=${pagination.curPage})}" aria-label="Next">Next</a>
									</li>
								  </ul>
								</div>
					          </div>
				  		    </td>
				  		  </tr>
                        </tfoot>
               		  </table>
                	</div>
                  </div>
            	</div>
         	  </div>
        	</div>
       	 <th:block layout:fragment="customScript">
       </th:block>
	</th:block>
</html>