<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	  
	  <th:block layout:fragment="customContents">
	  	<h1>메인화면</h1>
	  	<h3><a th:href="@{/admin/insurance/adminInsuranceList}" style="color:blue;">adminInsuranceList.html</a></h3>
	  	<h3><a th:href="@{/admin/insurance/adminInsuranceBillList}" style="color:blue;">adminInsuranceBillList.html</a></h3>
	  	<h3><a th:href="@{/admin/insurance/adminInsuranceBillPayoutList}" style="color:blue;">adminInsuranceBillPayoutList.html</a></h3>
	  	
	  </th:block>
	  
</html>