<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/default}">

	<th:block layout:fragment="customContents">
		<h1>메인화면</h1>
			<br>
			<a th:href="@{/admin/review/adminReviewList}" style="color: blue;">관리자 상품평 관리</a>
			<br>
			<a th:href="@{/admin/goods/adminGoodsList}" style="color: blue;">관리자 상품 관리</a>
			<br>
			<a th:href="@{/admin/goods/adminGoodsList}" style="color: blue;">관리자 상품 관리</a>
			<br>
			<a th:href="@{/admin/order/adminOrderHistory}" style="color: blue;">관리자 주문 내역 관리</a>
			<br>
			<a th:href="@{/admin/order/adminWaybillList}" style="color: blue;">관리자 운송번호 내역 관리</a>
			<br>
			<a th:href="@{/admin/order/adminRentalcancelList}" style="color: blue;">관리자 주문취소 내역 관리</a>
			<br>
			<a th:href="@{/admin/order/adminReturnList}" style="color: blue;">관리자 환불 내역 관리</a>
	</th:block>

</html>