<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">

	<th:block layout:fragment="customContents">
		<h1>메인화면</h1>
			<br>
			<a th:href="@{/admin/review/adminReviewList}" style="color: blue;">관리자 상품평 관리</a>
			<br>
			<a th:href="@{/admin/goods/adminGoodsList}" style="color: blue;">관리자 상품 관리</a>
			<br>
			<a th:href="@{/admin/goods/adminGoodsList}" style="color: blue;">관리자 상품 관리</a>
			<br>
			<a th:href="@{/admin/order/adminOrderHistory}" style="color: blue;">관리자 주문 내역 관리</a>
			<br>
			<a th:href="@{/admin/order/adminWaybillList}" style="color: blue;">관리자 운송번호 내역 관리</a>
			<br>
			<a th:href="@{/admin/order/adminRentalcancelList}" style="color: blue;">관리자 주문취소 내역 관리</a>
			<br>
			<a th:href="@{/admin/order/adminReturnList}" style="color: blue;">관리자 환불 내역 관리</a>
			<br>
			<a th:href="@{/admin/insurance/adminInsuranceList}" style="color: blue;">관리자 보험 리스트</a>
			<br>
			<a th:href="@{/admin/block/adminBlockList}" style="color: blue;">관리자 회원 차단 목록</a>
			<br>
			<a th:href="@{/admin/profit/adminProfitList}" style="color: blue;">관리자 회원 수익 목록</a>
			<br>
			<a th:href="@{/admin/userManagement/userList}" style="color: blue;">회원목록</a>
			<br>
			<a th:href="@{/admin/board/adminInquiryList}" style="color: blue;">1 대 1 문의 게시글 목록</a>
			<br>
			<a th:href="@{/admin/commisionRate/adminCommisionRateList}" style="color: blue;">플랫폼 수수료율 목록</a>
			<br>
			<a th:href="@{/admin/mileage/adminMileageList}" style="color: blue;">모든 회원 적립금 목록</a>
			<br>
			<a th:href="@{/admin/alarm/adminAlarmList}" style="color: blue;">알림 내용 목록</a>
			<br>
			<a th:href="@{/admin/report/adminReportList}" style="color: blue;">신고 목록</a>
			
			
	</th:block>
</html>