<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	  
	  <th:block layout:fragment="customContents">
	  	<!-- Preloader -->
	    <div id="preloader" class="smooth-loader-wrapper">
	      <div class="preloader_container">
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	      </div>
	    </div>
	  	<h1>메인화면</h1>
	  </th:block>
</html>