<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	  
	  <th:block layout:fragment="customContents">
	  	<h1>관리자보험리스트</h1><br>
	  	<h3>현재 보험에 가입되어 있는 유저를 보여줍니다</h3><br>
	  	<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">insurance_code</th>
		      <th scope="col">user_id</th>
		      <th scope="col">goods_code</th>
		      <th scope="col">payment_code</th>
		      <th scope="col">rental_code</th>
		      <th scope="col">insurance_sign_up_time</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:if="${not #lists.isEmpty(adminInsuranceList)}"
		    	 th:each="l : ${adminInsuranceList}">	
		      <td th:text="${l.insuranceCode}"></td>
		      <td th:text="${l.userId}"></td>
		      <td th:text="${l.goodsCode}"></td>
		      <td th:text="${l.paymentCode}"></td>
		      <td th:text="${l.rentalCode}"></td>
		      <td th:text="${l.insuranceSignUpTime}"></td>
		    </tr>
		    <tr th:unless="${not #lists.isEmpty(adminInsuranceList)}">
		    	<td colspan="9">등록된 상품이 없습니다.</td>
		    </tr>
		  </tbody>
		</table>
		<a th:href="@{/admin/insurance/adminRemoveInsurance}" style="color:blue;">관리자보험삭제</a>
		<br>
		<a th:href="@{/admin/insurance/adminInsuranceBillList}" style="color:blue;">관리자보험청구서리스트</a>
		<br>
	  	<a th:href="@{/admin/insurance/adminAddInsuranceBillPayout}" style="color:blue;">관리자보상금지급내역등록</a>
		<br>
		<a th:href="@{/admin/insurance/adminInsuranceBillPayoutList}" style="color:blue;">관리자보상금지급내역</a>
		<br>
	  </th:block>
	  
</html>