<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	  
	  <th:block layout:fragment="customContents">
	  <div class="right_col" role="main">
	  	<h1>관리자보험청구상태</h1><br>
	  	<div class="clearfix"></div>
              <div class="col-md-12 col-sm-12  ">
                    <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action text-center">
                        <thead>
                          <tr class="headings">
                            <th>
                              <input type="checkbox" id="check-all" class="flat">
                            </th>
                            <th class="column-title">보상금청구상태코드 </th>
                            <th class="column-title">보험가입자아이디</th>
                            <th class="column-title">보상금신청코드</th>
                            <th class="column-title">보상금청구상태이름코드</th>
                            <th class="column-title">상태업데이트날짜</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="even pointer" th:if="${not #lists.isEmpty(adminInsuranceBillList)}" th:each="l : ${adminInsuranceBillList}">	
                            <td class="a-center "><input type="checkbox" class="flat" name="table_records"></td>
                            <td th:text="${l.insuranceBillCode}"></td>
						    <td th:text="${l.userId}"></td>
						    <td th:text="${l.insuranceBillDetailCode}"></td>
						    <td th:text="${l.insuranceBillStateCode}"></td>
						    <td th:text="${l.insuranceBillModifyDate}"></td>
                          </tr>
                           <tr th:unless="${not #lists.isEmpty(adminInsuranceBillList)}">
				    			<td colspan="9">등록된 상품이 없습니다.</td>
				    		</tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
	  </th:block>
	  
</html>