<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	  
	  <th:block layout:fragment="customContents">
		  <div class="right_col" role="main">
		  	<h1>관리자보상금청구서상세화면</h1>
		  	<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">insurance_bill_detail_code</th>
			      <th scope="col">insurance_code</th>
			      <th scope="col">user_id</th>
			      <th scope="col">goods_code</th>
			      <th scope="col">payment_code</th>
			      <th scope="col">accident_date</th>
			      <th scope="col">accident_type</th>
			      <th scope="col">accident_content</th>
			      <th scope="col">insurance_evidence</th>
			      <th scope="col">bank_name</th>
			      <th scope="col">account_holder</th>
			      <th scope="col">account_number</th>
			      <th scope="col">request_date</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:if="${not #lists.isEmpty(adminInsuranceBillDetail)}"
			    	 th:each="l : ${adminInsuranceBillDetail}">	
			      <td th:text="${l.insuranceBillDetailCode}"></td>
			      <td th:text="${l.insuranceCode}"></td>
			      <td th:text="${l.userId}"></td>
			      <td th:text="${l.goodsCode}"></td>
			      <td th:text="${l.paymentCode}"></td>
			      <td th:text="${l.accidentDate}"></td>
			      <td th:text="${l.accidentType}"></td>
			      <td th:text="${l.accidentContent}"></td>
			      <td th:text="${l.insuranceEvidence}"></td>
			      <td th:text="${l.bankName}"></td>
			      <td th:text="${l.accountHolder}"></td>
			      <td th:text="${l.accountNumber}"></td>
			      <td th:text="${l.requestDate}"></td>
			    </tr>
			    <tr th:unless="${not #lists.isEmpty(adminInsuranceBillDetail)}">
			    	<td colspan="9">등록된 상품이 없습니다.</td>
			    </tr>
			  </tbody>
			</table>
			</div>
	  </th:block>
</html>