<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">
<head>
<meta charset="UTF-8">
<title>Room</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
	<th:block layout:fragment="customContents">

		<!-- LIGHT SECTION -->
	      <section class="lightSection clearfix pageHeader">
	        <div class="container">
	          <div class="row">
	            <div class="col-md-6">
	              <div class="page-title">
	                <h2>chatroom list</h2>
	              </div>
	            </div>
	            <div class="col-md-6">
	              <ol class="breadcrumb pull-right">
	                <li>
	                  <a th:href="@{/}">Home</a>
	                </li>
	                <li class="active">chatroom list</li>
	              </ol>
	            </div>
	          </div>
	        </div>
	      </section>




      <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix userProfile">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="innerWrapper">
                <div class="orderBox myAddress wishList">
                  <h2>ChatRoom List</h2>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th></th>
                          <th style="text-align:center; " colspan=2>대화 상대</th>
                          <th style="width:15%; text-align:center; ">채팅방 생성 시간</th>
                          <th style="width:15%; text-align:center; ">채팅방 입장</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="crl : ${chatRoomList}">
                          <td style="width:5%; text-align:center">
                            <button style="text-align:center" type="button" class="close" data-dismiss="alert" aria-label="Close"><span style="text-align:center;" aria-hidden="true">&times;</span></button>
                          </td>
                          <td class="" style="text-align:center;"> 
                            <span class="cartImage"><img src="user/assets/img/products/cart-image1.jpg" alt="image"></span>
                          </td>
                          
                          <td style="text-align:center;" th:if="${loginUser.loginId.equals(crl.renterId)}" th:text="${crl.ownerId}"></td>
                          <td style="text-align:center;" th:if="${loginUser.loginId.equals(crl.ownerId)}" th:text="${crl.renterId}"></td>
						  <td style="width:15%; text-align:center; " th:text="${crl.chatRoomAddTime}"></td>
						  <td style="width:15%; text-align:center" ><a th:href="@{/chat(chatRoomCode=${crl.chatRoomCode})}"><button type="button" class="btn btn-primary">입장</button></a></td>
              
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>











<!-- 
		Grid wrapper for ell elements

		<div class="grid-wrapper section">
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-12 element-content pt-5">

============================================= ## tables ===============================================

						<div id="tables" class="element_single">
							<div class="display-single_element">

								<h3 style="margin: 30px 0">Table striped</h3>
								<table class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>@</th>
											<th>대화 상대</th>
											<th>채팅방 생성 시간</th>
											<th>채팅방 입장</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="crl : ${chatRoomList}">
											<td>@</td>
											<td style="text-align:center; font-size:15px" th:text="${crl.ownerId}"></td>
											<td style="width:13%; text-align:center; font-size:15px" th:text="${crl.chatRoomAddTime}"></td>
											<td style="width:13%; text-align:center" ><a><button type="button" class="btn btn-primary">채팅방 입장</button></a></td>
										</tr>
									</tbody>
								</table>
							</div>
							Tables here
						</div>
					</div>
					element-content ends
				</div>
			</div>
			element main container ends
		</div>
		Grid wrapper ends
		 -->
	</th:block>
</body>
</html>