<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">
	<th:block layout:fragment="customContents">
		<!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix logIn" style="height:60vh !important">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-7 col-lg-8 col-xl-7 col-12">
              <div class="panel panel-default">
                <div class="panel-heading"><h3>비밀번호 확인</h3></div>
                <div class="panel-body">
                  <form id="checkPasswordForm" th:action="@{/myPage/checkPassword}" method="post" role="form">
                    <div class="form-group">
                      <label for="">비밀번호</label>
                      <input type="password" class="form-control" id="userPw" name="userPw">
                    </div>
                    <button type="submit" id="submitBtn" class="btn btn-primary btn-default btn-block">입력</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
	</th:block>
	 <th:block layout:fragment="customScript">
		<script th:inline="javascript"> 
				  $(function(){ 
	                	const msg = [[ ${msg} ]];
	                    if(msg != null) alert(msg);
				 		
		                $('#submitBtn').click(function(){
		                  
		                    const userPw = $('#userPw').val();
		
		                    if(typeof userPw == 'undifined' 
		                    		|| userPw == null 
		                    		|| userPw == ''){
		                        alert('비밀번호를 입력하세요.');
		                        $('#userPw').focus();
		                        return false;
		                    }
		                    
		                    $('#checkPasswordForm').submit();
		                })
		            });
		</script>
</th:block>
</html>