<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	  
	<th:block layout:fragment="customContents">
	  <!-- LIGHT SECTION -->
      <section class="lightSection clearfix pageHeader">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="page-title">
                <h2>MY BLOCK LIST</h2>
              </div>
            </div>
            <div class="col-md-6">
              <ol class="breadcrumb pull-right">
                <li>
                  <a th:href="@{/}">Home</a>
                </li>
                <li>
                  <a th:href="@{/myPage/myInfo}">myInfo</a>
                </li>
                <li class="active">MY BLOCK LIST</li>
              </ol>
            </div>
          </div>
        </div>
      </section>
      
	  <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix userProfile">
        <div class="container">
          
          <div class="row">
            <div class="col-sm-12">
              <div class="innerWrapper">
                <div class="orderBox myAddress wishList">               	
                   <h2 th:text="${loginNickName} + '님 BLOCK LIST'"></h2>
                   
                  <div class="table-responsive">
                    <table class="table" id="myBlockListTr">
                      <thead>
                        <tr>
                          <th>차단코드</th>
                          <th>차단한 회원 ID</th>
                          <th>차단 날짜</th> 
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:unless="${#lists.isEmpty(getUserBlockrList)}" th:each="bl : ${getUserBlockrList}">
                          <td th:text="${bl.blockCode}"></td>
                          <td th:text="${bl.blockedUserId}"></td>
                          <td th:text="${bl.blockDate}"></td>
                          <td>
                            <a th:href="@{/user/block/removeBlock}" class="btn btn-sm btn-secondary-outlined">차단 삭제</a>
                          </td>
                         
                        </tr>
                        <tr th:if="${#lists.isEmpty(getUserBlockrList)}">
			              	<td colspan="5">등록한 차단 ID가 없습니다.</td>
			            </tr>
                     
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
	</th:block>
</html>