<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	  
	<th:block layout:fragment="customContents">
	  <!-- LIGHT SECTION -->
      <section class="lightSection clearfix pageHeader">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="page-title">
                <h2>MY ITEMS</h2>
              </div>
            </div>
            <div class="col-md-6">
              <ol class="breadcrumb pull-right">
                <li>
                  <a th:href="@{/}">Home</a>
                </li>
                <li>
                  <a th:href="@{/myPage/myInfo}">myInfo</a>
                </li>
                <li class="active">MY ITEMS</li>
              </ol>
            </div>
          </div>
        </div>
      </section>
	
	  <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix userProfile">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="btn-group" role="group" aria-label="...">
                <a href="account-dashboard.html" class="btn btn-default"><i class="fa fa-th" aria-hidden="true"></i>Account Dashboard</a>
                <a href="account-profile.html" class="btn btn-default"><i class="fa fa-user" aria-hidden="true"></i>Profile</a>
                <a href="account-address.html" class="btn btn-default"><i class="fa fa-map-marker" aria-hidden="true"></i>My Address</a>
                <a href="account-all-orders.html" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i>All Orders</a>
                <a href="account-wishlist.html" class="btn btn-default active"><i class="fa fa-gift" aria-hidden="true"></i>Wishlist</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="innerWrapper">
                <div class="orderBox myAddress wishList">
                  <h2>My Items</h2>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>삭제</th>
                          <th style="text-align:center">상품명</th>
                          <th style="text-align:center">카테고리</th>
                          <th style="text-align:center">렌탈가능여부</th>
                          <th style="text-align:center">가격</th>
                          <th style="text-align:center">판매지역</th>
                          <th style="text-align:center">등록일자</th>
                          <th style="text-align:center">상품수정</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="mgl : ${myGoodsList}" th:if="${not #lists.isEmpty(goodsList)}">
                          <td>
                          	<form class="removeGoodsForm" th:action="@{/myPage/myRemoveGoods}" method="post">
			    				<button type="submit"
			    						class="bi bi-x-lg"
			    						th:value="${mgl.goodsCode}"
			    						name="goodsCode">
			    				</button>
			    			</form>
                          </td>
                          <td style="text-align:center" th:text="${mgl.goodsName}"></td>
                          <td style="text-align:center" th:text="${mgl.goodsCategoryName}"></td>
                          <td style="text-align:center" th:text="${mgl.goodsRentalAvailability}"></td>
                          <td style="text-align:center" th:text="${mgl.goodsDayPrice}"></td>
                          <td style="text-align:center" th:text="${mgl.userRegion}"></td>
                          <td style="text-align:center" th:text="${mgl.goodsRegDate}"></td>
                          <td style="text-align:center">
                            <a th:href="@{/goods/modifyGoods(goodsCode=${mgl.goodsCode})}" class="btn btn-sm btn-secondary-outlined">수정</a>
                          </td>
   
                        </tr>
           				<tr th:unless="${not #lists.isEmpty(goodsList)}">
							<td colspan="8" style="text-align:center;">등록한 상품이 없습니다.</td>
						</tr>
                        
                      </tbody>
                    </table>
                  </div>
                </div>
                
                
                              <div class="blogPage" style="display: flex; justify-content:center;">
				<ul class="pagination" style="margin:3px">
					<li th:if="${pagination.curRange != 1}">
						<a th:href="@{/myPage/myGoodsList}" aria-label="First"><span aria-hidden="true"></span></a>
					</li>
					<li th:if="${pagination.curPage != 1}">
						<a th:href="@{/myPage/myGoodsList(curPage=${pagination.prevPage})}" aria-label="Prev"> <span aria-hidden="true">&#60;</span></a>
					</li>
					
					<th:block th:each="pageNum : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
						<li class="active" th:if="${pageNum == pagination.curPage}">
							<a th:text="${pageNum}"></a>
						</li>
						<li th:unless="${pageNum == pagination.curPage} or ${pagination.listCnt == 0}">
							<a th:href="@{/myPage/myGoodsList(curPage=${pageNum})}" th:text="${pageNum}"></a>
						</li>
					</th:block>

					<li th:if="${pagination.curPage != pagination.pageCnt && pagination.pageCnt > 0}">
						<a th:href="@{/myPage/myGoodsList(curPage=${pagination.nextPage})}" aria-label="Next"> <span aria-hidden="true">&#62;</span></a>
					</li>
					<li th:if="${pagination.curRange != pagination.rangeCnt && pagination.rangeCnt > 0}">
						<a th:href="@{/myPage/myGoodsList(curPage=${pagination.pageCnt})}" aria-label="Last"> <span aria-hidden="true">>></span></a>
					</li>
				</ul>
              </div>
                
                
                
                
                
                
              </div>
            </div>
          </div>
        </div>
      </section>
      
      
	</th:block>
	
      <th:block layout:fragment="customScript">
	      <script type="text/javascript">
	
			$('.bi-x-lg').click(function(){
				
				if(!confirm('상품을 삭제하시겠습니까?')) {
					return false;
				}else{
					$('.removeGoodsForm').submit();
					alert('상품이 삭제되었습니다.');
				}
			}); 
		  </script>
      </th:block>
      
</html>