<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	  <head>
		  <style>
		  	select > option{
		  		background-color: white;
		  	}
		  </style>
	  </head>
  	<th:block layout:fragment="customContents">

		<!-- <a th:href="@{/myPage/modifyUser}" style="color:blue;">수정</a>
		<a th:href="@{/myPage/removeUser}" style="color:blue;">탈퇴</a> -->

	<!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix userProfile">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="btn-group" role="group" aria-label="...">
              	<a th:href="@{/myPage/myInfo}" class="btn btn-default active"><i class="fa fa-user" aria-hidden="true"></i>Profile</a>
                <a th:href="@{/myPage/myGoodsList}" class="btn btn-default"><i class="fa fa-th" aria-hidden="true"></i>내 상품</a>
                <a th:href="@{/myPage/myReviewList}" class="btn btn-default active"><i class="fa fa-list" aria-hidden="true"></i>내 리뷰</a>
                <a th:href="@{/myPage/myWishList}" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i>내 관심상품</a>
                <a th:href="@{/myPage/myOrderList}" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i>내 주문 내역</a>
                <a th:href="@{/myPage/userEvaluation}" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i>내 평가</a>
                <a th:href="@{/myPage/userEvaluated}" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i>내가 한 평가</a>
                <a th:href="@{/myPage/myBlockList}" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i>나의 차단 목록</a>
                <a th:href="@{/myPage/myProfitList}" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i>나의 수익 목록</a>
                <a th:href="@{/myPage/myMileageList}" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i>내 적립금 내역</a>
                <a th:href="@{/myPage/alarmList}" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i>내 알림 목록</a>
                <a th:href="@{/myPage/myExperience}" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i>내 경험치</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="innerWrapper profile">
                <div class="orderBox">
                  <h2 th:text="|${loginNickName} 님의 정보|"></h2>
                </div>
                <div class="row">
                  <div class="col-md-4 col-lg-3 col-xl-2 col-12">
                  </div>
                  <div class="col-md-8 col-lg-9 col-xl-10 col-12">
                      <form id="userInfoForm" class="form-horizontal" th:action="@{/myPage/myInfo}" method="POST" role="form">
                        <div class="form-group row">
                          <label for="userId" class="col-md-2 control-label">아이디</label>
                          <div class="col-md-8">
                            <input type="text" class="form-control" id="userId" name="userId" readonly th:value="${userInfo.userId}">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="userPw" class="col-md-2 control-label">비밀번호</label>
                          <div class="col-md-8">
                            <input type="password" class="form-control" id="userPw" name="userPw" th:value="${userInfo.userPw}">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="" class="col-md-2 control-label">이름</label>
                          <div class="col-md-8">
                            <input type="text" class="form-control" id="userName" name="userName" th:value="${userInfo.userName}">
                          </div>
                        </div>	
                        <div class="form-group row">
                          <label for="userNickName" class="col-md-2 control-label">닉네임</label>
                          <div class="col-md-8">
                            <input type="text" class="form-control" id="userNickName" name="userNickName" th:value="${userInfo.userNickName}"  readonly>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="userEmail" class="col-md-2 control-label">이메일</label>
                          <div class="col-md-10 row">
                          <input type="text" id="userEmail" name="userEmail" class="form-control"  th:value="${userInfo.userEmail}" hidden> 
                          <input type="text" id="userEmailId" name="userEmailId" class="form-control col-md-3" style="margin-left: 17px;" th:value="${userInfo.userEmailId}"> 
                          <p class="px-1" style="font-size: 13px; margin-top: 10px">@</p>
                            <input type="text" class="form-control col-md-3" id="userEmailAddr" name="userEmailAddr" th:value="${userInfo.userEmailAddr}">
	                          <select id="selectEmail" class="form-control col-md-3" style="margin-left:10px">
	                      		<option>직접입력</option>
	                      		<option>naver.com</option>
	                      		<option>daum.net</option>
	                      		<option>hotmail.com</option>
	                      		<option>nate.com</option>
	                      		<option>yahoo.co.kr</option>
	                      		<option>para.com</option>
	                      		<option>empas.com</option>
	                      		<option>dreamwiz.com</option>
	                      		<option>freechal.com</option>
	                      		<option>lycos.co.kr</option>
	                      		<option>korea.com</option>
	                      		<option>gmail.com</option>
	                      		<option>hanmil.com</option>
		                      </select>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="userPhoneNumber" class="col-md-2 control-label">전화번호</label>
                          <div class="col-md-10">
                         	 <div class="row">
	                          <select id="userFirstPhoneNumber" class="form-control col-md-3" style="margin-left: 17px;" th:value="${userInfo.userFirstPhoneNumber}">
	                      		<option th:value="010">010</option>
	                      		<option th:value="011">011</option>
	                      		<option th:value="016">016</option>
	                      		<option th:value="017">017</option>
	                      		<option th:value="018">018</option>
	                      		<option th:value="019">019</option>
		                      </select>
		                       <p class="px-1" style="font-size: 13px; margin-top: 10px">-</p>
                           	 <input type="text" class="form-control col-md-3" id="userMiddlePhoneNumber" th:value="${userInfo.userMiddlePhoneNumber}">
                           	 	<p class="px-1" style="font-size: 13px; margin-top: 10px">-</p>
                           	 <input type="text" class="form-control" id="userLastPhoneNumber" th:value="${userInfo.userLastPhoneNumber}" style="width:170px">
		                     </div>
                           	 <input type="text" class="form-control" id="userPhoneNumber" name="userPhoneNumber" th:value="${userInfo.userPhoneNumber}" hidden>
                          </div>
                         </div>
                     	<div class="form-group row">
                      <label for="regionSidoCode" class="col-md-2 control-label">주소</label>
                      <div class="col-md-9 row">
                      	
	                      <select id="regionSidoCode" name="regionSidoCode" class="form-control" style="width: 280px; margin-left: 17px">
	                      	<option th:value="${userInfo.regionSido.regionSidoCode}">[[${userInfo.regionSido.regionSidoName}]]</option>
	                      	<th:block th:if="${not #lists.isEmpty(regionSidoCode)}" th:each="sido : ${regionSidoCode}">
	                      		<option th:value="${sido.regionSidoCode}">[[${sido.regionSidoName}]]</option>
	                      	</th:block>
	                      	<th:block th:unless="${not #lists.isEmpty(regionSidoCode)}">
									<option>등록된 지역이 없습니다.</option>
							</th:block>
	                      </select>
                     
                      	
	                      <select id="regionSggCode" name="regionSggCode" class="form-control" style="width: 280px; margin-left: 10px">
	                      	<option th:value="${userInfo.regionSgg.regionSggCode}">[[${userInfo.regionSgg.regionSggName}]]</option>
	                      </select>
	                    </div>
                      </div>
                   
                          <div class="form-group row">
	                          <label for="userAddrDesc" class="col-md-2 control-label">상세주소</label>
	                          <div style="margin-left:17px; width: 570px">
	                            <input type="text" class="form-control" id="userAddrDesc" name="userAddrDesc" th:value="${userInfo.userAddrDesc}">
	                          </div>
                          </div>
                        <div class="form-group row">
                          <div class=" col-md-10">
                            <button id="submitBtn" type="button" class="btn btn-primary float-right">수정</button>
                          </div>
                        </div>
                      </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
	</th:block>
	<th:block layout:fragment="customScript">
	<script th:inline="javascript">
		$('#regionSidoCode').change(function(){
	    			
			var project = $('#regionSidoCode').val();
			
			$.ajax({
					type: 'POST',
					url: '/addUser/ajaxProject',
					data: { project },
					success: function(result){
						
						var sggOption = {};
						var blankOption = '<option></option>';
						var defaultOption = '<option>등록된 지역이 없습니다.</option>';
						
						for (var i = 0; i < result.length; i++) {
						 sggOption += '<option value="' + result[i].regionSggCode + '">' + result[i].regionSggName + '</option>';	    			
						}
						
						if(result == '' || result == 'undefined') {
							 $('#regionSggCode').html(defaultOption);
						}else{
							 $('#regionSggCode').html(blankOption);
							 $('#regionSggCode').append(sggOption);
						}
					},
					error: function(project) {
						alert("error");
					}
				})
		});
		
		$('#selectEmail').change(function(){
			var selectEmailValue = $('#selectEmail').val();
			if($('#selectEmail').val() == '직접입력') {
				$('#userEmailAddr').val('');
			}else{
				$('#userEmailAddr').val(selectEmailValue);
			}
		})
		
		$('#submitBtn').click(function(){
			var userEmailId = $('#userEmailId').val();
			var userEmailAddr = $('#userEmailAddr').val();
			var userFirstPhoneNumber = $('#userFirstPhoneNumber').val();
			var userMiddlePhoneNumber = $('#userMiddlePhoneNumber').val();
			var userLastPhoneNumber = $('#userLastPhoneNumber').val();
			
			$('#userEmail').val(userEmailId + '@' + userEmailAddr);
			$('#userPhoneNumber').val('0' + userFirstPhoneNumber + userMiddlePhoneNumber + userLastPhoneNumber);
		});
		
		$(function(){
			function validateValue(checkValue){
				if(typeof checkValue == 'undefined'
						|| checkValue == null
						|| checkValue == '' ){
					return true;
				}
				return false;
			}
			
			$('#submitBtn').click(function(){
				var userEmailId = $('#userEmailId').val();
				var userEmailAddr = $('#userEmailAddr').val();
				var userFirstPhoneNumber = $('#userFirstPhoneNumber').val();
				var userMiddlePhoneNumber = $('#userMiddlePhoneNumber').val();
				var userLastPhoneNumber = $('#userLastPhoneNumber').val();
				
				
				var pwJ = /^.*(?=^.{8,15}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&+=]).*$/;
				var nameJ = /^[A-Za-z가-힣]{2,20}$/;
				var mailIdJ = /^[0-9a-z]{2,20}$/;
				var mailAddrJ = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
				var phoneJ = /^[0-9]{4}$/;
				var addrJ = /^[가-힣0-9 ,-@.~_]{2,30}$/
			
				var userPw = $('#userPw').val();		
				if(validateValue(userPw)) {
					alert('비밀번호를 입력해 주세요.');
					$('#userPw').focus();
					return false;
				}
				
				if(!pwJ.test(userPw)){
					alert('8~15자 영문 대 소문자, 숫자, 특수문자를 사용하세요.');
					$('#userPw').focus();
					return false;	
				}
				
				var userName = $('#userName').val();
				if(validateValue(userName)) {
					alert('이름을 입력해 주세요.');
					$('#userName').focus();
					return false;
				}
				
				if(!nameJ.test(userName)){
					alert('올바른 이름을 입력해 주세요.');	
					$('#userName').focus();
					return false;	
				}
				
				var userEmailId = $('#userEmailId').val();
				if(validateValue(userEmailId)) {
					alert('이메일을 입력해 주세요.');
					$('#userEmailId').focus();
					return false;
				}
				
				if(!mailIdJ.test(userEmailId)){
					alert('올바른 이메일을 입력해주세요.');
					$('#userEmailId').focus();
					return false;	
				}
				
				var userEmailAddr = $('#userEmailAddr').val();
				if(validateValue(userEmailAddr)) {
					alert('이메일을 입력해 주세요.');
					$('#userEmailAddr').focus();
					return false;
				}
				
				if(!mailAddrJ.test(userEmailAddr)){
					alert('올바른 이메일을 입력해주세요.');
					$('#userEmailAddr').focus();
					return false;	
				}
				
				var userMiddlePhoneNumber = $('#userMiddlePhoneNumber').val();
				if(validateValue(userMiddlePhoneNumber)) {
					alert('전화번호를 입력해 주세요.');
					$('#userMiddlePhoneNumber').focus();
					return false;
				}
				
				if(!phoneJ.test(userMiddlePhoneNumber)){
					alert('올바른 전화번호를 입력해 주세요.');
					$('#userPhoneNumber').focus();
					return false;	
				}
				
				var userLastPhoneNumber = $('#userLastPhoneNumber').val();
				if(validateValue(userLastPhoneNumber)) {
					alert('전화번호를 입력해 주세요.');
					$('#userLastPhoneNumber').focus();
					return false;
				}
				
				if(!phoneJ.test(userLastPhoneNumber)){
					alert('올바른 전화번호를 입력해 주세요.');
					$('#userLastPhoneNumber').focus();
					return false;	
				}
			
				var regionSggCode = $('#regionSggCode').val();
				if(regionSggCode == ''){
					alert('주소를 골라 주세요.');
					$('#regionSggCode').focus();
					return false;
				}
				
				var userAddrDesc = $('#userAddrDesc').val();
				if(validateValue(userAddrDesc)) {
					alert('상세주소를 입력해 주세요.');
					$('#userAddrDesc').focus();
					return false;
				}
			
				if(!addrJ.test(userAddrDesc)){
					alert('올바른 상세주소를 입력해 주세요.');
					$('#userAddrDesc').focus();
					return false;	
				}
				
				if(!confirm('정말로 수정하시겠습니까?')){
					return false;
				}else{
					
				$('#userEmail').val(userEmailId + '@' + userEmailAddr);
				$('#userPhoneNumber').val('0' + userFirstPhoneNumber + userMiddlePhoneNumber + userLastPhoneNumber);
				
				$('#userInfoForm').submit();
				}
				
				
				})
			});
		</script>
	</th:block>
</html>