<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">
<th:block layout:fragment="customContents">

	<!-- MAIN CONTENT SECTION -->
	<section class="mainContent clearfix blogPage singleBlog">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-12 order-12">
					<div class="row">
						<div class="col-sm-12">
							<h1>나의 적립금 내역.</h1>
							<table class="table">
								<thead>
									<tr>
										<th scope="col">번호</th>
										<th scope="col">사용/적립</th>
										<th scope="col">변동 사유</th>
										<th scope="col">적립/사용된 금액</th>
										<th scope="col">변동 날짜</th>
										<th scope="col">변동 후 총 적립금</th>
									</tr>
								</thead>
								<tbody>
									<th scope="row">1</th>
									<tr th:if="${not #lists.isEmpty(mileageList)}"
										th:each="l : ${mileageList}">
										<td th:text="${l.mileageSaveUseType}"></td>
										<td th:text="${l.mileageChangeReason}"></td>
										<td th:text=${l.mileageChange}></td>
										<td th:text=${l.mileageChangeTime}></td>
										<td th:text=${l.mileageTotal}></td>
									</tr>
									<tr th:unless="${not #lists.isEmpty(mileageList)}">
										<td colspan="9">적립금 내역이 없습니다.</td>
									</tr>

								</tbody>
							</table>


						</div>
					</div>

				</div>
				<div class="col-lg-3 col-md-12 order-1 sideBar">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search"
							aria-describedby="basic-addon2"> <a href="#"
							class="input-group-addon" id="basic-addon2"><i
							class="fa fa-search"></i></a>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">categories</div>
						<div class="panel-body">
							<ul class="list-unstyle sidebar-list">
								<li><a href="#"><i class="fa fa-caret-right"
										aria-hidden="true"></i>Accessories <span>(6)</span></a></li>
								<li><a href="#"><i class="fa fa-caret-right"
										aria-hidden="true"></i>Bag <span>(6)</span></a></li>
								<li><a href="#"><i class="fa fa-caret-right"
										aria-hidden="true"></i>Cloths <span>(25)</span></a></li>
								<li><a href="#"><i class="fa fa-caret-right"
										aria-hidden="true"></i>Bed &amp; Bath <span>(2)</span></a></li>
								<li><a href="#"><i class="fa fa-caret-right"
										aria-hidden="true"></i>Swimming costume <span>(5)</span></a></li>
								<li><a href="#"><i class="fa fa-caret-right"
										aria-hidden="true"></i>Sport Tops &amp; Shoes <span>(3)</span></a></li>
							</ul>
						</div>
					</div>
					<div class="panel panel-default recentBlogPosts">
						<div class="panel-heading">recent posts</div>
						<div class="panel-body">
							<div class="media">
								<a class="media-left" href="blog-single-right-sidebar.html">
									<img class="media-object"
									src="assets/img/blog/blog-small-01.jpg" alt="Image">
								</a>
								<div class="media-body">
									<h4 class="media-heading">
										<a href="blog-single-right-sidebar.html">Totam Rem Aperiam
											Ea queab Ipsa.</a>
									</h4>
									<p>
										<i class="fa fa-calendar" aria-hidden="true"></i>5 March, 2016
									</p>
								</div>
							</div>
							<div class="media">
								<a class="media-left" href="blog-single-right-sidebar.html">
									<img class="media-object"
									src="assets/img/blog/blog-small-02.jpg" alt="Image">
								</a>
								<div class="media-body">
									<h4 class="media-heading">
										<a href="blog-single-right-sidebar.html">Totam Rem Aperiam
											Ea queab Ipsa.</a>
									</h4>
									<p>
										<i class="fa fa-calendar" aria-hidden="true"></i>5 March, 2016
									</p>
								</div>
							</div>
							<div class="media">
								<a class="media-left" href="blog-single-right-sidebar.html">
									<img class="media-object"
									src="assets/img/blog/blog-small-03.jpg" alt="Image">
								</a>
								<div class="media-body">
									<h4 class="media-heading">
										<a href="blog-single-right-sidebar.html">Totam Rem Aperiam
											Ea queab Ipsa.</a>
									</h4>
									<p>
										<i class="fa fa-calendar" aria-hidden="true"></i>5 March, 2016
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</th:block>

</html>
