<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	  
	  <th:block layout:fragment="customContents">
	  	<!-- LIGHT SECTION -->
	      <section class="lightSection clearfix pageHeader">
	        <div class="container">
	          <div class="row">
	            <div class="col-md-6">
	              <div class="page-title">
	                <h2>MY ORDERS</h2>
	              </div>
	            </div>
	            <div class="col-md-6">
	              <ol class="breadcrumb float-right">
	                <li>
	                  <a th:href="@{/}">Home</a>
	                </li>
	                <li class="active">MY ORDERS</li>
	              </ol>
	            </div>
	          </div>
	        </div>
	      </section>
	
	      <!-- MAIN CONTENT SECTION -->
	      <section class="mainContent clearfix userProfile">
	        <div class="container">
	          <div class="row">
	            <div class="col-12">
	              <div class="btn-group" role="group" aria-label="..." style="float: right">
	                <a th:href="@{/myPage/myOrderList}" class="btn btn-default"><i class="bi bi-calendar-check" aria-hidden="true"></i>주문 내역</a>
	                <a th:href="@{/myPage/myRentList}" class="btn btn-default"><i class="bi bi-calendar-check" aria-hidden="true"></i>렌트 내역</a>
	              </div>
	            </div>
          	  </div>
	          <div class="row">
	            <div class="col-md-12">
	              <div class="innerWrapper">
	                <div class="orderBox">
	                  <h2>My Orders</h2>
	                  <div class="table-responsive">
	                    <table class="table">
	                      <thead>
	                        <tr>
	                          <th>상품명</th>
	                          <th>렌탈 시작일</th>
	                          <th>렌탈 종료일</th>
	                          <th>사용 마일리지</th>
	                          <th>총 결제 금액</th>
	                          <th>상품 상태</th>
	                          <th>결제 시간</th>
	                          <th></th>
	                        </tr>
	                      </thead>
	                      <tbody>
	                        <tr th:each="order : ${orderList}">
	                          <td th:text="${order.goodsName}"></td>
	                          <td th:text="${order.rentalStartDate}">March 25, 2016</td>
	                          <td th:text="${order.rentalEndDate}">2</td>
	                          <th:block th:object="${order.payment}">
	                          	<td th:text="*{mileageUsePrice}"></td>
	                          	<td th:text="*{amountExcludingMileage}"></td>
	                          </th:block>
	                          <th:block>
		                          <td th:if="${order.orderStateName == '배송전 결제완료(취소 및 환불가능)'}"><span class="badge badge-warning">결제완료</span></td>
		                          <td th:if="${order.orderStateName == '결제 취소'}"><span class="badge badge-warning">결제취소</span></td>
		                          <td th:if="${order.orderStateName == '배송중(오너)'}"><span class="badge badge-info">배송중</span></td>
		                          <td th:if="${order.orderStateName == '배송중(렌터)'}"><span class="badge badge-info">반납중</span></td>
		                          <td th:if="${order.orderStateName == '사용중(배송완료)'}"><span class="badge badge-primary">사용중</span></td>
		                          <td th:if="${order.orderStateName == '반납완료'}"><span class="badge badge-success">반납완료</span></td>
		                          <td th:if="${order.orderStateName == '취소 후 환불완료'}"><span class="badge badge-danger">취소</span></td>
		                      </th:block>
		                      <td th:text="${order.rentalOrderDate}"></td>
	                          <td>
		                          <a th:if="${order.orderStateName == '사용중(배송완료)'}" th:href="@{/myPage/addMyOrderWaybill(rentalCode=${order.rentalCode})}" class="btn btn-sm btn-secondary-outlined">배송입력</a>
		                          <button th:if="${order.orderStateName == '배송중(오너)'}" data-toggle="modal"  th:data-payment-code ="${order.payment.paymentCode}" data-target=".checkDelivery" class="btn btn-sm btn-secondary-outlined checkDeliveryBtn">배송확인</button>
		                          <a th:if="${order.orderStateName == '배송전 결제완료(취소 및 환불가능)'}" th:href="@{/myPage/returnMyOrderWaybill(rentalCode=${order.rentalCode})}" class="btn btn-sm btn-secondary-outlined">환불</a>
	                          </td>
	                        </tr>
	                      </tbody>
	                    </table>
	                  </div>
	                </div>
	                <!-- 페이징 -->
	                <div style="margin-top: 50px; display: flex; justify-content: center;" class="blogPage">
		          		<div class="col-sm-6">
							<div class="text-left">
								<ul class="pagination" style="justify-content: center;">
									<li th:if="${pagination.curRange != 1}">
										<a th:href="@{/myPage/myOrderList}" aria-label="First"><span aria-hidden="true"><<</span></a>
									</li>
									<li th:if="${pagination.curPage != 1}">
										<a th:href="@{/myPage/myOrderList(curPage=${pagination.prevPage})}" aria-label="Prev"> <span aria-hidden="true">&#60;</span></a>
									</li>
									
									<th:block th:each="pageNum : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
										<li class="active" th:if="${pageNum == pagination.curPage}">
											<a th:text="${pageNum}"></a>
										</li>
										<li th:unless="${pageNum == pagination.curPage} or ${pagination.listCnt == 0}">
											<a th:href="@{/myPage/myOrderList(curPage=${pageNum})}" th:text="${pageNum}"></a>
										</li>
									</th:block>

									<li th:if="${pagination.curPage != pagination.pageCnt && pagination.pageCnt > 0}">
										<a th:href="@{/myPage/myProfitList(curPage=${pagination.nextPage})}" aria-label="Next"> <span aria-hidden="true">&#62;</span></a>
									</li>
									<li th:if="${pagination.curRange != pagination.rangeCnt && pagination.rangeCnt > 0}">
										<a th:href="@{/myPage/myOrderList(curPage=${pagination.pageCnt})}" aria-label="Last"> <span aria-hidden="true">>></span></a>
									</li>
								</ul>
							</div>
						</div>
		        	</div>
		        	<!-- 페이징 끝  -->
	              </div>
	            </div>
	          </div>
	        </div>
	      </section>
	      <!-- 운송장번호 확인 모달 -->
		  <div class="modal fade checkDelivery" tabindex="-1" role="dialog">
			  <div class="modal-dialog">
				  <div class="modal-content">
					  <div class="modal-header justify-content-center">
						 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						 <h3 class="modal-title">배송 정보 확인</h3>
					  </div>
					  <div class="modal-body">
						  <form class="receiptForm" action="/myPage/receiptCheck" method="POST" role="form">
							 <div class="form-group">
								<label for="">운송 회사</label>
								<input value="운송 회사가 없습니다." type="text" class="form-control courierName" readonly="readonly">
							 </div>
							 <div class="form-group">
								<label for="">운송장 번호</label>
								<input value="운송장 번호가 없습니다." type="text" class="form-control waybillNumber" readonly="readonly">
							 </div>
							 <div class="receiptDiv">
							 	
							 </div>
						  </form>
					  </div>
				  </div>
			  </div>
		  </div>
	  </th:block>
	  <!-- 사용자 지정 js script -->
	  <th:block layout:fragment="customScript">
		<script type="text/javascript">
			$('.checkDeliveryBtn').click(function(){
				const paymentCode = $(this).attr('data-payment-code');
				
				$.ajax({
					type: 'POST',
					url: '/myPage/getOrderDeliveryInfo',
					contentType: "application/json; charset=UTF-8",
					data: paymentCode,
					success: function(data) {
						console.log("성공");
						console.log(JSON.stringify(data));
						if(data.courierName != null && data.waybillNumber != null){
							$('.courierName').val(data.courierName);
							$('.waybillNumber').val(data.waybillNumber);	
							const returnBtn = $('<button type="submit" class="btn btn-primary btn-block">반납확인</button>');
							const paymentCodeInput = $('<input value="' + data.paymentCode + '" type="hidden" name="paymentCode" />');
							$('.receiptDiv').append(returnBtn);
							$('.receiptDiv').append(paymentCodeInput);
							
						}
					},
		   			error: function(e) {
		   				alert("ERROR : " + e);
		   			}	
				})
			})
		</script>
	 </th:block>
</html>