<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	  
  	<th:block layout:fragment="customContents">

	<!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix userProfile">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="btn-group" role="group" aria-label="...">
              	<a th:href="@{/myPage/checkPassword}" class="btn btn-default"><i class="fa fa-user" aria-hidden="true"></i>내 정보</a>
                <a th:href="@{/myPage/myGoodsList}" class="btn btn-default"><i class="fa fa-th" aria-hidden="true"></i>내 상품</a>
                <a th:href="@{/myPage/myReviewList}" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i>내 리뷰</a>
                <a th:href="@{/myPage/myWishList}" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i>내 관심상품</a>
                <a th:href="@{/myPage/myRentList}" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i>내 렌트 내역</a>
                <a th:href="@{/myPage/myOrderList}" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i>내 주문 내역</a>
                <a th:href="@{/myPage/userEvaluation}" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i>내 평가</a>
                <a th:href="@{/myPage/userEvaluated}" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i>내가 한 평가</a>
                <a th:href="@{/myPage/myBlockList}" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i>나의 차단 목록</a>
                <a th:href="@{/myPage/myProfitList}" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i>나의 수익 목록</a>
                <a th:href="@{/myPage/myMileageList}" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i>내 적립금 내역</a>
                <a th:href="@{/myPage/alarmList}" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i>내 알림 목록</a>
                <a th:href="@{/myPage/myExperience}" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i>내 경험치</a>
                <a th:href="@{/room}" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i>내 채팅</a>
                <a th:href="@{/report/reportTest}" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i>상품 신고하기 실험</a>
               	
              </div>
            </div>
          </div> 
        </div>
      </section>
      
      