<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	  
	  <head>
		<style type="text/css">
			th, td {
				text-align: center !important;
			}
		</style>
	</head>	  
	  
	<th:block layout:fragment="customContents">
	  <!-- LIGHT SECTION -->
      <section class="lightSection clearfix pageHeader">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="page-title">
                <h2>MY YEAR PROFIT LIST</h2>
              </div>
            </div>
            <div class="col-md-6">
              <ol class="breadcrumb pull-right">
                <li>
                  <a th:href="@{/}">Home</a>
                </li>
                <li>
                  <a th:href="@{/myPage/myInfo}">myInfo</a>
                </li>
                <li>
                  <a th:href="@{/myPage/myProfitList}">MY PROFIT LIST</a>
                </li>
                <li class="active">MY YEAR PROFIT LIST</li>
              </ol>
            </div>
          </div>
        </div>
      </section>
      
	  <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix userProfile">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="btn-group" role="group" aria-label="..." style="float: right";>
                <a th:href="@{/myPage/myProfitListDay}" class="btn btn-default"><i class="bi bi-calendar-check" aria-hidden="true"></i>일별 수익</a>
                <a th:href="@{/myPage/myProfitListMonth}" class="btn btn-default"><i class="bi bi-calendar-check" aria-hidden="true"></i>월별 수익</a>
                <a th:href="@{/myPage/myProfitListYear}" class="btn btn-default"><i class="bi bi-calendar-check" aria-hidden="true"></i>연별 수익</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="innerWrapper">
                <div class="orderBox myAddress wishList">
                <div class="col-md-13 row">
                   <h2 class="col-md-8" th:text="${loginNickName} + '님 YEAR PROFIT LIST'"></h2>
                   
                   <form class="col-md-4" th:action="@{/myPage/myProfitListYear}" method="get">                        
                  	<div class="form-group input-group">
						<input class="form-control" name="searchYear" type="text" placeholder="년도">
						<button type="submit" class="form-control btn btn-primary col-md-3" style="margin-left: 10px">조회</button>
					</div>
					<br>
					</form>
                </div>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>                         
                          <th>ID</th>
                          <th>연도</th>
                          <th>1월</th>
                          <th>2월</th>
                          <th>3월</th>
                          <th>4월</th>
                          <th>5월</th>
                          <th>6월</th>
                          <th>7월</th>
                          <th>8월</th>
                          <th>9월</th>
                          <th>10월</th>
                          <th>11월</th>
                          <th>12월</th>
                          <th>연별총수익</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:unless="${#lists.isEmpty(getUserYearProfitList)}" th:each="py : ${getUserYearProfitList}">      
                          <td th:text="${py.userId}"></td>             
                          <td th:text="${py.ownerProfitYear}"></td>
                          <td th:text="${py.ownerProfitJanuary}"></td>
                          <td th:text="${py.ownerProfitFebruary}"></td>       
                          <td th:text="${py.ownerProfitMarch}"></td>
                          <td th:text="${py.ownerProfitApril}"></td>
                          <td th:text="${py.ownerProfitMay}"></td>       
                          <td th:text="${py.ownerProfitJune}"></td>
                          <td th:text="${py.ownerProfitJuly}"></td>
                          <td th:text="${py.ownerProfitAugust}"></td>       
                          <td th:text="${py.ownerProfitSeptember}"></td>
                          <td th:text="${py.ownerProfitOctober}"></td>
                          <td th:text="${py.ownerProfitNovember}"></td>       
                          <td th:text="${py.ownerProfitDecember}"></td>
                          <td th:text="${py.ownerProfitYearTotal}"></td>
                                                                                
                        </tr>
                        <tr th:if="${#lists.isEmpty(getUserYearProfitList)}">
                       		<td colspan="15">등록된 연별 수익이 없습니다.</td>
                       </tr>
                       
                      </tbody>
                    </table>
                  </div>
                </div>
                 <!-- 페이징 -->
      			<div style="margin-top: 50px; display: flex; justify-content: center;" class="blogPage">
		          <div class="col-sm-6">
							<div class="text-left">
								<ul class="pagination" style="justify-content: center;">
									<li th:if="${pagination.curRange != 1}">
										<a th:href="@{/myPage/myProfitListYear}" aria-label="First"><span aria-hidden="true"><<</span></a>
									</li>
									<li th:if="${pagination.curPage != 1}">
										<a th:href="@{/myPage/myProfitListYear(curPage=${pagination.prevPage})}" aria-label="Prev"> <span aria-hidden="true">&#60;</span></a>
									</li>
									
									<th:block th:each="pageNum : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
										<li class="active" th:if="${pageNum == pagination.curPage}">
											<a th:text="${pageNum}"></a>
										</li>
										<li th:unless="${pageNum == pagination.curPage} or ${pagination.listCnt == 0}">
											<a th:href="@{/myPage/myProfitListYear(curPage=${pageNum})}" th:text="${pageNum}"></a>
										</li>
									</th:block>

									<li th:if="${pagination.curPage != pagination.pageCnt && pagination.pageCnt > 0}">
										<a th:href="@{/myPage/myProfitListYear(curPage=${pagination.nextPage})}" aria-label="Next"> <span aria-hidden="true">&#62;</span></a>
									</li>
									<li th:if="${pagination.curRange != pagination.rangeCnt && pagination.rangeCnt > 0}">
										<a th:href="@{/myPage/myProfitListYear(curPage=${pagination.pageCnt})}" aria-label="Last"> <span aria-hidden="true">>></span></a>
									</li>
								</ul>
							</div>
						</div>
		        </div>
              </div>
            </div>
          </div>
        </div>
      </section>
	</th:block>
</html>