<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	  
	  <th:block layout:fragment="customContents">
		<!-- LIGHT SECTION -->
		<section class="lightSection clearfix pageHeader">
		  <div class="container">
		    <div class="row">
		      <div class="col-md-6">
		        <div class="page-title">
		          <h2>Infomation Board Detail</h2>
		        </div>
		      </div>
		      <div class="col-md-6">
		        <ol class="breadcrumb float-right">
		          <li>
		            <a th:href="@{/}">Home</a>
		          </li>
		          <li>
		          	<a th:href="@{/infoboard/infoBoardList}">Infomation Board List</a>
		          </li>
		          <li class="active">Infomation Board Detail</li>
		        </ol>
		      </div>
		    </div>
		  </div>
		</section>
	  	<section class="mainContent clearfix blogPage singleBlog">
		  <div class="container">
		  	<!-- <h3>정보 게시판 상세</h3> -->
		    <div class="row">
		      <div class="col-md-12">
		        <div class="thumbnail">
		          <div class="caption">
		            <div class="row">
		              <div class="col-md-3 order-md-12">
		                <h5>Infomation</h5>
		                <ul class="list-unstyled">
		                  <li>
		                    <i class="fa fa-user" aria-hidden="true"></i><span th:text="${infoBoardDetail.user.userNickName}"></span>
		                  </li>
		                  <li>
		                    <i class="fa fa-calendar" aria-hidden="true"></i><span th:text="${infoBoardDetail.infoBoardRegTime}"></span>
	                      </li>
	                      <li>
	                      	<i class="bi bi-hand-thumbs-up-fill"></i><span th:text="${infoBoardDetail.infoBoardLikeCnt}"></span>
	                      </li>
	                      <li>
	                      	<i class="bi bi-eye-fill"></i><span th:text="${infoBoardDetail.infoBoardViewCnt}"></span>
	                      	</li>
		                  <li>
		                    <i class="fa fa-envelope" aria-hidden="true"></i><span th:text="${commentCnt} + ' comments'"></span></li>
		                </ul>
		                
		                <h5>Share</h5>
		                <ul class="list-inline">
		                  <li>
		                    <a href="#">
		                      <i class="fa fa-facebook" aria-hidden="true"></i>
		                    </a>
		                  </li>
		                  <li>
		                    <a href="#">
		                      <i class="fa fa-twitter" aria-hidden="true"></i>
		                    </a>
		                  </li>
		                  <li>
		                    <a href="#">
		                      <i class="fa fa-dribbble" aria-hidden="true"></i>
		                    </a>
		                  </li>
		                  <li>
		                    <a href="#">
		                      <i class="fa fa-tumblr" aria-hidden="true"></i>
		                    </a>
		                  </li>
		                </ul>
		                <ul class="list-unstyled">
		                	<li>
		                		<button onclick="location.href='/infoboard/modifyInfoBoard'" type="button" class="btn btn-primary">수정</button>
		                		<button onclick="location.href='/infoboard/removeInfoBoard'" type="button" class="btn btn-primary">삭제</button>
		                	</li>
		                </ul>
		              </div>
		              <div class="col-md-9 order-md-1">
		                <h3 th:text="${infoBoardDetail.infoBoardTitle}"></h3>
		                <img src="/user/assets/img/blog/blog-01.jpg" alt="blog-image">
		                <p th:text="${infoBoardDetail.infoBoardContent}"></p>
		              </div>
		            </div>
		          </div>
		          <ul class="pager">
		            <li class="previous">
		              <a href="#">previous</a>
		            </li>
		            <li class="next float-right">
		              <a href="#">next</a>
		            </li>
		          </ul>
		          <div class="commentsArea">
		            <h3 th:text="${commentCnt} + ' Comments'"></h3>
		            <!-- 댓글 -->
		            <th:block th:if="${commentCnt != 0}" th:unless="${#lists.isEmpty(commentList)}" th:each="comm : ${commentList}">
		            	<div class="media flex-wrap commentInfo">
			              <a class="media-left" href="#">
			                <img class="media-object" src="/user/assets/img/blog/avatar.jpg" alt="Image">
			              </a>
			              <div class="media-body">
			                <h4 class="media-heading" th:text="${comm.userNickName}"></h4>
			                <h4>
			                  <span>
			                    <i class="fa fa-calendar" aria-hidden="true"></i><span th:text="${comm.infoBoardCommentRegTime}"></span>
			                  </span>
			                </h4>
			                <div class="change-section">
			                	<p th:text="${comm.infoBoardCommentContent}"></p>
								<button class="btn btn-link modifyBtn" type="button"  th:data-comment-code = "${comm.infoBoardCommentCode}" th:data-comment-cotent = "${comm.infoBoardCommentContent}">수정</button> /
			                	<button class="btn btn-link deleteBtn" type="button" th:data-comment-code ="${comm.infoBoardCommentCode}">삭제</button>			                
			                </div>
			              </div>
			            </div>
		            </th:block>
		            <!-- 댓글 끝 -->
		          </div>
		        </div>
		      </div>
		    </div>
		    <div th:if="${loginInfo != null}" class="row">
		      <div class="col-md-12">
		        <form action="" method="POST" role="form" class="commentsForm">
		          <h3>Leave Comments</h3>
		          <div class="row">
		            <div class="col-md-12">
	            	  <a class="media-left" href="#">
		                <img class="media-object" src="/user/assets/img/blog/avatar.jpg" alt="Image">
		              </a>
		              <br>
		              <div><h4 th:text="${nickName}"></h4></div>
		              <div class="form-group" style="margin-top: 30px;">
		              	<input id="boardCode" type="hidden" th:value="${infoBoardDetail.infoBoardCode}" readonly="readonly">
		              	<input id="commentId" type="hidden" th:value="${loginInfo.loginId}" readonly="readonly">
		                <textarea class="form-control" rows="3" id="comment" name="comment" placeholder="Comment"></textarea>
		              </div>
		            </div>
		          </div>
		          <button id="commentBtn" type="button" class="btn btn-primary">post comment</button>
		        </form>
		      </div>
		    </div>
		  </div>
		</section>
	  </th:block>
	  
	  <!-- 사용자 지정 js 파일 -->
	<th:block layout:fragment="customJs"></th:block>
	
	<!-- 사용자 지정 js script -->
	<th:block layout:fragment="customScript">
		<script th:inline="javascript">
			$(document).on('click', '.modifyBtn', function(){
				
				const infoBoardCommentContent = $(this).attr("data-comment-cotent");
				const infoBoardCommentCode = $(this).attr("data-comment-code");
				console.log($(this).parents('div.commentInfo').find('div.change-section'));
				const changeSection = $(this).parents('div.commentInfo').find('div.change-section');
				changeSection.empty();
				
				const $textArea = $('<textarea />', {
					class:'form-control modifyComment',
					rows:'3',
					name:'modifyComment',
					style:'margin-bottom:2px;',
					text:infoBoardCommentContent
				});
				
				const $modifyActionBtn = $('<button />',{
					class:'btn btn-link modifyActionBtn',
					type:'button',
					text:'수정',
					click: function(){
						const infoBoardCommentContentValue = $(this).parent().find('textarea.modifyComment').val();
						console.log(infoBoardCommentContentValue);
						const commentObj = {
								'infoBoardCommentCode':infoBoardCommentCode,
			   					'infoBoardCommentContent':infoBoardCommentContentValue,
   							};
						
						$.ajax({
			   				type:'POST',
			   				url:'/infoboard/infoBoardDetail/modifyComment',
			   				contentType: "application/json; charset=UTF-8",
			   				data: JSON.stringify(commentObj),
				   			success: function(data) {
				   					location.reload();
				   	          		console.log("성공");
				   			},
				   			error: function(e) {
				   				alert("ERROR : " + e);
				   			}	
						});// 댓글 비동기 끝
					}
				});
				
			    const $modifyCancelBtn = $('<button />',{
					class:'btn btn-link modifyCancelBtn',
					type:'button',
					text:'취소',
					click: function(){
						location.reload();
					}
				});
			    
				changeSection.append($textArea);
				changeSection.append($modifyActionBtn);
				changeSection.append(' /');
				changeSection.append($modifyCancelBtn);
				console.log(infoBoardCommentContent);
			})
		
			$(document).on('click','.deleteBtn',function(){
				const infoBoardCommentCode = $(this).attr('data-comment-code');
				
				$.ajax({
	   				type:'POST',
	   				url:'/infoboard/infoBoardDetail/removeComment',
	   				contentType: "application/json; charset=UTF-8",
	   				data: infoBoardCommentCode,
		   			success: function(data) {
		   					location.reload();
		   	          		console.log("성공");
		   			},
		   			error: function(e) {
		   				alert("ERROR : " + e);
		   			}	
				});// 댓글 비동기 끝
			})
		
			$('#commentBtn').click(function(){
				const userId= $('#commentId').val();
				const infoBoardCode = $('#boardCode').val();
				const infoBoardCommentContent = $('#comment').val();
				console.log(userId);
				console.log(infoBoardCode);
				console.log(infoBoardCommentContent);
					
				if(infoBoardCommentContent == '') {
					alert('내용을 입력하세요.');
				}
				const userObj = {
									'userId':userId,
				   					'infoBoardCode':infoBoardCode,
				   					'infoBoardCommentContent' : infoBoardCommentContent
	   							};
				
				$.ajax({
	   				type:'POST',
	   				url:'/infoboard/infoBoardDetail/addComment',
	   				contentType: "application/json; charset=UTF-8",
	   				data: JSON.stringify(userObj),
		   			success: function(data) {
		   					location.reload();
		   	          		console.log("성공");
		   			},
		   			error: function(e) {
		   				alert("ERROR : " + e);
		   			}		
	   			});// 댓글 비동기 끝
			})
		</script>
	</th:block>
</html>