<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	  
	  <th:block layout:fragment="customContents">
		<!-- LIGHT SECTION -->
		<section class="lightSection clearfix pageHeader">
		  <div class="container">
		    <div class="row">
		      <div class="col-md-6">
		        <div class="page-title">
		          <h2>Infomation Board Detail</h2>
		        </div>
		      </div>
		      <div class="col-md-6">
		        <ol class="breadcrumb float-right">
		          <li>
		            <a th:href="@{/}">Home</a>
		          </li>
		          <li>
		          	<a th:href="@{/infoboard/infoBoardList}">Infomation Board List</a>
		          </li>
		          <li class="active">Infomation Board Detail</li>
		        </ol>
		      </div>
		    </div>
		  </div>
		</section>
	  	<section class="mainContent clearfix blogPage singleBlog">
		  <div class="container">
		  	<!-- <h3>정보 게시판 상세</h3> -->
		    <div class="row">
		      <div class="col-md-12">
		        <div class="thumbnail">
		          <div class="caption">
		            <div class="row">
		              <div class="col-md-3 order-md-12">
		                <h5>Infomation</h5>
		                <ul class="list-unstyled">
		                  <li>
		                    <i class="fa fa-user" aria-hidden="true"></i><span th:text="${infoBoardDetail.user.userNickName}"></span>
		                  </li>
		                  <li>
		                    <i class="fa fa-calendar" aria-hidden="true"></i><span th:text="${infoBoardDetail.infoBoardRegTime}"></span>
	                      </li>
	                      <li>
	                      	<i class="bi bi-hand-thumbs-up-fill"></i><span th:text="${infoBoardDetail.infoBoardLikeCnt}"></span>
	                      </li>
	                      <li>
	                      	<i class="bi bi-eye-fill"></i><span th:text="${infoBoardDetail.infoBoardViewCnt}"></span>
	                      	</li>
		                  <li>
		                    <i class="fa fa-envelope" aria-hidden="true"></i><span th:text="${commentCnt} + ' comments'"></span></li>
		                </ul>
		                
		                <h5>Share</h5>
		                <ul class="list-inline">
		                  <li>
		                    <a href="#">
		                      <i class="fa fa-facebook" aria-hidden="true"></i>
		                    </a>
		                  </li>
		                  <li>
		                    <a href="#">
		                      <i class="fa fa-twitter" aria-hidden="true"></i>
		                    </a>
		                  </li>
		                  <li>
		                    <a href="#">
		                      <i class="fa fa-dribbble" aria-hidden="true"></i>
		                    </a>
		                  </li>
		                  <li>
		                    <a href="#">
		                      <i class="fa fa-tumblr" aria-hidden="true"></i>
		                    </a>
		                  </li>
		                </ul>
		                <ul class="list-unstyled">
		                	<li>
		                		<button onclick="location.href='/infoboard/modifyInfoBoard'" type="button" class="btn btn-primary">수정</button>
		                		<button onclick="location.href='/infoboard/removeInfoBoard'" type="button" class="btn btn-primary">삭제</button>
		                	</li>
		                </ul>
		              </div>
		              <div class="col-md-9 order-md-1">
		                <h3 th:text="${infoBoardDetail.infoBoardTitle}"></h3>
		                <img src="/user/assets/img/blog/blog-01.jpg" alt="blog-image">
		                <p th:text="${infoBoardDetail.infoBoardContent}"></p>
		              </div>
		            </div>
		          </div>
		          <ul class="pager">
		            <li class="previous">
		              <a href="#">previous</a>
		            </li>
		            <li class="next float-right">
		              <a href="#">next</a>
		            </li>
		          </ul>
		          <div class="commentsArea">
		            <h3 th:text="${commentCnt} + ' Comments'"></h3>
		            <!-- 댓글 -->
		            <th:block th:if="${commentCnt != 0}" th:unless="${#lists.isEmpty(commentList)}" th:each="comm : ${commentList}">
		            	<div class="media flex-wrap">
			              <a class="media-left" href="#">
			                <img class="media-object" src="/user/assets/img/blog/avatar.jpg" alt="Image">
			              </a>
			              <div class="media-body">
			                <h4 class="media-heading" th:text="${comm.userNickName}">Jessica Brown </h4>
			                <h4>
			                  <span>
			                    <i class="fa fa-calendar" aria-hidden="true"></i><span th:text="${comm.infoBoardCommentRegTime}"></span>
			                  </span>
			                </h4>
			                <p th:text="${comm.infoBoardCommentContent}"></p>
			                <div>
								<button class="btn btn-link" type="submit">수정</button> /
			                	<button class="btn btn-link" type="submit">삭제</button>			                
			                </div>
			              </div>
			            </div>
		            </th:block>
		            <!-- 댓글 끝 -->
		          </div>
		        </div>
		      </div>
		    </div>
		    <div class="row">
		      <div class="col-md-12">
		        <form action="" method="POST" role="form" class="commentsForm">
		          <h3>Leave Comments</h3>
		          <div class="row">
		            <div class="col-md-12">
		              <div><h4>회원님</h4></div>
		              <br>
		              <div class="form-group">
		                <textarea class="form-control" rows="3" placeholder="Comment"></textarea>
		              </div>
		            </div>
		
		          </div>
		          <button type="submit" class="btn btn-primary">post comment</button>
		        </form>
		      </div>
		    </div>
		  </div>
		</section>
	  </th:block>
	  
	  <!-- 사용자 지정 js 파일 -->
	<th:block layout:fragment="customJs"></th:block>
	<!-- 사용자 지정 js script -->
	<th:block layout:fragment="customScript"></th:block>
</html>