<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	  
	  <th:block layout:fragment="customContents">
	  	<!-- LIGHT SECTION -->
	    <section class="lightSection clearfix pageHeader">
	      <div class="container">
	        <div class="row">
	          <div class="col-sm-6">
	            <div class="page-title">
	              <h2>Info Board Modify</h2>
	            </div>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-right">
	              <li>
	                <a th:href="@{/}">Home</a>
	              </li>
	              <li class="active">Info Board Modify</li>
	            </ol>
	          </div>
	        </div>
	      </div>
	    </section>
       <div class="grid-wrapper section">
		 <div class="container">
		   <div class="row">
			 <div class="col-12 col-lg-12 element-content pt-5">
			   <div id="forms" class="element_single">
			     <div id="accordion" role="tablist" aria-multiselectable="true">
				   <div class="card single-block">
					 <div class="card-header" role="tab" id="headingOne">
						<h3 class="mb-0">
					       정보 게시글 수정
						</h3>
					 </div>
				    </div>
				  </div>
				  <div class="display-single_element">
					  <form id="addInfoBoardForm" action="/infoboard/modifyInfoBoard" method="post" enctype="multipart/form-data">
					  	<input th:value="${infoBoardDetail.infoBoardCode}" class="infoBoardCode" name="infoBoardCode" type="hidden" readonly="readonly"/>
					  	<input th:value="${infoBoardDetail.fileGroupCode}" class="fileGroupCode" name="fileGroupCode" type="hidden" readonly="readonly"/>
						<div class="row">
						  <div class="form-group col-md-12">
						  	<h4 class="mb-0">제목</h4>
						  	<br>
							<input th:value="${infoBoardDetail.infoBoardTitle}" type="text" name="infoBoardTitle" class="form-control" id="exampleInputPhone" placeholder="제목을 입력해 주세요.">
						  </div>
						  <div class="form-group col-md-12">
						  	<h4 class="mb-0">사진</h4>
						  	<br>
						  	<input id="addImage" type="file" name="uploadfile" class="form-control" multiple="multiple"/>
						  	<img alt="등록사진" class="select_img">
						  </div>
						  <br>
						  <div class="form-group col-md-12">
						  	<h4 class="mb-0">내용</h4>
						  	<br>
						    <textarea th:text="${infoBoardDetail.infoBoardContent}" class="form-control" name="infoBoardContent" id="exampleTextarea" rows="15" placeholder="내용을 입력해 주세요."></textarea>
						  </div>
						  </div>
							<button type="submit" class="btn btn-default btn-primary">수정</button>
							<button type="button" class="btn btn-default btn-primary" id="cancelBtn">취소</button>
						</form>
					</div>
					<!-- Default Form ends here -->
				
				</div>
			  </div> <!-- element-content ends -->
			</div>
		  </div> <!-- element main container ends -->
		</div> <!-- Grid wrapper ends -->
	  </th:block>
      <!-- 사용자 지정 js 파일 -->
	  <th:block layout:fragment="customJs"></th:block>
	  <!-- 사용자 지정 js script -->
	  <th:block layout:fragment="customScript">
		<script >
			$('.select_img').hide();
			
			$('#cancelBtn').click(function(){
				const infoBoardCode = $('.infoBoardCode').val();
				location.href="/infoboard/infoBoardDetail?infoBoardCode=" + infoBoardCode;
			})
			
			$("#addImage").change(function(){
		        if(this.files && this.files[0]) {
		        	$(".select_img").show();
		            var reader = new FileReader;
		            reader.onload = function(data) {
		                $(".select_img").attr("src", data.target.result).width(300);
		            }
		            reader.readAsDataURL(this.files[0]);
		        }
		    });
		</script>
	  </th:block>
  </th:block>
</html>