<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">
	<head>
		<style type="text/css">
			table{
				width: 100%;
			}
			th, tr, td {
				text-align:center !important;
			}
			#pg {
				display: flex;
				justify-content: center;
			}
			#searchAndAdd {
				display: flex;
				justify-content: space-between;
			}
			a{
				color: black;
			}
			a:hover {
				color: rgb(71, 186, 193);
			}
		</style>
	</head>
<th:block layout:fragment="customContents">
	<!-- LIGHT SECTION -->
	<section class="lightSection clearfix pageHeader">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="page-title">
						<h2>Notice Board List</h2>
					</div>
				</div>
				<div class="col-md-6">
					<ol class="breadcrumb float-right">
						<li><a th:href="@{/}">Home</a></li>
						<li class="active">Notice Board List</li>
					</ol>
				</div>
			</div>
		</div>
	</section>
	<section class="mainContent clearfix cartListWrapper">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="cartListInner">
						<form action="#">
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th>번호</th>
											<th>제목</th>
											<th>작성자</th>
											<th>작성일</th>
										</tr>
									</thead>
									<tbody>
										 <tr th:if="${not #lists.isEmpty(noticeBoardList)}" th:each="nb : ${noticeBoardList}">
								  			<td style="width: 5%" th:text="${nb.num}"></td>
								  			<td style="overflow: hidden; text-overflow: ellipsis; width:55%"><a th:text="${nb.noticeBoardTitle}" th:href="@{/board/detailNoticeBoard(noticeBoardCode=${nb.noticeBoardCode})}"></a></td>
								  			<td style="width: 20%" th:text="${nb.userNickName}"></td>
								  			<td style="width: 20%" th:text="${nb.noticeBoardRegTime}"></td>
			                             <tr th:unless="${not #lists.isEmpty(noticeBoardList)}">
				  							<td colspan="4">작성된 글이 없습니다.</td>
				  						</tr>									
				  					</tbody>
								</table>
								<div class="row" style="margin-top: 30px">
									<div class="col-sm-12" id="pg">
										<div class="text-center" >
											<ul class="pagination">
												<li th:if="${pagination.curPage != 1}" class="page-item">
													<a
													th:href="@{/board/noticeBoard(curPage=${pagination.prevPage})}"
													aria-label="Prev" class="page-link"> <span
														aria-hidden="true">&#60;</span></a>
												</li>
												<li th:unless="${pagination.curPage != 1}"
													class="page-item disabled"><span aria-label="Prev"
													class="page-link" tabindex="-1" aria-disabled="true">
														<span aria-hidden="true">&#60;</span>
												</span></li>

												<th:block
													th:each="pageNum : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
													<li class="page-item active" aria-current="page"
														th:if="${pageNum == pagination.curPage}"><span
														th:text="${pageNum}" class="page-link"></span></li>
													<li
														th:unless="${pageNum == pagination.curPage} or ${pagination.listCnt == 0}"
														class="page-item"><a
														th:href="@{/board/noticeBoard(curPage=${pageNum})}"
														th:text="${pageNum}" class="page-link"></a></li>
												</th:block>

												<li
													th:if="${pagination.curPage != pagination.pageCnt && pagination.pageCnt > 0}"
													class="page-item"><a
													th:href="@{/board/noticeBoard(curPage=${pagination.nextPage})}"
													aria-label="Next" class="page-link"> <span
														aria-hidden="true">&#62;</span></a></li>
												<li
													th:unless="${pagination.curPage != pagination.pageCnt && pagination.pageCnt > 0}"
													class="page-item disabled"><span aria-label="Next"
													class="page-link" tabindex="-1" aria-disabled="true"><span
														aria-hidden="true">&#62;</span></span></li>
											</ul>
										</div>
									</div>
								</div>

							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</th:block>
</html>