<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ks45team03.rentravel.mapper.AdminInsuranceMapper" >    
	<!-- tb_insurance -->
	<resultMap type="Insurance" id="insuranceResultMap">
		<id property="insuranceCode" 			column="insurance_code"/>
		<result property="userId" 		column="user_id"/>
		<result property="goodsCode" 		column="goods_code"/>
		<result property="paymentCode" 	column="payment_code"/>
		<result property="rentalCode" 	column="rental_code"/>
		<result property="insuranceSignUpTime" 	column="insurance_sign_up_time"/>
	</resultMap>
	
	<!-- tb_insurance_claim -->
	<resultMap type="InsuranceClaim" id="insuranceClaimResultMap">
		<id property="insuranceClaimCode" 			column="insurance_claim_code"/>
		<result property="userId" 		column="user_id"/>
		<result property="insuranceRequestCode" 		column="insurance_request_code"/>
		<result property="insuranceRequestStateCode" 	column="insurance_request_state_code"/>
		<result property="insuranceClaimModifyDate" 	column="insurance_claim_modify_date"/>
	</resultMap>
	
	<!-- tb_insurance_payout -->
	<resultMap type="insurancePayout" id="insurancePayoutResultMap">
		<id property="insurancePayoutCode" 			column="insurance_payout_code"/>
		<result property="userId" 		column="user_id"/>
		<result property="insuranceRequestCode" 		column="insurance_request_code"/>
		<result property="insuranceClaimCode" 	column="insurance_claim_code"/>
		<result property="insurancePayoutPrice" 	column="insurance_payout_price"/>
		<result property="insurancePayoutDate" 	column="insurance_payout_date"/>
	</resultMap>
	
	<select id="adminGetInsuranceList"  resultMap="insuranceResultMap">
		/* 관리자 보험리스트 조회 */
		SELECT
			i.insurance_code,
			i.user_id,
			i.goods_code,
			i.payment_code,
			i.rental_code,
			i.insurance_sign_up_time
		FROM
			tb_insurance AS i
		ORDER BY
			i.insurance_code;
		
	</select>
	
	<select id="adminGetInsuranceRequestList" resultMap="insuranceClaimResultMap">
		/* 보험청구서리스트 조회 */
		SELECT
			ic.insurance_claim_code,
			ic.user_id,
			ic.insurance_request_code,
			ic.insurance_request_state_code,
			ic.insurance_claim_modify_date
		FROM
			tb_insurance_claim AS ic
		ORDER BY
			ic.insurance_claim_code;
	</select>
	
	<select id="adminGetInsurancePayoutList" resultMap="insurancePayoutResultMap">
		/* 보상급 지급내역 조회 */
		SELECT
			ip.insurance_payout_code,
			ip.user_id,
			ip.insurance_request_code,
			ip.insurance_claim_code,
			ip.insurance_payout_price,
			ip.insurance_payout_date
		FROM
			tb_insurance_payout AS ip
		ORDER BY
			ip.insurance_payout_code;
	</select>
    

    
</mapper>