<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ks45team03.rentravel.mapper.AdminReportMapper">
	<!-- tb_report_comment -->
	<resultMap type="ReportComment" id="reportCommentResultMap">
		<id property="reportCommentCode" column="report_comment_code" />
		<result property="reportTypeCode" column="report_type_code" />
		<result property="infoBoardCommentCode" column="info_board_comment_code" />
		<result property="reportStateCode" column="report_state_code" />
		<result property="reportingUserId" column="reporting_user_id" />
		<result property="reportedUserId" column="reported_user_id" />
		<result property="reportCommentDatetime" column="report_comment_datetime" />
		<association property="reportType" javaType="ReportType">
			<id property="reportTypeCode" column="report_type_code" />
			<result property="reportType" column="report_type" />
		</association>
		<association property="reportState" javaType="ReportState">
			<id property="reportStateCode" column="report_state_code" />
			<result property="reportStateName" column="report_state_name" />
		</association>
	</resultMap>
	<!-- tb_report_goods -->
	<resultMap type="ReportGoods" id="reportGoodsResultMap">
		<id property="reportGoodsCode" column="report_goods_code" />
		<result property="reportTypeCode" column="report_type_code" />
		<result property="goodsCode" column="goods_code" />
		<result property="reportStateCode" column="report_state_code" />
		<result property="reportingUserId" column="reporting_user_id" />
		<result property="reportedUserId" column="reported_user_id" />
		<result property="reportGoodsDateTime" column="report_goods_datetime" />
		<association property="reportType" javaType="ReportType">
			<id property="reportTypeCode" column="report_type_code" />
			<result property="reportType" column="report_type" />
		</association>
		<association property="reportState" javaType="ReportState">
			<id property="reportStateCode" column="report_state_code" />
			<result property="reportStateName" column="report_state_name" />
		</association>
	</resultMap>
	<!-- tb_report_info_board -->
	<resultMap type="ReportInfoBoard" id="reportInfoBoardResultMap">
		<id property="reportInfoBoardCode" column="report_info_board_code" />
		<result property="reportTypeCode" column="report_type_code" />
		<result property="InfoBoardCode" column="info_board_code" />
		<result property="reportStateCode" column="report_state_code" />
		<result property="reportingUserId" column="reporting_user_id" />
		<result property="reportedUserId" column="reported_user_id" />
		<result property="reportInfoBoardDatetime" column="report_info_board_datetime" />
		<association property="reportType" javaType="ReportType">
			<id property="reportTypeCode" column="report_type_code" />
			<result property="reportType" column="report_type" />
		</association>
		<association property="reportState" javaType="ReportState">
			<id property="reportStateCode" column="report_state_code" />
			<result property="reportStateName" column="report_state_name" />
		</association>
	</resultMap>
	
	<!-- tb_report_review -->
	<resultMap type="ReportReview" id="reportReviewResultMap">
		<id property="reportReviewCode" column="report_review_code" />
		<result property="reportTypeCode" column="report_type_code" />
		<result property="reviewCode" column="review_code" />
		<result property="reportStateCode" column="report_state_code" />
		<result property="reportingUserId" column="reporting_user_id" />
		<result property="reportedUserId" column="reported_user_id" />
		<result property="reportReviewDatetime" column="report_review_datetime" />
		<association property="reportType" javaType="ReportType">
			<id property="reportTypeCode" column="report_type_code" />
			<result property="reportType" column="report_type" />
		</association>
		<association property="reportState" javaType="ReportState">
			<id property="reportStateCode" column="report_state_code" />
			<result property="reportStateName" column="report_state_name" />
		</association>
	</resultMap>
	
	<select id="adminGetReportCommentList" parameterType="String" resultMap="reportCommentResultMap">
		/*신고된 댓글 목록 조회*/	
		SELECT
			c.report_comment_code
			,c.info_board_comment_code
			,c.reporting_user_id
			,c.reported_user_id
			,c.report_comment_datetime
			,t.report_type
			,s.report_state_name
		
		FROM
			tb_report_comment AS c
			inner join
			tb_report_type AS t
			on
			c.report_type_code = t.report_type_code
			INNER join
			tb_report_state AS s
			on
			s.report_state_code = c.report_state_code
			
	</select>
	<select id="adminGetReportGoodsList" parameterType="String" resultMap="reportGoodsResultMap">
		/*신고된 상품 조회*/
		SELECT
			g.report_goods_code
			,g.goods_code
			,g.reporting_user_id
			,g.reported_user_id
			,g.report_goods_datetime
			,t.report_type
			,s.report_state_name
		
		FROM
			tb_report_goods AS g
			inner join
			tb_report_type AS t
			on
			g.report_type_code = t.report_type_code
			INNER join
			tb_report_state AS s
			on
			s.report_state_code = g.report_state_code
	
	</select>
	<select id="adminGetReportInfoBoardList" parameterType="String" resultMap="reportInfoBoardResultMap">
		/*신고된 정보게시글 조회*/
		SELECT
			b.report_info_board_code
			,b.info_board_code
			,b.reporting_user_id
			,b.reported_user_id
			,b.report_info_board_datetime
			,t.report_type
			,s.report_state_name
		
		FROM
			tb_report_info_board AS b
			inner join
			tb_report_type AS t
			on
			b.report_type_code = t.report_type_code
			INNER join
			tb_report_state AS s
			on
			s.report_state_code = b.report_state_code
	
	
	</select>
	<select id="adminGetReportReviewList" parameterType="String" resultMap="reportReviewResultMap">
		/*신고된 상품평 조회*/
		SELECT
			r.report_review_code
			,r.review_code
			,r.reporting_user_id
			,r.reported_user_id
			,r.report_review_datetime
			,t.report_type
			,s.report_state_name
		
		FROM
			tb_report_review AS r
			inner join
			tb_report_type AS t
			on
			r.report_type_code = t.report_type_code
			INNER join
			tb_report_state AS s
			on
			s.report_state_code = r.report_state_code
	
	</select>
</mapper>
