<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team03.rentravel.mapper.AdminOrderMapper">
	<!-- 주문 내역 맵 -->
	<resultMap type="Rental" id="orderHistoryMap">
		<id 	property="rentalCode" 	  		column="rental_code" />
		<result property="goodsCode" 	  		column="goods_code" />
		<result property="userId" 	  			column="user_id" />
		<result property="rentalStartDate" 		column="rental_start_date" />
		<result property="rentalEndDate" 		column="rental_end_date" />
		<result property="selectDelivery" 		column="select_delivery" />
		<result property="rentalOrderDate" 		column="rental_order_date" />
		<result property="goodsName" 			column="goods_name" />
		<result property="sigunguName" 			column="region_sgg_name" />
		<result property="orderStateName" 		column="order_state_standard_name" />
		<association property="payment" javaType="Payment">
			<id 	property="paymentCode" 	  					column="payment_code" />
			<result property="goodsCode" 						column="goods_code" />
			<result property="rentalCode" 	  					column="rental_code" />
			<result property="userId" 	  						column="user_id" />
			<result property="regionSggCode" 					column="region_sgg_code" />
			<result property="userAddrDesc" 					column="user_addr_desc" />
			<result property="paymentAccountOrCardNumber" 	  	column="payment_account_or_card_number" />
			<result property="paymentAgency" 	  				column="payment_agency" />
			<result property="paymentType" 	  					column="payment_type" />
			<result property="expectedPaymentAmount" 	  		column="expected_payment_amount" />
			<result property="goodsCommisionTotalPrice" 	  	column="goods_commision_total_price" />
			<result property="mileageUsePrice" 	  				column="mileage_use_price" />
			<result property="saveMileage" 	  					column="save_mileage" />
			<result property="amountExcludingMileage" 	  		column="amount_excluding_mileage" />
			<result property="settlementAmount" 				column="settlement_amount" />
			<result property="paymentTime" 	  					column="payment_time" />
			<result property="tradeStatusCode" 					column="trade_status_code" />
			<result property="mileageSaveGroupCode" 			column="mileage_save_group_code" />
			<result property="mileageUseGroupCode" 	  			column="user_image" />
		</association>
	</resultMap>
	<!-- 주문 취소 맵 -->
	<resultMap type="RentalCancel" id="rentalCancelMap">
		<id 	property="rentalCancelCode" 	  		column="rental_cancel_code" />
		<result property="cancelUserId" 	  			column="cancel_user_id" />
		<result property="rentalCode" 	  				column="rental_code" />
		<result property="paymentCode" 					column="payment_code" />
		<result property="rentalCancelSignupDate" 		column="rental_cancel_signup_date" />
		<result property="refundUserId" 				column="refund_user_id" />
		<result property="refundCancelSignupDate" 		column="refund_cancel_signup_date" />
		<result property="ownerCancelSignupCheckDate" 	column="owner_cancel_signup_check_date" />
		<result property="refundWay" 			 		column="refund_way" />
		<result property="refundMoney" 					column="refund_money" />
		<result property="mileageUsePrice" 				column="mileage_use_price" />
		<result property="saveMileage" 					column="save_mileage" />
		<result property="mileageGroupCode" 			column="mileage_group_code" />
	</resultMap>

	<!-- 환불 맵 -->	
	<resultMap type="Return" id="returnMap">
		<id 	property="returnCode" 	  		column="return_code" />
		<result property="ownerId" 	  			column="owner_id" />
		<result property="renterId" 	  		column="renter_id" />
		<result property="rentalCode" 			column="rental_code" />
		<result property="paymentCode" 			column="payment_code" />
		<result property="returnDate" 			column="return_date" />
		<result property="goodsName" 			column="goods_name" />
		<result property="rentalStartDate" 		column="rental_start_date" />
		<result property="rentalEndDate" 		column="rental_end_date" />
		<result property="orderStateName" 		column="order_state_standard_name" />
	</resultMap>
	
	<!-- 횐불 내역 조회 -->
	<select id="getReturnList" resultMap="returnMap">
		SELECT
			g.goods_name,
			ren.rental_start_date, 
			ren.rental_end_date,
			ret.return_code,
			ret.owner_id,
			ret.renter_id,
			tra.order_state_standard_name,
			ret.return_date
		FROM
			tb_return AS ret
			INNER JOIN
			tb_rental AS ren
			ON
			ret.rental_code = ren.rental_code
			INNER JOIN
			tb_goods AS g
			ON
			ren.goods_code = g.goods_code
			INNER JOIN
			tb_payment AS pay
			ON
			ret.payment_code = pay.payment_code
			INNER JOIN
			tb_trade_status AS tra
			ON
			pay.trade_status_code = tra.trade_status_code
		ORDER BY
			CAST(SUBSTRING(ret.return_code, 7) AS UNSIGNED) DESC;

	</select>
	
	<!-- 주문 취소 내역 조회 -->
	<select id="getRentalCancelHistory" resultMap="rentalCancelMap">
		SELECT
			can.rental_cancel_code,
			can.cancel_user_id,
			can.rental_code,
			can.payment_code,
			can.rental_cancel_signup_date,
			can.refund_user_id,
			can.refund_cancel_signup_date,
			can.owner_cancel_signup_check_date,
			can.refund_way,
			can.refund_money,
			can.mileage_use_price,
			can.save_mileage,
			can.mileage_group_code
		FROM
			tb_rental_cancel AS can;
	</select>
	
	<!-- 주문 내역 조회 -->
	<select id="getOrderHistory" parameterType="map" resultMap="orderHistoryMap">
		SELECT
			g.goods_name,
			ren.rental_code,
			ren.rental_start_date, 
			ren.rental_end_date, 
			ren.select_delivery,
			sgg.region_sgg_name,
			pay.user_addr_desc,
			pay.payment_account_or_card_number,
			pay.payment_agency, 
			pay.payment_type,
			pay.Expected_payment_amount,
			pay.goods_commision_total_price,
			pay.mileage_use_price,
			pay.save_mileage,
			pay.amount_excluding_mileage,
			pay.settlement_amount,
			pay.payment_time,
			tra.order_state_standard_name
		FROM
			tb_rental AS ren
			INNER JOIN
			tb_payment AS pay
			ON
			ren.rental_code = pay.rental_code
			INNER JOIN
			tb_region_sgg AS sgg
			ON
			pay.region_sgg_code = sgg.region_sgg_code
			INNER JOIN
			tb_trade_status AS tra
			ON
			pay.trade_status_code = tra.trade_status_code
			INNER JOIN
			tb_goods AS g
			ON
			ren.goods_code = g.goods_code
		ORDER BY
 			CAST(SUBSTRING(pay.payment_code,8) AS UNSIGNED) DESC
		<if test="startRowNum != null and startRowNum > -1">
			LIMIT #{startRowNum}, #{rowPerPage};
		</if>
	</select>
	
	<!-- 주문 내역 행 총 개수-->
	<select id="getOrderHistoryCnt" resultType="int">
		SELECT 
			COUNT(1)
		FROM
			tb_rental;
	</select>
</mapper>