<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team03.rentravel.mapper.AdminInsuranceMapper">

	<resultMap type="Insurance"	id="adminInsuranceResultMap">
		<id property="insuranceCode" column="insurance_code" />
		<result property="userId" column="user_id" />
		<result property="goodsCode" column="goods_code" />
		<result property="paymentCode" column="payment_code" />
		<result property="rentalCode" column="rental_code" />
		<result property="insuranceAvailable" column="insurance_available" />
		<result property="insuranceSignUpTime" column="insurance_sign_up_time" />
	</resultMap>
	
	<resultMap type="InsuranceBillDetail" id="adminInsuranceBillDetailResultMap">
		<id property="insuranceBillDetailCode" column="insurance_bill_detail_code" />
		<result property="insuranceCode" column="insurance_code" />
		<result property="userId" column="user_id" />
		<result property="goodsCode" column="goods_code" />
		<result property="paymentCode" column="payment_code" />
		<result property="accidentDate" column="accident_date" />
		<result property="accidentType" column="accident_type" />
		<result property="accidentContent" column="accident_content" />
		<result property="insuranceEvidence" column="insurance_evidence" />
		<result property="bankName" column="bank_name" />
		<result property="accountHolder" column="account_holder" />
		<result property="accountNumber" column="account_number" />
		<result property="requestDate" column="request_date" />
	</resultMap>
	
	<resultMap type="InsuranceBill" id="adminInsuranceBillResultMap">
		<id property="insuranceBillCode" column="insurance_bill_code" />
		<result property="userId" column="user_id" />
		<result property="insuranceBillDetailCode" column="insurance_bill_detail_code" />
		<result property="insuranceBillStateCode" column="insurance_bill_state_code" />
		<result property="insuranceBillModifyDate" column="insurance_bill_modify_date" />
	</resultMap>
	
	<resultMap type="InsurancePayout" id="adminInsurancePayoutResultMap">
		<id property="insurancePayoutCode" column="insurance_payout_code" />
		<result property="userId" column="user_id" />
		<result property="insuranceBillDetailCode" column="insurance_bill_detail_code" />
		<result property="insuranceBillCode" column="insurance_bill_code" />
		<result property="insurancePayoutPrice" column="insurance_payout_price" />
		<result property="insurancePayoutDate" column="insurance_payout_date" />
	</resultMap>
	
	<resultMap type="InsuranceBillState" id="adminInsuranceBillStateResultMap">
		<id property="insuranceBillStateCode" column="insurance_bill_state_code" />
		<result property="insuranceBillStateName" column="insurance_bill_state_name" />
	</resultMap>
	
	<select id="adminGetInsuranceList" resultMap="adminInsuranceResultMap">
		/* 보험 정보 조회 */
		SELECT
			i.insurance_code,
			i.user_id,
			i.goods_code,
			i.payment_code,
			i.rental_code,
			i.insurance_available,
			i.insurance_sign_up_time
		FROM
			tb_insurance AS i
		ORDER BY
			i.insurance_code;
	</select>
	
	<select id="adminGetInsuranceBillDetail" resultMap="adminInsuranceBillDetailResultMap">
		/* 보상금청구서 상세 조회 */
		SELECT
			ibd.insurance_bill_detail_code,
			ibd.insurance_code,
			ibd.user_id,
			ibd.goods_code,
			ibd.payment_code,
			ibd.accident_date,
			ibd.accident_type,
			ibd.accident_content,
			ibd.insurance_evidence,
			ibd.bank_name,
			ibd.account_holder,
			ibd.account_number,
			ibd.request_date
		FROM
			tb_insurance_bill_detail AS ibd
		ORDER BY
			ibd.insurance_bill_detail_code;
	
	</select>
	
	<select id="adminGetInsuranceBillList" resultMap="adminInsuranceBillResultMap">
			/* 보험청구서리스트 조회 */
			SELECT
				ib.insurance_bill_code,
				ib.user_id,
				ib.insurance_bill_detail_code,
				ib.insurance_bill_state_code,
				ib.insurance_bill_modify_date
			FROM
				tb_insurance_bill AS ib
			ORDER BY
				ib.insurance_bill_code;
	</select>
	
		<select id="adminGetInsuranceBillInfoByCode" resultMap="adminInsuranceBillResultMap" parameterType="String">
			/* 보험청구서리스트 조회(보험청구서코드) */
			SELECT
				ib.insurance_bill_code,
				ib.user_id,
				ib.insurance_bill_detail_code,
				ib.insurance_bill_state_code,
				ib.insurance_bill_modify_date
			FROM
				tb_insurance_bill AS ib
			WHERE
				ib.insurance_bill_code = #{insuranceBillCode};
	</select>
	
	<select id="adminGetInsurancePayoutList" resultMap="adminInsurancePayoutResultMap">
			/* 보상급 지급내역 조회 */
			SELECT
				ip.insurance_payout_code,
				ip.user_id,
				ip.insurance_bill_detail_code,
				ip.insurance_bill_code,
				ip.insurance_payout_price,
				ip.insurance_payout_date
			FROM
				tb_insurance_payout AS ip
			ORDER BY
				ip.insurance_payout_code;
	</select>
	
	<select id="adminGetInsurancePayoutInfoByCode" resultMap="adminInsurancePayoutResultMap" parameterType="String">
			/* 보상급 지급내역 조회(보상금지급코드) */
			SELECT
				ip.insurance_payout_code,
				ip.user_id,
				ip.insurance_bill_detail_code,
				ip.insurance_bill_code,
				ip.insurance_payout_price,
				ip.insurance_payout_date
			FROM
				tb_insurance_payout AS ip
			WHERE
				ip.insurance_payout_code = #{insurancePayoutCode};
	</select>
	
	<select id="adminGetInsuranceBillStateList" resultMap="adminInsuranceBillStateResultMap">
		SELECT *
		from tb_insurance_bill_state;
	</select>
	
	<insert id="adminAddInsurancePayout" parameterType="InsurancePayout">
		/*보상금 지급내역 등록*/
		INSERT INTO tb_insurance_payout
		(insurance_payout_code, user_id, insurance_bill_detail_code, insurance_bill_code, insurance_payout_price, insurance_payout_date)
		VALUES
		(#{insurancePayoutCode}, #{userId}, #{insuranceBillDetailCode}, #{insuranceBillCode}, #{insurancePayoutPrice}, NOW());
	</insert>
	
	<update id="adminModifyInsurancePayout"  parameterType ="InsurancePayout">
		/* 보상금지급내역 수정 */
		UPDATE
			tb_insurance_payout
		SET
			insurance_payout_price = #{insurancePayoutPrice},
			insurance_payout_date = NOW()
		WHERE
			insurance_payout_code = #{insurancePayoutCode};
	</update>
	
	<delete id="adminRemoveInsurancePayout" parameterType="String">
		/*보상금 지급내역 삭제*/
		DELETE FROM tb_insurance_payout
		WHERE insurance_payout_code = #{insurancePayoutCode};
	</delete>
	
</mapper>