<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team03.rentravel.mapper.AdminOrderMapper">
	<!-- 주문 내역 맵 -->
	<resultMap type="Rental" id="orderHistoryMap">
		<id 	property="rentalCode" 	  		column="rental_code" />
		<result property="goodsCode" 	  		column="goods_code" />
		<result property="userId" 	  			column="user_id" />
		<result property="rentalStartDate" 		column="rental_start_date" />
		<result property="rentalEndDate" 		column="rental_end_date" />
		<result property="selectDelivery" 		column="select_delivery" />
		<result property="rentalOrderDate" 		column="rental_order_date" />
		<result property="goodsName" 			column="goods_name" />
		<result property="sidoName" 			column="region_sido_name" />
		<result property="sigunguName" 			column="region_sgg_name" />
		<result property="orderStateName" 		column="order_state_standard_name" />
		<association property="payment" javaType="Payment">
			<id 	property="paymentCode" 	  					column="payment_code" />
			<result property="goodsCode" 						column="goods_code" />
			<result property="rentalCode" 	  					column="rental_code" />
			<result property="userId" 	  						column="user_id" />
			<result property="regionSggCode" 					column="region_sgg_code" />
			<result property="userAddrDesc" 					column="user_addr_desc" />
			<result property="paymentAccountOrCardNumber" 	  	column="payment_account_or_card_number" />
			<result property="paymentAgency" 	  				column="payment_agency" />
			<result property="paymentType" 	  					column="payment_type" />
			<result property="expectedPaymentAmount" 	  		column="expected_payment_amount" />
			<result property="goodsCommisionTotalPrice" 	  	column="goods_commision_total_price" />
			<result property="mileageUsePrice" 	  				column="mileage_use_price" />
			<result property="saveMileage" 	  					column="save_mileage" />
			<result property="amountExcludingMileage" 	  		column="amount_excluding_mileage" />
			<result property="settlementAmount" 				column="settlement_amount" />
			<result property="paymentTime" 	  					column="payment_time" />
			<result property="tradeStatusCode" 					column="trade_status_code" />
			<result property="mileageSaveGroupCode" 			column="mileage_save_group_code" />
			<result property="mileageUseGroupCode" 	  			column="user_image" />
		</association>
	</resultMap>
	
	<!-- 주문 취소 맵 -->
	<resultMap type="RentalCancel" id="rentalCancelMap">
		<id 	property="rentalCancelCode" 	  		column="rental_cancel_code" />
		<result property="cancelUserId" 	  			column="cancel_user_id" />
		<result property="rentalCode" 	  				column="rental_code" />
		<result property="paymentCode" 					column="payment_code" />
		<result property="rentalCancelSignupDate" 		column="rental_cancel_signup_date" />
		<result property="refundUserId" 				column="refund_user_id" />
		<result property="refundCancelSignupDate" 		column="refund_cancel_signup_date" />
		<result property="ownerCancelSignupCheckDate" 	column="owner_cancel_signup_check_date" />
		<result property="refundWay" 			 		column="refund_way" />
		<result property="refundMoney" 					column="refund_money" />
		<result property="mileageUsePrice" 				column="mileage_use_price" />
		<result property="saveMileage" 					column="save_mileage" />
		<result property="mileageGroupCode" 			column="mileage_group_code" />
	</resultMap>

	<!-- 환불 맵 -->	
	<resultMap type="Return" id="returnMap">
		<id 	property="returnCode" 	  		column="return_code" />
		<result property="tradeStatusCode" 	column="trade_status_code" />
		<result property="ownerId" 	  			column="owner_id" />
		<result property="renterId" 	  		column="renter_id" />
		<result property="rentalCode" 			column="rental_code" />
		<result property="paymentCode" 			column="payment_code" />
		<result property="returnDate" 			column="return_date" />
		<result property="goodsName" 			column="goods_name" />
		<result property="rentalStartDate" 		column="rental_start_date" />
		<result property="rentalEndDate" 		column="rental_end_date" />
		<result property="orderStateName" 		column="order_state_standard_name" />
	</resultMap>

	<!-- 운송장번호(오너) 맵 -->
	<resultMap type="WaybillOwner" id="waybillOwnerMap">
		<id 	property="waybillOwnerCode" 	  		column="waybill_owner_code" />
		<result property="ownerId" 	  			column="owner_id" />
		<result property="renterId" 	  		column="renter_id" />
		<result property="paymentCode" 			column="payment_code" />
		<result property="courierName" 			column="courier_name" />
		<result property="waybillNumber" 			column="waybill_number" />
		<result property="waybillRegDate" 			column="waybill_reg_date" />
	</resultMap>

	<!-- 운송장번호(렌터) 맵 -->
	<resultMap type="WaybillRenter" id="waybillRenterMap">
		<id 	property="waybillRenterCode" 	  		column="waybill_renter_code" />
		<result property="renterId" 	  		column="renter_id" />
		<result property="ownerId" 	  			column="owner_id" />
		<result property="paymentCode" 			column="payment_code" />
		<result property="courierName" 			column="courier_name" />
		<result property="waybillNumber" 			column="waybill_number" />
		<result property="waybillRegDate" 			column="waybill_reg_date" />
	</resultMap>
	
	<!-- 주문 상태 맵 -->
	<resultMap type="TradeStatus" id="tradeStatusMap">
		<id 	property="tradeStatusCode" 	  		column="trade_status_code" />
		<result property="orderStateStandardName" 	column="order_state_standard_name" />
	</resultMap>
	
	<!-- 주문 상태 목록 조회 -->
	<select id="getTradeStateList"  resultMap="tradeStatusMap">
		SELECT
			tra.trade_status_code,
			tra.order_state_standard_name
		FROM
			tb_trade_status AS tra;
	</select>
	
	<!-- 결제 내역 수정 paymentTable -->
	<update id="modifyPaymentTable" parameterType="Rental">
		UPDATE
			tb_payment AS pay
		SET
			pay.expected_payment_amount = #{payment.expectedPaymentAmount},
			pay.goods_commision_total_price = #{payment.goodsCommisionTotalPrice},
			pay.mileage_use_price = #{payment.mileageUsePrice},
			pay.save_mileage = #{payment.saveMileage},
			pay.amount_excluding_mileage = #{payment.amountExcludingMileage},
			pay.settlement_amount = #{payment.settlementAmount}
		WHERE
			pay.rental_code = #{rentalCode};
	</update>
	
	<!-- 결제 내역 수정 rentalTable -->
	<update id="modifyRentalTable" parameterType="Rental">
		UPDATE
			tb_rental AS ren
		SET
			ren.rental_start_date = #{rentalStartDate},
			ren.rental_end_date = #{rentalEndDate}
		WHERE
			ren.rental_code	= #{rentalCode};
	</update>
	
	<!-- 렌탈 코드로 결제 내역 조회 -->
	<select id="getOrderInfoByRentalCode" parameterType="String" resultMap="orderHistoryMap">
		SELECT
			g.goods_name,
			ren.rental_code,
			ren.rental_start_date, 
			ren.rental_end_date, 
			ren.select_delivery,
			sido.region_sido_name,
			sgg.region_sgg_name,
			pay.user_addr_desc,
			pay.payment_account_or_card_number,
			pay.payment_agency, 
			pay.payment_type,
			pay.Expected_payment_amount,
			pay.goods_commision_total_price,
			pay.mileage_use_price,
			pay.save_mileage,
			pay.amount_excluding_mileage,
			pay.settlement_amount,
			pay.payment_time,
			tra.order_state_standard_name
		FROM
			tb_rental AS ren
			INNER JOIN
			tb_payment AS pay
			ON
			ren.rental_code = pay.rental_code
			INNER JOIN
			tb_region_sgg AS sgg
			ON
			pay.region_sgg_code = sgg.region_sgg_code
			INNER JOIN
			tb_region_sido AS sido
			ON
			sido.region_sido_code = sgg.region_sido_code
			INNER JOIN
			tb_trade_status AS tra
			ON
			pay.trade_status_code = tra.trade_status_code
			INNER JOIN
			tb_goods AS g
			ON
			ren.goods_code = g.goods_code
		WHERE 
			ren.rental_code = #{rentalCode};
	</select>
	
	<!-- 오너 운송장번호 목록 조회 -->
	<select id="getWaybillOwnerList" resultMap="waybillOwnerMap">
		SELECT
			wayo.waybill_owner_code,
			wayo.owner_id,
			wayo.renter_id,
			wayo.payment_code,
			wayo.courier_name,
			wayo.waybill_number,
			wayo.waybill_reg_date
		FROM
			tb_waybill_owner AS wayo
		ORDER BY 
			CAST(SUBSTRING(wayo.waybill_owner_code,14) AS UNSIGNED) DESC
		<if test="startIndex != null and startIndex > -1">
			LIMIT #{startIndex}, #{pageSize};
		</if>
	</select>
	
	<!-- 오너 운송장 번호 조회 -->
	<select id="getOwnerWayBill" parameterType="String" resultMap="waybillOwnerMap">
		SELECT
			owner.waybill_owner_code,
			owner.owner_id, 
			owner.renter_id,
			owner.payment_code,
			owner.courier_name,
			owner.waybill_number,
			owner.waybill_reg_date
		FROM
			tb_waybill_owner AS owner
		WHERE
			owner.waybill_owner_code = #{waybillOwnerCode};
	</select>
	
	<!-- 오너 운송장 번호 수정 -->
	<update id="modifyWaybillOwner"  parameterType="WaybillOwner">
		UPDATE
			tb_waybill_owner AS wayo
		SET
			wayo.courier_name = #{courierName},
			wayo.waybill_number = #{waybillNumber}
		WHERE
			wayo.waybill_owner_code = #{waybillOwnerCode};
	</update>
	
	<!-- 오너 운송장 번호 갯수 조회 -->
	<select id="getOwnerWaybillCnt" resultType="int">
		SELECT	
			COUNT(1)
		 FROM
		 	tb_waybill_owner;
	</select>
	
	<!-- 렌터 운송장번호 목록 조회 -->
	<select id="getWaybillRenterList" resultMap="waybillRenterMap">
		SELECT
			wayr.waybill_renter_code,
			wayr.renter_id,
			wayr.owner_id,
			wayr.payment_code,
			wayr.courier_name,
			wayr.waybill_number,
			wayr.waybill_reg_date
		FROM
			tb_waybill_renter AS wayr
		ORDER BY 
			CAST(SUBSTRING(wayr.waybill_renter_code,15) AS UNSIGNED) DESC
		<if test="startIndex != null and startIndex > -1">
			LIMIT #{startIndex}, #{pageSize};
		</if>
	</select>	
	
	<!-- 렌터 운송장 번호 조회 -->
	<select id="getRenterWayBill" parameterType="String" resultMap="waybillRenterMap">
		SELECT
			renter.waybill_renter_code,
			renter.renter_id, 
			renter.owner_id,
			renter.payment_code,
			renter.courier_name,
			renter.waybill_number,
			renter.waybill_reg_date
		FROM
			tb_waybill_renter AS renter
		WHERE
			renter.waybill_renter_code = #{waybillOwnerCode}
	</select>
	
	<!-- 렌터 운송장 번호 수정 -->
	<update id="modifyWaybillRenter"  parameterType="WaybillRenter">
		UPDATE
			tb_waybill_renter AS wayr
		SET
			wayr.courier_name = #{courierName},
			wayr.waybill_number = #{waybillNumber}
		WHERE
			wayr.waybill_renter_code = #{waybillRenterCode};
	</update>
	
	<!-- 렌터 운송장 번호 갯수 조회 -->
	<select id="getRenterWaybillCnt" resultType="int">
		SELECT	
			COUNT(1)
		 FROM
		 	tb_waybill_renter;
	</select>
	
	
	<!-- 반납 내역 조회 -->
	<select id="getReturnHistory" resultMap="returnMap">
		SELECT
			g.goods_name,
			ren.rental_start_date, 
			ren.rental_end_date,
			ret.return_code,
			ret.owner_id,
			ret.renter_id,
			tra.order_state_standard_name,
			ret.return_date
		FROM
			tb_return AS ret
			INNER JOIN
			tb_rental AS ren
			ON
			ret.rental_code = ren.rental_code
			INNER JOIN
			tb_goods AS g
			ON
			ren.goods_code = g.goods_code
			INNER JOIN
			tb_payment AS pay
			ON
			ret.payment_code = pay.payment_code
			INNER JOIN
			tb_trade_status AS tra
			ON
			pay.trade_status_code = tra.trade_status_code
		ORDER BY
			CAST(SUBSTRING(ret.return_code, 7) AS UNSIGNED) DESC
		<if test="startIndex != null and startIndex > -1">
			LIMIT #{startIndex}, #{pageSize};
		</if>
	</select>
	
	<!-- 반납 정보 조회 -->
	<select id="getReturn" parameterType="String" resultMap="returnMap">
		SELECT
			g.goods_name,
			pay.trade_status_code,
			ren.rental_start_date, 
			ren.rental_end_date,
			ret.return_code,
			ret.owner_id,
			ret.renter_id,
			tra.order_state_standard_name,
			ret.return_date
		FROM
			tb_return AS ret
			INNER JOIN
			tb_rental AS ren
			ON
			ret.rental_code = ren.rental_code
			INNER JOIN
			tb_goods AS g
			ON
			ren.goods_code = g.goods_code
			INNER JOIN
			tb_payment AS pay
			ON
			ret.payment_code = pay.payment_code
			INNER JOIN
			tb_trade_status AS tra
			ON
			pay.trade_status_code = tra.trade_status_code
		WHERE
			ret.return_code = #{returnCode};
	</select>
	
	<!-- 반납 수정 -->
	<update id="modifyReturn" parameterType="Return">
		UPDATE
			tb_payment AS pay
			INNER JOIN
			tb_return AS ret
			ON
			pay.payment_code = ret.payment_code
		SET
			pay.trade_status_code = #{tradeStatusCode},
			ret.return_date = NOW()
		WHERE
			ret.return_code = #{returnCode};
	</update>
	
	<!-- 렌탈 취소 정보를 수정합니다. -->
	<update id="modifyRentalCancel" parameterType="RentalCancel">
		UPDATE
			tb_rental_cancel AS cancel
		SET
			cancel.rental_cancel_signup_date = #{rentalCancelSignupDate},
			cancel.refund_user_id = #{refundUserId},
			cancel.refund_cancel_signup_date = #{refundCancelSignupDate},
			cancel.owner_cancel_signup_check_date = #{ownerCancelSignupCheckDate},
			cancel.refund_way = #{refundWay},
			cancel.refund_money = #{refundMoney},
			cancel.mileage_use_price = #{mileageUsePrice},
			cancel.save_mileage = #{saveMileage}
		WHERE
		  `rental_cancel_code`= #{rentalCancelCode};
	</update>
	
	<!-- 렌탈 취소 정보를 조회합니다. -->
	<select id="getRentalCancel" parameterType="String" resultMap="rentalCancelMap">
		SELECT
			cancel.rental_cancel_code,
			cancel.cancel_user_id,
			cancel.rental_code,
			cancel.payment_code,
			cancel.rental_cancel_signup_date,
			cancel.refund_user_id,
			cancel.refund_cancel_signup_date,
			cancel.owner_cancel_signup_check_date,
			cancel.refund_way,
			cancel.refund_money,
			cancel.mileage_use_price,
			cancel.save_mileage,
			cancel.mileage_group_code
		FROM
			tb_rental_cancel AS cancel
		WHERE
			cancel.rental_cancel_code = #{rentalCancelCode};													
	</select>
	
	<!-- 주문 취소 내역 조회 -->
	<select id="getRentalCancelHistory" parameterType="int" resultMap="rentalCancelMap">
		SELECT
			can.rental_cancel_code,
			can.cancel_user_id,
			can.rental_code,
			can.payment_code,
			can.rental_cancel_signup_date,
			can.refund_user_id,
			can.refund_cancel_signup_date,
			can.owner_cancel_signup_check_date,
			can.refund_way,
			can.refund_money,
			can.mileage_use_price,
			can.save_mileage,
			can.mileage_group_code
		FROM
			tb_rental_cancel AS can
		ORDER BY 
			CAST(SUBSTRING(can.rental_cancel_code,14) AS UNSIGNED) DESC
		<if test="startIndex != null and startIndex > -1">
			LIMIT #{startIndex}, #{pageSize};
		</if>
	</select>
	
	<!-- 주문 취소 내역 행 총 개수-->
	<select id="getRentalCancelHistoryCnt" resultType="int">
		SELECT 
			COUNT(1)
		FROM
			tb_rental_cancel AS can;
	</select>
	
	<!-- 주문 내역 조회 -->
	<select id="getOrderHistory" parameterType="map" resultMap="orderHistoryMap">
		SELECT
			g.goods_name,
			ren.rental_code,
			ren.rental_start_date, 
			ren.rental_end_date, 
			ren.select_delivery,
			sido.region_sido_name,
			sgg.region_sgg_name,
			pay.user_addr_desc,
			pay.payment_account_or_card_number,
			pay.payment_agency, 
			pay.payment_type,
			pay.Expected_payment_amount,
			pay.goods_commision_total_price,
			pay.mileage_use_price,
			pay.save_mileage,
			pay.amount_excluding_mileage,
			pay.settlement_amount,
			pay.payment_time,
			tra.order_state_standard_name
		FROM
			tb_rental AS ren
			INNER JOIN
			tb_payment AS pay
			ON
			ren.rental_code = pay.rental_code
			INNER JOIN
			tb_region_sgg AS sgg
			ON
			pay.region_sgg_code = sgg.region_sgg_code
			INNER JOIN
			tb_region_sido AS sido
			ON
			sido.region_sido_code = sgg.region_sido_code
			INNER JOIN
			tb_trade_status AS tra
			ON
			pay.trade_status_code = tra.trade_status_code
			INNER JOIN
			tb_goods AS g
			ON
			ren.goods_code = g.goods_code
		ORDER BY
 			CAST(SUBSTRING(pay.payment_code,8) AS UNSIGNED) DESC
		<if test="startIndex != null and startIndex > -1">
			LIMIT #{startIndex}, #{pageSize};
		</if>
	</select>
	
	<!-- 주문 내역 행 총 개수-->
	<select id="getOrderHistoryCnt" resultType="int">
		SELECT 
			COUNT(1)
		FROM
			tb_rental;
	</select>
</mapper>