<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ks45team03.rentravel.mapper.GoodsMapper" >    

	<resultMap type="Goods" id="goodsResultMap">
		<id property="goodsCode" 			column="goods_code"/>
		<result property="goodsName" 		column="goods_name"/>
		<result property="goodsCategoryCode" 		column="goods_category_code"/>
		<result property="userId" 	column="user_id"/>
		<result property="goodsRentalAvailability" 	column="goods_rental_availability"/>
		<result property="goodsValuePrice" 	column="goods_value_price"/>
		<result property="goodsPurchaseDate" 	column="goods_purchase_date"/>
		<result property="goodsDayPrice" 	column="goods_day_price"/>
		<result property="commisionRateCode" 	column="commision_rate_code"/>
		<result property="commisionRate" 	column="commision_rate"/>
		<result property="goodsCommisionDayPrice" 	column="goods_commision_day_price"/>
		<result property="goodsDetail" 	column="goods_detail"/>
		<result property="goodsRegDate" 	column="goods_reg_date"/>
		<result property="regionSggCode" 	column="region_sgg_code"/>
		<result property="goodsCategoryName" 	column="goods_category_name"/>
		
	</resultMap>

	<resultMap type="GoodsImg" id="goodsImgResultMap">
		<id property="goodsImgCode" 			column="goods_img_code"/>
		<result property="goodsImg" 		column="goods_img"/>
		<result property="goodsImgRowNum" 		column="row_number() OVER()"/>
	</resultMap>

	<select id="getGoodsListNotUser" resultMap="goodsResultMap">
    
    /* 상품 목록 리스트 조회 */
		SELECT
			g.goods_code
			, g.goods_name
			, g.user_id
			, g.goods_rental_availability
			, g.goods_value_price
			, g.goods_day_price
			, g.goods_reg_date
			, g.goods_detail
			, gc.goods_category_name
		FROM
			tb_goods AS g
		JOIN
			tb_goods_category AS gc
		ON
			g.goods_category_code = gc.goods_category_code;
		
    </select>
    <select id="getGoodsList" parameterType="String" resultMap="goodsResultMap">
    
    /* 상품 목록 리스트 조회 */
		SELECT
			g.goods_code
			, g.goods_name
			, g.user_id
			, g.goods_rental_availability
			, g.goods_value_price
			, g.goods_day_price
			, g.goods_reg_date
			, g.goods_detail
			, gc.goods_category_name
		FROM
			tb_goods AS g
		JOIN
			tb_goods_category AS gc
		ON
			g.goods_category_code = gc.goods_category_code
		WHERE
    		g.user_id NOT IN (	SELECT 
								  		b.blocked_user_id
							   	FROM 
										tb_block AS b
								WHERE 
									b.blocking_user_id = #{loginId});
    </select>
    
    <select id="getGoodsImg" parameterType="String" resultMap="goodsImgResultMap">
		SELECT
			gi.goods_img_code
			,gi.goods_img
			,row_number() OVER()
		FROM
			tb_goods AS g
		JOIN
			tb_goods_img AS gi
		ON
			g.goods_code = gi.goods_code
		WHERE
			g.goods_code = #{goodsCode};
    </select>
    
    <select id="getGoodsDetailByGoodsCode" parameterType="String" resultMap="goodsResultMap">
	    SELECT
			g.goods_code
			,g.goods_name
			,g.goods_category_code
			,g.user_id
			,g.goods_rental_availability
			,g.goods_value_price
			,g.goods_purchase_date
			,g.goods_day_price
			,g.goods_detail
			,gc.goods_category_name
		FROM
			tb_goods AS g
		JOIN
			tb_goods_category AS gc
		ON
			g.goods_category_code = gc.goods_category_code
		WHERE
			g.goods_code = #{goodsCode};
    </select>
    
    <insert id="addGoods" parameterType="Goods">
    	INSERT into tb_goods
			(goods_code
			,goods_name
			,user_id
			,goods_rental_availability
			,goods_value_price
			,goods_day_price
			,goods_detail
			,goods_reg_date
			,goods_category_code
			,commision_rate_code
			,commision_rate
			,goods_commision_day_price)
		VALUES
			(sf_new_goods_code()
			,#{goodsName}
			,#{userId}
			,'Y'
			,#{goodsValuePrice}
			,#{goodsDayPrice}
			,#{goodsDetail}
			,curdate()
			,#{goodsCategoryCode}
			,'commision3'
			,'0.1'
			,goods_day_price * commision_rate);
    </insert>
    
    <update id="modifyGoods" parameterType="Goods">
    
		UPDATE
			tb_goods
		SET
			goods_name=#{goodsName} 
			,goods_value_price=#{goodsValuePrice}
			,goods_day_price=#{goodsDayPrice}
			,goods_detail=#{goodsDetail}
			,goods_category_code=#{goodsCategoryCode}
		WHERE
			goods_code=#{goodsCode};
			
    </update>
</mapper>