<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ks45team03.rentravel.mapper.GoodsMapper" >    

	<resultMap type="Goods" id="goodsResultMap">
		<id property="goodsCode" 			column="goods_code"/>
		<result property="goodsName" 		column="goods_name"/>
		<result property="userId" 	column="user_id"/>
		<result property="goodsRentalAvailability" 	column="goods_rental_availability"/>
		<result property="goodsValuePrice" 	column="goods_value_price"/>
		<result property="goodsPurchaseDate" 	column="goods_purchase_date"/>
		<result property="goodsDayPrice" 	column="goods_day_price"/>
		<result property="commisionRateCode" 	column="commision_rate_code"/>
		<result property="commisionRate" 	column="commision_rate"/>
		<result property="goodsCommisionDayPrice" 	column="goods_commision_day_price"/>
		<result property="goodsDetail" 	column="goods_detail"/>
		<result property="goodsRegDate" 	column="goods_reg_date"/>
		<result property="regionSggCode" 	column="region_sgg_code"/>
		<result property="goodsState" 	column="goods_state"/>
		<result property="fileGroupCode" 	column="file_group_code"/>
		<result property="filePath" 	column="file_path"/>
		
		<result property="goodsCategoryCode" 		column="goods_category_code"/>
		<result property="goodsCategoryName" 	column="goods_category_name"/>
		<result property="countByCategory" 	column="count_by_category"/>
		<result property="userRegion" 	column="user_region"/>
		
		<result property="userNickname" 	column="user_nickname"/>
		
	</resultMap>

	<resultMap type="GoodsImg" id="goodsImgResultMap">
		<id property="goodsImgCode" 			column="goods_img_code"/>
		<result property="goodsImg" 		column="goods_img"/>
		<result property="goodsImgRowNum" 		column="row_number() OVER()"/>
	</resultMap>
	

	<select id="getGoodsListNotLogin" resultMap="goodsResultMap">
    
    /* 상품 목록 리스트 조회 */
		SELECT
			g.goods_code
			, g.goods_name
			, g.user_id
			, g.goods_rental_availability
			, g.goods_value_price
			, g.goods_day_price
			, g.goods_reg_date
			, g.goods_detail
			, g.goods_category_code
			, gc.goods_category_name
			, CONCAT(rsido.region_sido_name,' ',rsgg.region_sgg_name) as user_region
			, u.user_nickname
			,f.file_path
		FROM
			tb_goods AS g
		join
			tb_region_sgg AS rsgg
		ON
		 	rsgg.region_sgg_code = g.region_sgg_code
		join
			tb_region_sido AS rsido
		on
			rsgg.region_sido_code = rsido.region_sido_code
		join
			tb_goods_category AS gc
		on
			gc.goods_category_code = g.goods_category_code
		JOIN
			tb_user AS u
		ON
			u.user_id = g.user_id
		JOIN
			tb_file_group AS fg
		ON
			g.file_group_code = fg.file_group_code
		JOIN
			tb_file AS f
		ON
			f.file_code = fg.file_code
		<where>
			g.goods_state = 'activate'
			<if test="goodsCategoryCode != 'all'">
				and gc.goods_category_code = #{goodsCategoryCode}
			</if>
			
			<if test="searchKey != null and searchKey != ''">
				and ${searchKey} LIKE CONCAT('%', #{searchValue}, '%')
			</if>
			
			<if test='goodsRentalAvailability == "Y"'>
				and goods_rental_availability = 'Y'
			</if>
			
			<if test='goodsRentalAvailability == "N"'>
				and goods_rental_availability = 'N'
			</if>
		</where>
		order by g.goods_reg_date desc
		<if test="startIndex != null and startIndex > -1">
			LIMIT #{startIndex}, #{pageSize}
		</if>
    </select>
    
    <select id="getMainGoodsList" resultMap="goodsResultMap">

		SELECT
			g.goods_code
			, g.goods_name
			, g.goods_day_price
			,f.file_path
			,g.user_id
		FROM
			tb_goods AS g
		JOIN
			tb_file_group AS fg
		ON
			g.file_group_code = fg.file_group_code
		JOIN
			tb_file AS f
		ON
			f.file_code = fg.file_code
		where
			g.goods_state = 'activate'
		order by
			g.goods_reg_date desc
		LIMIT 8;
    
    </select>
    
    <select id="getGoodsList" resultMap="goodsResultMap">
    
    /* 상품 목록 리스트 조회 */
		SELECT
			g.goods_code
			, g.goods_name
			, g.user_id
			, g.goods_rental_availability
			, g.goods_value_price
			, g.goods_day_price
			, g.goods_reg_date
			, g.goods_detail
			, g.goods_category_code
			, gc.goods_category_name
			, CONCAT(rsido.region_sido_name,' ',rsgg.region_sgg_name) as user_region
			, u.user_nickname
			,f.file_path
		FROM
			tb_goods AS g
		join
			tb_region_sgg AS rsgg
		ON
		 	rsgg.region_sgg_code = g.region_sgg_code
		join
			tb_region_sido AS rsido
		on
			rsgg.region_sido_code = rsido.region_sido_code
		join
			tb_goods_category AS gc
		on
			gc.goods_category_code = g.goods_category_code
		JOIN
			tb_user AS u
		ON
			u.user_id = g.user_id	
		JOIN
			tb_file_group AS fg
		ON
			g.file_group_code = fg.file_group_code
		JOIN
			tb_file AS f
		ON
			f.file_code = fg.file_code
		<where>
			g.goods_state = 'activate'
			and
    		g.user_id NOT IN (	SELECT 
								  		b.blocked_user_id
							   	FROM 
										tb_block AS b
								WHERE 
									b.blocking_user_id = #{loginId})
			
			<if test="goodsCategoryCode != 'all'">
				and	g.goods_category_code = #{goodsCategoryCode}
			</if>
			
			<if test="searchKey != null and searchKey != ''">
				and	${searchKey} LIKE CONCAT('%', #{searchValue}, '%')
			</if>
			
			<if test='goodsRentalAvailability == "Y"'>
				and goods_rental_availability = 'Y'
			</if>
			
			<if test='goodsRentalAvailability == "N"'>
				and goods_rental_availability = 'N'
			</if>
			
		</where>	
			order by g.goods_reg_date desc	
			<if test="startIndex != null and startIndex > -1">
				LIMIT #{startIndex}, #{pageSize}
			</if>
		
    </select>
    
    <select id="getGoodsImg" parameterType="String" resultMap="goodsImgResultMap">
		SELECT
			gi.goods_img_code
			,gi.goods_img
			,row_number() OVER()
		FROM
			tb_goods AS g
		JOIN
			tb_goods_img AS gi
		ON
			g.goods_code = gi.goods_code
		WHERE
			g.goods_code = #{goodsCode};
    </select>
    
    <select id="getGoodsDetailByGoodsCode" parameterType="String" resultMap="goodsResultMap">
	    SELECT
			g.goods_code
			,g.goods_name
			,g.goods_category_code
			,g.user_id
			,g.goods_rental_availability
			,g.goods_value_price
			,g.goods_purchase_date
			,g.goods_day_price
			,g.goods_detail
			,g.goods_reg_date
			,gc.goods_category_name
			, CONCAT(rsido.region_sido_name,' ',rsgg.region_sgg_name) as user_region
			, u.user_nickname
			,f.file_path
		FROM
			tb_goods AS g
		join
			tb_region_sgg AS rsgg
		ON
		 	rsgg.region_sgg_code = g.region_sgg_code
		join
			tb_region_sido AS rsido
		on
			rsgg.region_sido_code = rsido.region_sido_code
		join
			tb_goods_category AS gc
		on
			gc.goods_category_code = g.goods_category_code
		JOIN
			tb_user AS u
		ON
			u.user_id = g.user_id
		JOIN
			tb_file_group AS fg
		ON
			g.file_group_code = fg.file_group_code
		JOIN
			tb_file AS f
		ON
			f.file_code = fg.file_code
		WHERE
			g.goods_code = #{goodsCode};
    </select>
    
    <insert id="addGoods" parameterType="Goods">
    	INSERT into tb_goods
			(goods_code
			,goods_name
			,user_id
			,goods_rental_availability
			,goods_value_price
			,goods_day_price
			,goods_detail
			,goods_reg_date
			,goods_category_code
			,commision_rate_code
			,commision_rate
			,goods_commision_day_price
			,file_group_code
			,region_sgg_code)
		VALUES
			(#{goodsCode}
			,#{goodsName}
			,#{userId}
			,'Y'
			,#{goodsValuePrice}
			,#{goodsDayPrice}
			,#{goodsDetail}
			,now()
			,#{goodsCategoryCode}
			,'commision3'
			,'0.1'
			,goods_day_price * commision_rate
			,#{fileGroupCode}
			,#{regionSggCode});
    </insert>
    
    <update id="modifyGoods" parameterType="Goods">
    
		UPDATE
			tb_goods
		SET
			goods_name=#{goodsName} 
			,goods_category_code=#{goodsCategoryCode}
			,goods_value_price=#{goodsValuePrice}
			,goods_purchase_date=#{goodsPurchaseDate}
			,goods_day_price=#{goodsDayPrice}
			,goods_detail=#{goodsDetail}
		WHERE
			goods_code=#{goodsCode};
			
    </update>
    
    <select id="getGoodsCategoryAndCount" resultMap="goodsResultMap">
    
		SELECT 
			gc.goods_category_code
			,gc.goods_category_name
			,IFNULL(g.count_by_category, 0) AS 'count_by_category'
		FROM
			tb_goods_category AS gc
			LEFT JOIN(
			   SELECT
				 	goods_category_code
					,COUNT(1) AS count_by_category
			    FROM
				 	tb_goods
				where
					goods_state = 'activate'
			    GROUP BY
				 	goods_category_code
			)AS g
		ON g.goods_category_code = gc.goods_category_code;
		
    
    </select>
    
    <select id="getGoodsListCount" resultType="int">
    
    	SELECT
			COUNT(1)
		FROM
			tb_goods as g
		join
			tb_user as u
		on
			u.user_id = g.user_id
		<where>
			goods_state = 'activate'
			<if test="goodsCategoryCode != 'all'">
				and	g.goods_category_code = #{goodsCategoryCode}
			</if>
			
			<if test='goodsRentalAvailability == "Y"'>
				and	g.goods_rental_availability = 'Y'
			</if>
			
			<if test='goodsRentalAvailability == "N"'>
				and g.goods_rental_availability = 'N'
			</if>
			
			<if test="searchKey != null and searchKey != ''">
				and ${searchKey} LIKE CONCAT('%', #{searchValue}, '%')
			</if>
			
		</where>
    
    </select>
    
    <select id="getGoodsListByUserId" resultMap="goodsResultMap">
	    
	    SELECT
			goods_code
			,goods_name
			,user_id
			,goods_day_price
			,f.file_path
		FROM
			tb_goods as g
		JOIN
			tb_file_group AS fg
		ON
			g.file_group_code = fg.file_group_code
		JOIN
			tb_file AS f
		ON
			f.file_code = fg.file_code
		WHERE
			user_id = #{userId}
		and
			goods_code = #{goodsCode}
		ORDER BY
			goods_reg_date desc
		LIMIT 4;
    
    </select>
    
    <update id="removeGoods" parameterType="String">
    
    	UPDATE
			tb_goods AS g
		SET
			g.goods_state = 'disabled'
		WHERE
			g.goods_code = #{goodsCode};
    
    </update>
    
    <select id="getMyGoodsList" parameterType="String" resultMap="goodsResultMap">

		SELECT
			g.goods_code
			, g.goods_name
			, g.user_id
			, g.goods_rental_availability
			, g.goods_value_price
			, g.goods_day_price
			, g.goods_reg_date
			, g.goods_detail
			, g.goods_category_code
			, gc.goods_category_name
			, CONCAT(rsido.region_sido_name,' ',rsgg.region_sgg_name) as user_region
		FROM
			tb_goods AS g
		join
			tb_region_sgg AS rsgg
		ON
		 	rsgg.region_sgg_code = g.region_sgg_code
		join
			tb_region_sido AS rsido
		on
			rsgg.region_sido_code = rsido.region_sido_code
		join
			tb_goods_category AS gc
		on
			gc.goods_category_code = g.goods_category_code
		where
			g.user_id = #{loginId}
		and
			g.goods_state = 'activate'
		order by g.goods_reg_date desc
		<if test="startIndex != null and startIndex > -1">
			LIMIT #{startIndex}, #{pageSize}
		</if>
			
    
    </select>
    
        <select id="getMyGoodsListCount" resultType="int">
    
    	SELECT
			COUNT(1)
		FROM
			tb_goods
		where
			goods_state = 'activate'
			and
			user_id= #{loginId};
    </select>
    
    
     <select id="getMyGoodsList2" parameterType="String" resultMap="goodsResultMap">

		SELECT
			g.goods_code
			, g.goods_name
			, g.user_id
			, g.goods_rental_availability
			, g.goods_value_price
			, g.goods_day_price
			, g.goods_reg_date
			, g.goods_detail
			, g.goods_category_code
			, gc.goods_category_name
			, CONCAT(rsido.region_sido_name,' ',rsgg.region_sgg_name) as user_region
		FROM
			tb_goods AS g
		join
			tb_region_sgg AS rsgg
		ON
		 	rsgg.region_sgg_code = g.region_sgg_code
		join
			tb_region_sido AS rsido
		on
			rsgg.region_sido_code = rsido.region_sido_code
		join
			tb_goods_category AS gc
		on
			gc.goods_category_code = g.goods_category_code
		where
			g.user_id = (SELECT u.user_id FROM tb_user AS u WHERE u.user_nickname = #{userNickName})
		and
			g.goods_state = 'activate'
		order by g.goods_reg_date desc
		<if test="startIndex != null and startIndex > -1">
			LIMIT #{startIndex}, #{pageSize}
		</if>
			
    
    </select>
    
        <select id="getMyGoodsListCount2" resultType="int">
    
    	SELECT
			COUNT(1)
		FROM
			tb_goods
		where
			goods_state = 'activate'
			and
			user_id= (SELECT u.user_id FROM tb_user AS u WHERE u.user_nickname = #{userNickName});
    </select>
    
    <select id="getGoodsCategoryListForGoods" resultMap="goodsResultMap">
    
		SELECT
			goods_category_code
			,goods_category_name
		from
			tb_goods_category;
    
    </select>
    
    <select id="getLoginUserRegion" resultType="String">
    
	    SELECT
	    	u.region_sgg_code as regionSggCode
		FROM
			tb_user AS u
			join
			tb_region_sgg AS rsgg
			on
			u.region_sgg_code = rsgg.region_sgg_code
			join
			tb_region_sido AS rsido
			on
			rsgg.region_sido_code = rsido.region_sido_code
		WHERE
			u.user_id = #{loginId};
	
    </select>
    
</mapper>