<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team03.rentravel.mapper.InfoBoardMapper">
	<resultMap type="InfoBoard" id="infoBoardResultMap">
		<id 	property="infoBoardCode" 	  	column="info_board_code" />
		<result property="userId" 	  			column="user_id" />
		<result property="infoBoardTitle" 	  	column="info_board_title" />
		<result property="infoBoardContent" 	column="info_board_content" />
		<result property="fileGroupCode"	 	column="file_group_code" />
		<result property="infoBoardLikeCnt" 	column="info_board_like_cnt" />
		<result property="infoBoardViewCnt" 	column="info_board_view_cnt" />
		<result property="fileGroupCode" 	column="file_group_code" />
		<result property="infoBoardRegTime" 	column="info_board_reg_time" />
		<association property="user" javaType="User">
			<id 	property="userId" 	  		column="user_id" />
			<result property="userNickName" 	column="user_nickname" />
			<result property="userImage" 	  	column="user_image" />
		</association>
	</resultMap>
		
	<resultMap type="InfoBoardComment" id="infoBoardCommentMap">
		<id		property="infoBoardCommentCode" 	column="info_board_comment_code" />
		<result property="infoBoardCode" 	  		column="info_board_code" />
		<result property="userId" 	  				column="user_id" />
		<result property="userNickName" 			column="user_nickname" />
		<result property="infoBoardCommentContent" 	column="info_board_comment_content" />
		<result property="infoBoardCommentRegTime" 	column="info_board_comment_reg_time" />
	</resultMap>
	
	<resultMap type="GoodsCategory" id="goodsCategoryMap">
		<id		property="goodsCategoryCode" 	column="goods_category_code" />
		<result property="goodsCategoryName" 	column="goods_category_name" />
	</resultMap>
	
	<!-- 정보 게시판 파일 데이터 삭제 -->
    <delete id="removeFileData" parameterType="List">
		DELETE FROM
			tb_file AS f
		<where>
		   <foreach collection="list" item="fileCode" open="" close="" separator="OR">
		   	   f.file_code = #{fileCode}
		   </foreach>
	    </where>
	</delete>
	
	<!-- 정보 게시판 파일 그룹 데이터 삭제 -->
	<delete id="removeFileGroupData" parameterType="String">
		DELETE FROM
			tb_file_group AS fg
		WHERE
			fg.file_group_code = #{fileGroupCode};
	</delete>
	
	<!-- 삭제할 파일 코드들 조회  -->
	<select id="getFileCodeByFeilGroupCode" parameterType="String" resultType="String">
		SELECT
			fg.file_code
		FROM 
			tb_info_board AS info
			INNER JOIN
			tb_file_group AS fg
			ON
			info.file_group_code = fg.file_group_code
		WHERE
			fg.file_group_code = #{fileGroupCode};
	</select>
	
	<!-- 정보게시판 사진 경로 조회 -->
	<select id="getInfoBoardImgPath" parameterType="String" resultType="String">
		SELECT
			f.file_path
		FROM
			tb_info_board AS info	
			INNER JOIN
			tb_file_group AS fg
			ON
			info.file_group_code = fg.file_group_code
			INNER JOIN
			tb_file AS f
			ON
			f.file_code = fg.file_code
		WHERE
			info.info_board_code = #{infoBoardCode};
	</select>
	
	<!-- 상품 카테고리 조회 -->
	<select id="getGoodsCategory" resultMap="goodsCategoryMap">
		SELECT
			cate.goods_category_code,
			cate.goods_category_name
		FROM
			tb_goods_category AS cate;
	</select>
	
	<!-- 조회수 증가  -->
	<update id="viewIncrease" parameterType="String">
		UPDATE
			tb_info_board AS info
		SET
			info.info_board_view_cnt = info.info_board_view_cnt + 1
		WHERE
			info.info_board_code = #{infoBoardCode};
	</update>
	
	<!-- 게시글 수정 (img 수정 x) -->
	<update id="modifyInfoBoard" parameterType="InfoBoard">
		UPDATE
			tb_info_board AS info
		SET
			info.info_board_title = #{infoBoardTitle},
			info.info_board_content = #{infoBoardContent},
			info.info_board_reg_time = NOW()
		WHERE
			info.info_board_code = #{infoBoardCode};
	</update>
	
	<!-- 댓글 수정 -->
	<update id="modifyInfoBoardComment" parameterType="InfoBoardComment">
		UPDATE
			tb_info_board_comment AS comm
		SET
			comm.info_board_comment_content = #{infoBoardCommentContent},
			comm.info_board_comment_reg_time = NOW()
		WHERE
			comm.info_board_comment_code = #{infoBoardCommentCode}
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="removeInfoBoardComment" parameterType="String">
		DELETE FROM
			tb_info_board_comment AS comm
		WHERE
			comm.info_board_comment_code = #{infoBoardCommentCode};
	</delete>
	
	<!-- 댓글 등록  -->
	<insert id="addInfoBoardComment" parameterType="InfoBoardComment">
		INSERT INTO tb_info_board_comment
			(
				info_board_comment_code,
				info_board_code,
				user_id,
				info_board_comment_content,
				info_board_comment_reg_time	
			)
		VALUE
			(
				#{infoBoardCommentCode},
				#{infoBoardCode},
				#{userId},
				#{infoBoardCommentContent},
				NOW()
			);
	</insert>
	
	<!-- 댓글 갯수 조회 -->
	<select id="getCommentCnt" parameterType="String" resultType="int">
		SELECT
			COUNT(1)
		FROM
			tb_info_board_comment AS comm
		WHERE
			comm.info_board_code = #{infoBoardCode};
	</select>
	
	<!-- 정보 게시판과 관련된 모든 댓글 삭제 -->
	<delete id="removeInfoBoardCommentAll" parameterType="String">
		DELETE FROM
			tb_info_board_comment  AS comm
		WHERE
			comm.info_board_code = #{infoBoardCode};
	</delete>
	
	<!-- 정보 게시글 삭제 -->
	<delete id="removeInfoBoard" parameterType="String">
		DELETE FROM
			tb_info_board  AS info
		WHERE
			info.info_board_code = #{infoBoardCode};
	</delete>
	
	<!-- 정보 게시글 등록 -->
	<insert id="addInfoBoard" parameterType="InfoBoard">
		INSERT INTO tb_info_board
			(
			info_board_code, 
			user_id, 
			info_board_title, 
			info_board_content,
			file_group_code,
			info_board_like_cnt,
			info_board_view_cnt,
			info_board_reg_time
			)
		VALUES
			(
			#{infoBoardCode},
			#{userId},
			#{infoBoardTitle},
			#{infoBoardContent},
			#{fileGroupCode},
			0,
			0,
			NOW()
			)
	</insert>
	
	<!-- 정보 게시판 리스트 -->
	<select id="getInfoBoardList" resultMap="infoBoardResultMap">
		SELECT
			info.info_board_code,
			info.info_board_title,
			u.user_nickname,
			info.info_board_like_cnt,
			info.info_board_view_cnt,
			info.info_board_reg_time
		FROM
			tb_info_board AS info
			INNER JOIN
			tb_user AS u
			ON
			info.user_id = u.user_id
		ORDER BY
 			CAST(SUBSTRING(info.info_board_code, 11) AS UNSIGNED) DESC
		<if test="startIndex != null and startIndex > -1">
			LIMIT #{startIndex}, #{pageSize};
		</if>
	</select>
	
	<!-- 정보 게시판 리스트 총 개수-->
	<select id="getInfoBoardListCnt" resultType="int">
		SELECT
			COUNT(1)
		FROM
			tb_info_board;
	</select>
	
	<!-- 정보 게시글 조회 -->
	<select id="getInfoBoardDetail" parameterType="String" resultMap="infoBoardResultMap">
		SELECT
			u.user_nickname,
			info.user_id,
			info.info_board_code,
			info.info_board_title,
			info.info_board_content,
			info.info_board_like_cnt,
			info.info_board_view_cnt,
			info.file_group_code,
			info.info_board_reg_time
		FROM
			tb_info_board AS info
			INNER JOIN
			tb_user AS u
			ON
			info.user_id = u.user_id
		WHERE
			info.info_board_code = #{infoBoardCode};
	</select>
	<!-- 개시글 댓글 조회 -->
	<select id="getInfoBoardComment" resultMap="infoBoardCommentMap">
		SELECT
			u.user_nickname,
			comm.info_board_comment_code,
			comm.user_id,
			comm.info_board_comment_content,
			comm.info_board_comment_reg_time
		FROM
			tb_info_board AS info
			INNER JOIN
			tb_info_board_comment AS comm
			ON
			info.info_board_code = comm.info_board_code
			INNER JOIN
			tb_user AS u
			ON
			comm.user_id = u.user_id
		WHERE
			comm.info_board_code = #{infoBoardCode}
		<if test="startIndex != null and startIndex > -1">
			LIMIT #{startIndex}, #{pageSize};
		</if>
	</select>
</mapper>