<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team03.rentravel.mapper.InsuranceMapper">
	
	<!-- insuranceResultMap -->
	<resultMap type="Insurance"	id="insuranceResultMap">
		<id property="insuranceCode" column="insurance_code" />
		<result property="userId" column="user_id" />
		<result property="goodsCode" column="goods_code" />
		<result property="paymentCode" column="payment_code" />
		<result property="rentalCode" column="rental_code" />
		<result property="insuranceAvailable" column="insurance_available" />
		<result property="insuranceSignUpTime" column="insurance_sign_up_time" />
		<association property="goods" javaType="Goods">
			<id property="goodsCode" 			column="goods_code"/>
			<result property="goodsName" 		column="goods_name"/>
		</association>
		<association property="rental"  javaType="Rental">
			<id 	property="rentalCode" 	  		column="rental_code" />
			<result property="goodsCode" 	  		column="goods_code" />
			<result property="userId" 	  			column="user_id" />
			<result property="rentalStartDate" 		column="rental_start_date" />
			<result property="rentalEndDate" 		column="rental_end_date" />
		</association>
		<association property="user" javaType="User">
			<id 	property="userId" 	  		column="user_id" />
			<result property="userName" 	column="user_name" />
			<result property="userPhoneNumber" 	column="user_phone_number" />
			<result property="userEmail" 	column="user_email" />
			<result property="userAddrDesc" 	  	column="user_addr_desc" />
		</association>
	</resultMap>
	
	<!-- insuranceBillDetailResultMap -->
	<resultMap type="InsuranceBillDetail" id="insuranceBillDetailResultMap">
		<id property="insuranceBillDetailCode" column="insurance_bill_detail_code" />
		<result property="insuranceCode" column="insurance_code" />
		<result property="userId" column="user_id" />
		<result property="goodsCode" column="goods_code" />
		<result property="paymentCode" column="payment_code" />
		<result property="accidentDate" column="accident_date" />
		<result property="accidentType" column="accident_type" />
		<result property="accidentContent" column="accident_content" />
		<result property="insuranceEvidence" column="insurance_evidence" />
		<result property="bankName" column="bank_name" />
		<result property="accountHolder" column="account_holder" />
		<result property="accountNumber" column="account_number" />
		<result property="requestDate" column="request_date" />
		<association property="goods" javaType="Goods">
			<id property="goodsCode" 			column="goods_code"/>
			<result property="goodsName" 		column="goods_name"/>
		</association>
		<association property="user" javaType="User">
			<id 	property="userId" 	  		column="user_id" />
			<result property="userName" 	column="user_name" />
			<result property="userPhoneNumber" 	column="user_phone_number" />
			<result property="userEmail" 	column="user_email" />
			<result property="userAddrDesc" 	  	column="user_addr_desc" />
		</association>
		<association property="insuranceBill" javaType="InsuranceBill">
			<id property="insuranceBillCode" column="insurance_bill_code" />
			<result property="userId" column="user_id" />
			<result property="insuranceCode" column="insurance_code" />
			<result property="insuranceBillDetailCode" column="insurance_bill_detail_code" />
			<result property="insuranceBillStateCode" column="insurance_bill_state_code" />
			<result property="insuranceBillModifyDate" column="insurance_bill_modify_date" />
		</association>
		<association property="insuranceBillState"  javaType="InsuranceBillState">
			<id property="insuranceBillStateCode" column="insurance_bill_state_code" />
			<result property="insuranceBillStateName" column="insurance_bill_state_name" />
		</association>
	</resultMap>
	
	<resultMap type="InsuranceBill" id="insuranceBillResultMap">
		<id property="insuranceBillCode" column="insurance_bill_code" />
		<result property="userId" column="user_id" />
		<result property="insuranceCode" column="insurance_code" />
		<result property="insuranceBillDetailCode" column="insurance_bill_detail_code" />
		<result property="insuranceBillStateCode" column="insurance_bill_state_code" />
		<result property="insuranceBillModifyDate" column="insurance_bill_modify_date" />
		<association property="goods" javaType="Goods">
			<id property="goodsCode" 			column="goods_code"/>
			<result property="goodsName" 		column="goods_name"/>
		</association>
		<association property="insuranceBillDetail" javaType="InsuranceBillDetail">
			<id property="insuranceBillDetailCode" column="insurance_bill_detail_code" />
			<result property="insuranceCode" column="insurance_code" />
			<result property="userId" column="user_id" />
			<result property="goodsCode" column="goods_code" />
			<result property="paymentCode" column="payment_code" />
			<result property="accidentDate" column="accident_date" />
			<result property="accidentType" column="accident_type" />
			<result property="accidentContent" column="accident_content" />
			<result property="insuranceEvidence" column="insurance_evidence" />
			<result property="bankName" column="bank_name" />
			<result property="accountHolder" column="account_holder" />
			<result property="accountNumber" column="account_number" />
			<result property="requestDate" column="request_date" />		
		</association>
		<association property="insuranceBillState"  javaType="InsuranceBillState">
			<id property="insuranceBillStateCode" column="insurance_bill_state_code" />
			<result property="insuranceBillStateName" column="insurance_bill_state_name" />
		</association>
	</resultMap>
	
	<resultMap type="InsurancePayout" id="insurancePayoutResultMap">
		<id property="insurancePayoutCode" column="insurance_payout_code" />
		<result property="userId" column="user_id" />
		<result property="insuranceBillDetailCode" column="insurance_bill_detail_code" />
		<result property="insuranceBillCode" column="insurance_bill_code" />
		<result property="insurancePayoutPrice" column="insurance_payout_price" />
		<result property="insurancePayoutDate" column="insurance_payout_date" />
		<association property="goods" javaType="Goods">
			<id property="goodsCode" 			column="goods_code"/>
			<result property="goodsName" 		column="goods_name"/>
			<result property="goodsCategoryCode" 		column="goods_category_code"/>
		</association>
		<association property="insuranceBillDetail" javaType="InsuranceBillDetail">
			<id property="insuranceBillDetailCode" column="insurance_bill_detail_code" />
			<result property="insuranceCode" column="insurance_code" />
			<result property="userId" column="user_id" />
			<result property="goodsCode" column="goods_code" />
			<result property="paymentCode" column="payment_code" />
			<result property="accidentDate" column="accident_date" />
			<result property="accidentType" column="accident_type" />
			<result property="accidentContent" column="accident_content" />
			<result property="insuranceEvidence" column="insurance_evidence" />
			<result property="bankName" column="bank_name" />
			<result property="accountHolder" column="account_holder" />
			<result property="accountNumber" column="account_number" />
			<result property="requestDate" column="request_date" />
		</association>
		<association property="insurance"	 javaType="Insurance">
			<id property="insuranceCode" column="insurance_code" />
			<result property="userId" column="user_id" />
			<result property="goodsCode" column="goods_code" />
			<result property="paymentCode" column="payment_code" />
			<result property="rentalCode" column="rental_code" />
			<result property="insuranceAvailable" column="insurance_available" />
			<result property="insuranceSignUpTime" column="insurance_sign_up_time" />
		</association>
		
	</resultMap>
	
	<select id="getInsuranceUser" parameterType="String" resultMap="insuranceResultMap">
		/* 인적사항 조회 */
		SELECT
			i.insurance_code,
			u.user_name,
			u.user_email,
			u.user_phone_number,
			u.user_addr_desc
		FROM
			tb_insurance AS i
			INNER JOIN
			tb_user AS u
			ON u.user_id = i.user_id
		WHERE
			i.user_id = #{loginId}
			AND
			i.insurance_code = #{insuranceCode};
		
	</select>
	
	<select id="getInsuranceInfoById" parameterType="String" resultMap="insuranceResultMap">
	/* 보험 정보 조회(로그인아이디) */
		SELECT
			i.insurance_code,
			i.goods_code,
			g.goods_name,
			i.payment_code,
			i.rental_code,
			i.insurance_available,
			SUBSTRING(i.insurance_sign_up_time, 1, 10) as insurance_sign_up_time,
			r.rental_end_date,
			u.user_name,
			u.user_email,
			u.user_phone_number,
			u.user_addr_desc
		FROM
			tb_insurance AS i
			LEFT JOIN
			tb_goods AS g
			ON i.goods_code = g.goods_code
			INNER JOIN
			tb_rental AS r
			ON i.rental_code = r.rental_code
			INNER JOIN
			tb_user AS u
			ON u.user_id = i.user_id
		WHERE
			i.user_id = #{loginId}
		ORDER BY
			i.insurance_code;
	</select>
	
	<select id="getInsuranceInfo" parameterType="String" resultMap="insuranceResultMap">
	/* 보험 정보 조회(보험코드) */
	SELECT
			i.insurance_code,
			i.goods_code,
			g.goods_name,
			i.payment_code,
			i.rental_code,
			i.insurance_available,
			SUBSTRING(i.insurance_sign_up_time, 1, 10) as insurance_sign_up_time,
			r.rental_end_date,
			u.user_name,
			u.user_email,
			u.user_phone_number,
			u.user_addr_desc
		FROM
			tb_insurance AS i
			LEFT JOIN
			tb_goods AS g
			ON i.goods_code = g.goods_code
			INNER JOIN
			tb_rental AS r
			ON i.rental_code = r.rental_code
			INNER JOIN
			tb_user AS u
			ON u.user_id = i.user_id
		WHERE
			i.insurance_code = #{insuranceCode}
		ORDER BY
			i.insurance_code;
	</select>
	
	<insert id="addInsuranceBillDetail" parameterType="InsuranceBillDetail">
		/* 보상금 접수증 등록 */
		INSERT INTO tb_insurance_bill_detail
		(
			insurance_bill_detail_code,
			insurance_code,
			user_id,
			goods_code,
			payment_code,
			accident_date,
			accident_type,
			accident_content,
			insurance_evidence,
			bank_name,
			account_holder,
			account_number,
			request_date
		)
		VALUES
		(
			#{insuranceBillDetailCode},
			#{userId},
			#{goodsCode},
			#{paymentCode},
			#{accidentDate},
			#{accidentType},
			#{accidentContent},
			#{insuranceEvidence},
			#{bankName},
			#{accountHolder},
			#{accountNumber},
			#{requestDate}
		);
	</insert>
	
	<insert id="addInsuranceBill" parameterType="InsuranceBill">
		INSERT INTO tb_insurance_bill
		(
			insurance_bill_code,
			user_id,
			insurance_code,
			insurance_bill_detail_code,
			insurance_bill_state_code,
			insurance_bill_modify_date
		)
		VALUES
		(
			#{insuranceBillCode},
			#{userId},
			#{insuranceCode},
			#{insuranceBillDetailCode},
			#{insuranceBillStateCode},
			#{insuranceBillModifyDate}
		);
	</insert>
	
	<select id="getInsuranceBillDetailInfoById" parameterType="String" resultMap="insuranceBillDetailResultMap">
		/* 보상금 청구서 조회(보험청구서코드) */
		SELECT
			ibd.user_id,
			u.user_name,
			u.user_email,
			u.user_phone_number,
			u.user_addr_desc,
			ibd.accident_type,
			ibd.accident_date,
			ibd.accident_content,
			ibd.bank_name,
			ibd.account_holder,
			ibd.account_number,
			ibd.insurance_code,
			ibd.insurance_bill_detail_code,
			ibd.goods_code,
			SUBSTRING(ibd.request_date, 1, 10) as request_date,
			g.goods_name,
			ib.insurance_bill_state_code,
			ibs.insurance_bill_state_name
		FROM
			tb_insurance_bill_detail AS ibd
			LEFT JOIN
			tb_user AS u
			ON
			ibd.user_id = u.user_id
			INNER JOIN
			tb_goods AS g
			ON
			ibd.goods_code = g.goods_code
			INNER JOIN
			tb_insurance_bill as ib
			ON
			ibd.insurance_bill_detail_code = ib.insurance_bill_detail_code
			INNER JOIN
			tb_insurance_bill_state AS ibs
			ON
			ib.insurance_bill_state_code = ibs.insurance_bill_state_code
		WHERE
			ibd.insurance_bill_detail_code = #{insuranceBillDetailCode};
			
	</select>
	
	<select id="getInsuranceBillReciptInfoById" parameterType="String" resultMap="insuranceBillDetailResultMap">
		/* 보상금 접수증 조회(보험코드) */
		SELECT
			ibd.user_id,
			u.user_name,
			u.user_email,
			u.user_phone_number,
			u.user_addr_desc,
			ibd.accident_type,
			ibd.accident_date,
			ibd.accident_content,
			ibd.bank_name,
			ibd.account_holder,
			ibd.account_number,
			ibd.insurance_code,
			ibd.insurance_bill_detail_code,
			ibd.goods_code,
			SUBSTRING(ibd.request_date, 1, 10) as request_date,
			g.goods_name
		FROM
			tb_insurance_bill_detail AS ibd
			LEFT JOIN
			tb_user AS u
			ON
			ibd.user_id = u.user_id
			INNER JOIN
			tb_goods AS g
			ON
			ibd.goods_code = g.goods_code
		WHERE
			ibd.insurance_code = #{insuranceCode};
			
	</select>
	
	<update id="modifyInsuranceBillDetail"  parameterType ="InsuranceBillDetail">
		/* 보상금접수증 수정 */
		UPDATE tb_insurance_bill_detail
		<trim prefix="SET" prefixOverrides=",">
			<if test="accidentDate != null and accidentDate !=''">
				,accident_date = #{accidentDate}
			</if>
			<if test="accidentType != null and accidentType !=''">
				,accident_type = #{accidentType}
			</if>
			<if test="accidentContent != null and accidentContent !=''">
				,accident_content = #{accidentContent}
			</if>
			<if test="insuranceEvidence != null and insuranceEvidence !=''">
				,insurance_evidence = #{insuranceEvidence}
			</if>
			<if test="bankName != null and bankName !=''">
				,bank_name = #{bankName}
			</if>
			<if test="accountHolder != null and accountHolder !=''">
				,account_holder = #{accountHolder}
			</if>
			<if test="accountNumber != null and accountNumber !=''">
				,account_number = #{accountNumber}
			</if>
		</trim>
		WHERE
			insurance_code = #{insuranceCode}
	</update>
	
	<select id="getInsuranceBillInfoById" parameterType="String" resultMap="insuranceBillResultMap">
		/* 보상금 접수증 조회 */
		SELECT
			ib.insurance_bill_code,
			ib.insurance_bill_detail_code,
			ib.insurance_code,
			g.goods_code,
			g.goods_name,
			ibs.insurance_bill_state_name,
			SUBSTRING(ib.insurance_bill_modify_date, 1, 10) as insurance_bill_modify_date
		FROM
			tb_insurance_bill AS ib
			INNER JOIN
			tb_insurance_bill_state AS ibs
			ON
			ib.insurance_bill_state_code = ibs.insurance_bill_state_code
			INNER JOIN
			tb_insurance_bill_detail AS ibd
			ON
			ib.insurance_bill_detail_code = ibd.insurance_bill_detail_code
			INNER JOIN
			tb_goods AS g
			ON
			ibd.goods_code = g.goods_code
		WHERE
			ib.user_id = #{loginId}
		ORDER BY
			ib.insurance_bill_code;
	</select>
	
	<select id="getInsurancePayoutInfoById" parameterType="String" resultMap="insurancePayoutResultMap">
			/* 보상급 지급내역 조회 */
			SELECT
				ibd.insurance_code,
				ip.insurance_payout_code,
				ip.insurance_bill_detail_code,
				g.goods_name,
				ip.insurance_payout_price,
				SUBSTRING(ip.insurance_payout_date, 1, 10) as insurance_payout_date
			FROM
				tb_insurance_payout AS ip
				LEFT JOIN
				tb_insurance_bill_detail AS ibd
				ON
				ip.insurance_bill_detail_code = ibd.insurance_bill_detail_code
				LEFT JOIN
				tb_insurance AS i
				ON 
				i.insurance_code = ibd.insurance_code
				INNER JOIN
				tb_goods AS g
				ON
				i.goods_code = g.goods_code
			WHERE
				ibd.user_id = #{loginId}
			ORDER BY
				ip.insurance_payout_code;
	</select>
	
	<delete id="removeInsuranceBillDetail" parameterType="String">
		/*보상금 접수증 삭제*/
		DELETE FROM
			tb_insurance_bill_detail
		WHERE
			insurance_bill_detail_code = #{insuranceBillDetailCode};
	</delete>
</mapper>