<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team03.rentravel.mapper.OrderMapper">
	<!-- 주문 내역 맵 -->
	<resultMap type="Rental" id="orderMap">
		<id 	property="rentalCode" 	  		column="rental_code" />
		<result property="goodsCode" 	  		column="goods_code" />
		<result property="userId" 	  			column="user_id" />
		<result property="rentalStartDate" 		column="rental_start_date" />
		<result property="rentalEndDate" 		column="rental_end_date" />
		<result property="selectDelivery" 		column="select_delivery" />
		<result property="rentalOrderDate" 		column="rental_order_date" />
		<result property="goodsName" 			column="goods_name" />
		<result property="sidoName" 			column="region_sido_name" />
		<result property="sigunguName" 			column="region_sgg_name" />
		<result property="orderStateName" 		column="order_state_standard_name" />
		<association property="payment" javaType="Payment">
			<id 	property="paymentCode" 	  					column="payment_code" />
			<result property="goodsCode" 						column="goods_code" />
			<result property="rentalCode" 	  					column="rental_code" />
			<result property="userId" 	  						column="user_id" />
			<result property="regionSggCode" 					column="region_sgg_code" />
			<result property="userAddrDesc" 					column="user_addr_desc" />
			<result property="paymentAccountOrCardNumber" 	  	column="payment_account_or_card_number" />
			<result property="paymentAgency" 	  				column="payment_agency" />
			<result property="paymentType" 	  					column="payment_type" />
			<result property="expectedPaymentAmount" 	  		column="expected_payment_amount" />
			<result property="goodsCommisionTotalPrice" 	  	column="goods_commision_total_price" />
			<result property="mileageUsePrice" 	  				column="mileage_use_price" />
			<result property="saveMileage" 	  					column="save_mileage" />
			<result property="amountExcludingMileage" 	  		column="amount_excluding_mileage" />
			<result property="settlementAmount" 				column="settlement_amount" />
			<result property="paymentTime" 	  					column="payment_time" />
			<result property="tradeStatusCode" 					column="trade_status_code" />
			<result property="mileageSaveGroupCode" 			column="mileage_save_group_code" />
			<result property="mileageUseGroupCode" 	  			column="user_image" />
		</association>
	</resultMap>
	
	<!-- 유저 정보 매퍼  -->
	<resultMap type="User" id="userResultMap">
		<id property="userId" column="user_id" />
		<result property="userName" column="user_name" />
		<result property="userNickName" column="user_nickname" />
		<result property="userLevelName" column="user_level_Name" />
		<result property="userLevelCode" column="user_level_code" />
		<result property="userPhoneNumber" column="user_phone_number" />
		<result property="userImage" column="user_image" />
		<result property="regionSggCode" column="region_sgg_code" />
		<result property="userAddrDesc" column="user_addr_desc" />
		<result property="totalMileage" column="total_mileage" />
		<result property="userCreateDate" column="user_create_date" />
		<association property="regionSgg" javaType="RegionSgg">
			<id 	property="regionSggCode"  column="region_sgg_code" />
			<result property="regionSidoCode" column="region_sido_code" />
			<result property="regionSggName"  column="region_sgg_name" />
		</association>
	</resultMap>
	<!-- 시군구 매핑 -->
	<resultMap type="RegionSgg" id="regionSggResultMap">
		<id property="regionSggCode" column="region_sgg_code" />
		<result property="regionSidoCode" column="region_sido_code" />
		<result property="regionSggName" column="region_sgg_name" />
	</resultMap>
	
	<!-- 시군구 불러오기 -->
	<select id="getRegionSggBySidoCode" resultMap="regionSggResultMap">
		SELECT
			 sgg.region_sgg_code
			,sgg.region_sgg_name
		FROM
			tb_region_sgg AS sgg
		WHERE 
			sgg.region_sido_code = #{regionSidoCode};
	</select>
	
	<!-- 로그인 아이디로 주소 가져오기 -->
	<select id="loginUserInfo" parameterType="String" resultMap="userResultMap">
		SELECT
			 u.user_id,
			 u.user_nickname, 
			 u.user_phone_number, 
			 u.user_addr_desc,
			 rs.region_sido_code, 
			 rs.region_sgg_code
		FROM
			tb_user AS u
			INNER JOIN
			tb_region_sgg AS rs
			ON
			u.region_sgg_code = rs.region_sgg_code
		WHERE
			u.user_id = #{loginId};
	</select>
	
	<!-- 자기 자신의 주문 목록 조회 -->
	<select id="getUserOrderList" resultMap="orderMap" parameterType="String">
		SELECT
			ren.rental_code,
			g.goods_name,
			ren.rental_start_date,
			ren.rental_end_date,
			pay.mileage_use_price,
			pay.amount_excluding_mileage,
			tra.order_state_standard_name,
			ren.rental_order_date
		FROM
			tb_rental AS ren
			INNER JOIN
			tb_payment AS pay
			ON
			ren.rental_code = pay.rental_code
			INNER JOIN
			tb_goods AS g
			ON
			ren.goods_code = g.goods_code
			INNER JOIN
			tb_trade_status AS tra
			ON
			pay.trade_status_code = tra.trade_status_code
		WHERE
			ren.user_id = #{userId}
		ORDER BY
			CAST(SUBSTRING(ren.rental_code,7) AS UNSIGNED) DESC
	</select>	
</mapper>