<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team03.rentravel.mapper.UserProfitMapper">

	<resultMap type="Profit" id="profitResultMap">
		<id property="profitCode" column="profit_code" />
		<result property="userId" column="user_id"/>
		<result property="paymentCode" column="payment_code"/>
		<result property="profitAmountSave" column="profit_amount_save"/>
		<result property="profitTotal" column="profit_total"/>
		<result property="profitSaveTime" column="profit_save_time"/>
		<result property="profitDayGroup" column="profit_day_group"/>	
	</resultMap>
	
	<resultMap type="ProfitDay" id="profitDayResultMap">
		<id property="profitDayCode" column="profit_day_code"/>
	  	<result property="userId" column="user_id"/>
	  	<result property="profitSaveYearMonth" column="profit_save_year_month"/>
	  	<result property="profitDayTotal" column="profit_day_total"/>
	  	<result property="profitDayGroup" column="profit_day_group"/>
	  	<result property="profitMonthGroup" column="profit_month_group"/>
	</resultMap>	
	
	<resultMap type="ProfitMonth" id="profitMonthResultMap">
		<id property="profitMonthCode" column="profit_month_code"/>
		<result property="userId" column="user_id"/>
		<result property="profitSaveYearMonth" column="profit_save_year_month"/>
		<result property="profitMonthGroup" column="profit_month_group"/>
		<result property="profitMonthTotal" column="profit_month_total"/>
	</resultMap>
	
	<resultMap type="ProfitYear" id="profitYearResultMap">
		<id property="profitYearCode" column="profit_year_code"/>
		<result property="userId" column="user_id"/>
		<result property="ownerProfitYear" column="owner_profit_year"/>
		<result property="ownerProfitJanuary" column="owner_profit_january"/>
		<result property="ownerProfitFebruary" column="owner_profit_february"/>
		<result property="ownerProfitMarch" column="owner_profit_march"/>
		<result property="ownerProfitApril" column="owner_profit_april"/>
		<result property="ownerProfitMay" column="owner_profit_may"/>
		<result property="ownerProfitJune" column="owner_profit_june"/>
		<result property="ownerProfitJuly" column="owner_profit_july"/>
		<result property="ownerProfitAugust" column="owner_profit_august"/>
		<result property="ownerProfitSeptember" column="owner_profit_september"/>
		<result property="ownerProfitOctober" column="owner_profit_october"/>
		<result property="ownerProfitNovember" column="owner_profit_november"/>
		<result property="ownerProfitDecember" column="owner_profit_december"/>
		<result property="ownerProfitYearTotal" column="owner_profit_year_total"/>
		<result property="ownerProfitRegDate" column="owner_profit_reg_date"/>	
	</resultMap>
	
	<resultMap type="Payment" id="PaymentResultMap">
		<id property="paymentTime" column="payment_time"/>
		<result property="userId" column="user_id"/>		
	</resultMap>
	
	<select id="getUserDayGroupCodeDate" parameterType="String" resultMap="PaymentResultMap">
	/* 수익 일별 그룹코드 날짜 조회 */
		SELECT 
			REPLACE(SUBSTRING(pay.payment_time, 3, 8), '-','')
		FROM 
			tb_payment AS pay
		WHERE 
			pay.user_id = #{loginId}
		ORDER BY pay.payment_time DESC
		LIMIT 1;	
	</select>
	
	
	<select id="getUserYearProfitList" resultMap="profitYearResultMap">
	/* 회원 연별 수익 목록 조회 */
		SELECT
		py.profit_year_code
		,py.user_id
		,py.owner_profit_year
		,py.owner_profit_january
		,py.owner_profit_february
		,py.owner_profit_march
		,py.owner_profit_april
		,py.owner_profit_may
		,py.owner_profit_june
		,py.owner_profit_july
		,py.owner_profit_august
		,py.owner_profit_september
		,py.owner_profit_october
		,py.owner_profit_november
		,py.owner_profit_december
		,py.owner_profit_year_total
		,py.owner_profit_reg_date	
	FROM 
		tb_profit_year AS py
	<where>
		py.user_id = #{loginId}
		<if test="searchYear != null and searchYear != ''">	
			and py.owner_profit_year = #{searchYear}				
		</if>
	</where>
	<if test="startIndex != null and startIndex > -1">
		LIMIT #{startIndex}, #{pageSize}
	</if>	
	
	</select>
	
	
	
	<select id="getUserMonthProfitList" resultMap="profitMonthResultMap">
	/* 회원 월별 수익 목록 조회 */
		SELECT 
			pm.profit_month_code
			,pm.user_id
			,pm.profit_save_year_month
			,pm.profit_month_group
			,pm.profit_month_total
		FROM 
			tb_profit_month AS pm
		<where>
			pm.user_id = #{loginId}
			<if test="searchYear != null and searchYear != ''">	
				and substring(pm.profit_month_group,11,2) = substring(#{searchYear},3,2)				
			</if>
			<if test="searchYear != null and searchYear != ''">
				and substring(pm.profit_month_group,13,2) = #{searchMonth}
			</if>					
		</where>
		<if test="startIndex != null and startIndex > -1">
			LIMIT #{startIndex}, #{pageSize}
		</if>		
	</select>
	
	
	<select id="getUserDayProfitList" resultMap="profitDayResultMap">
	/* 회원 일별 수익 목록 조회 */
		SELECT 
			pd.profit_day_code
			,pd.user_id
			,pd.profit_save_year_month
			,pd.profit_day_total
			,pd.profit_day_group
			,pd.profit_month_group
		FROM 
			tb_profit_day AS pd
		<where>
			pd.user_id = #{loginId}
			<if test="searchYear != null and searchYear != ''">	
				and substring(pd.profit_day_group,11,2) = substring(#{searchYear},3,2)				
			</if>
			<if test="searchYear != null and searchYear != ''">
				and substring(pd.profit_day_group,13,2) = #{searchMonth}
			</if>			
			<if test="searchYear != null and searchYear != '' and searchDay != null and searchDay != ''">
				and substring(pd.profit_day_group,15,2) = #{searchDay}
			</if>
		</where> 
		<if test="startIndex != null and startIndex > -1">
			LIMIT #{startIndex}, #{pageSize}
		</if>
	
	</select>
	
	
	
	
	<select id="getUserProfitList" resultMap="profitResultMap">
	/* 회원 수익 목록 조회 */
		SELECT
			p.profit_code
			,p.user_id
			,p.payment_code
			,p.profit_amount_save
			,p.profit_total
			,p.profit_save_time	
			,p.profit_day_group
		FROM 
			tb_profit AS p
		WHERE 
			p.user_id = #{loginId}
		<if test="startIndex != null and startIndex > -1">
			LIMIT #{startIndex}, #{pageSize};
		</if>
	</select>
	
	
	<select id="YearProfitListCnt" parameterType="String" resultType="int">
	/* 연별 회원 수익 목록 행 갯수 */
		SELECT
			COUNT(1)
		FROM
			tb_profit_year AS py
		WHERE
			py.user_id = #{loginId};
	</select>
	
	<select id="MonthProfitListCnt" parameterType="String" resultType="int">
	/* 월별 회원 수익 목록 행 갯수 */
		SELECT
			COUNT(1)
		FROM
			tb_profit_month AS pm
		WHERE
			pm.user_id = #{loginId};
	
	</select>
	
	
	<select id="dayProfitListCnt" parameterType="String" resultType="int">
	/* 일별 회원 수익 목록 행 갯수 */
		SELECT
			COUNT(1)
		FROM
			tb_profit_day AS pd
		WHERE
			pd.user_id = #{loginId};
	</select>
	
	
	<select id="profitListCnt" parameterType="String" resultType="int">
		/* 회원 수익 목록 행 갯수 */
		SELECT
			COUNT(1)
		FROM
			tb_profit AS p
		WHERE
			p.user_id = #{loginId};
	</select>
	
</mapper>	