<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team03.rentravel.mapper.UserMapper">
	<resultMap type="User" id="userResultMap">
		<id property="userId" column="user_id" />
		<result property="userPw" column="user_pw" />
		<result property="userName" column="user_name" />
		<result property="userNickName" column="user_nickname" />
		<result property="userLevelName" column="user_level_Name" />
		<result property="userLevelCode" column="user_level_code" />
		<result property="userEmail" column="user_email" />
		<result property="userPhoneNumber" column="user_phone_number" />
		<result property="userImage" column="user_image" />
		<result property="regionSggCode" column="region_sgg_code" />
		<result property="userAddrDesc" column="user_addr_desc" />
		<result property="totalExp" column="total_exp" />
		<result property="totalMileage" column="total_mileage" />
		<result property="userCreateDate" column="user_create_date" />
			<association property="regionSgg" javaType="RegionSgg">
				<id property="regionSggCode" column="region_sgg_code" />
				<result property="regionSidoCode" column="region_sido_code" />
				<result property="regionSggName" column="region_sgg_name" />
			</association>
	</resultMap>
	
	<resultMap type="RegionSido" id="regionSidoResultMap">
		<id property="regionSidoCode" column="region_sido_code" />
		<result property="regionSidoName" column="region_sido_name" />
	</resultMap>
	
	<resultMap type="RegionSgg" id="regionSggResultMap">
		<id property="regionSggCode" column="region_sgg_code" />
		<result property="regionSidoCode" column="region_sido_code" />
		<result property="regionSggName" column="region_sgg_name" />
	</resultMap>
	
	<select id="checkPwByUserId" parameterType="String" resultMap="userResultMap">
		SELECT
			 u.user_id
			,u.user_pw
			,u.user_nickname
			,ul.user_level_name
		FROM
			tb_user AS u
			INNER JOIN
			tb_user_level AS ul
			ON
			u.user_level_code = ul.user_level_code
		WHERE
			u.user_id = #{userId};
	</select>
	
	<select id="userInfo" parameterType="String" resultMap="userResultMap">
		SELECT
			 u.user_id
			,u.user_pw
			,u.user_name
			,u.user_nickname
			,u.user_email
			,u.user_phone_number
			,rs.region_sgg_name
		FROM
			tb_user AS u
			INNER JOIN
			tb_region_sgg AS rs
			ON
			u.region_sgg_code = rs.region_sgg_code
		WHERE
			u.user_id = #{loginId};
	</select>
	
	<insert id="addUser" parameterType="User">
  		INSERT INTO tb_user
  		(
  			user_id, user_pw, user_name, user_nickname, user_email, user_phone_number, region_sgg_code, user_addr_desc, user_create_date
  		)
  		VALUES
  		(
  			#{userId}, #{userPw}, #{userName}, #{userNickName}, #{userEmail}, #{userPhoneNumber}, #{regionSggCode}, #{userAddrDesc}, NOW()
  		)
  	</insert>
  	
  	<select id="getRegionSido" resultMap="regionSidoResultMap">
  		SELECT
  			 sido.region_sido_code
  			,sido.region_sido_name
  		FROM
  			tb_region_sido AS sido;
  	</select>
  	
  	<select id="selectRegionSgg" resultMap="regionSggResultMap">
		SELECT
			 sgg.region_sgg_code
			,sgg.region_sgg_name
		FROM
			tb_region_sgg AS sgg
		WHERE 
			sgg.region_sido_code = #{project};
	</select>
	
	<select id="checkUserId" parameterType="String" resultType="boolean">
		 SELECT
	  		IF(COUNT(u.user_id)=1, 1, 0)
	  	FROM 
	  		tb_user AS u
		WHERE
			u.user_id = #{userId};
	</select>
	
	<select id="checkUserNickName" parameterType="String" resultType="boolean">
		 SELECT
	  		IF(COUNT(u.user_nickname)=1, 1, 0)
	  	FROM 
	  		tb_user AS u
		WHERE
			u.user_nickname = #{userNickName};
	</select>
</mapper>