<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team03.rentravel.mapper.UserMapper">
	<resultMap type="RegionSido" id="sidoResultMap">
	<id property="regionSidoCode" column="region_sido_code" />
		<result property="regionSidoName" column="region_sido_name" />
		<association property="regionSgg" javaType="RegionSgg">
			<id property="regionSggCode" column="region_sgg_code"></id>
  	  		<result property="regionSidoCode" column="region_sido_code" />
  	  		<result property="regionSggName" column="region_sgg_name" />
		</association>
	</resultMap>
	
	<select id="regionSidoList" resultMap="sidoResultMap">
  		/* 주소조회 */
		SELECT 
			 sido.region_sido_code
			,sido.region_sido_name
		FROM
			tb_region_sido AS sido;
  	</select>
</mapper>