<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="goodsDetailAddReviewFragment" class="mt-5 mb-2 border p-4 p-md-5">
  <form id="addReviewForm" th:action="@{/review/addReview}" method="post">
    <div class="media flex-column flex-md-row mb-0">
      <img class="m-auto m-md-0 mr-md-4 rounded rounded-circle" src="/user/assets/img/blog/profile-image.jpg" alt="Generic placeholder image">
      
      <div class="media-body mt-4 mt-md-0">
        <h6 class="text-center text-md-left text-capitalize mt-0" th:text="${session.S_USER_INFO.loginNickName}"><em></em></h6>
    
        <div class="rating-view mb-4">
            <fieldset>
		        <input type="radio" name="goodsEvaluation" value="5" id="rate1"><label for="rate1">⭐</label>
		        <input type="radio" name="goodsEvaluation" value="4" id="rate2"><label for="rate2">⭐</label>
		        <input type="radio" name="goodsEvaluation" value="3" id="rate3"><label for="rate3">⭐</label>
		        <input type="radio" name="goodsEvaluation" value="2" id="rate4"><label for="rate4">⭐</label>
		        <input type="radio" name="goodsEvaluation" value="1" id="rate5"><label for="rate5">⭐</label>
		    </fieldset>
        </div>

        <div class="row">

          <div class="form-group col-md-12">
            <textarea class="form-control" id="exampleTextarea" name="reviewContent" rows="5" placeholder="Review"></textarea>
          </div>
          
          <input id="goodsCodeInput" type="hidden" name="goodsCode" th:value="${goodsDetail.goodsCode}">
          <input id="userIdInput" type="hidden" name="userId" th:value="${session.S_USER_INFO.loginId}">
          
        </div>

        <div class="text-center text-md-left">
          <button id="addReviewBtn" type="submit" class="btn btn-default btn-primary custom-btn">Submit Review</button>
        </div>
      </div>
    </div>
  </form>
</div>


</html>