<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="reviewListFragment">
	<div class="media mb-5" th:each="rl : ${reviewList}">
	  <img class="mr-4 rounded rounded-circle" src="/user/assets/img/blog/blog-small2-01.jpg" alt="Generic placeholder image">
	  <div class="media-body">
	    <h4 class="mt-0 mb-2" th:text="${rl.user.userNickName}">닉네임</h4>
	
	    <ul class="text-warning d-flex mb-1">
	      <li class="mr-1"><i class="fa fa-star" aria-hidden="true" th:each="num : ${#numbers.sequence(1,rl.goodsEvaluation)}"></i></li>
	    </ul>
	
	    <p class="mt-0 mb-3" th:text="${rl.reviewContent}"></p>
	    <th:block th:if="${session.S_USER_INFO != null && session.S_USER_INFO.loginId == rl.userId}">
			<button type="button" class="btn btn-secondary btn-sm modifyReviewBtn" th:data-goods-code="${goodsDetail.goodsCode}">수정</button>
			<button type="button" class="btn btn-secondary btn-sm removeReviewBtn" th:data-goods-code="${goodsDetail.goodsCode}">삭제</button>	
	    </th:block>
	  </div>
	</div>
</html>