<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/default}">
</head>
<th:block layout:fragment="customContents">
	<!-- page content -->
	<div class="right_col" role="main">
		<div class="">
			<div class="page-title"></div>

			<div class="clearfix"></div>

			<div class="row">
				<div class="col-md-12 col-sm-12 ">
					<div class="x_panel">
						<div class="x_title">
							<h2>
								회원관리 <small>Users</small>
							</h2>
							<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i
										class="fa fa-chevron-up"></i></a></li>

								<li><a class="close-link"><i class="fa fa-close"></i></a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<div class="row">
								<div class="col-sm-12">
									<div class="card-box table-responsive">
										<p class="text-muted font-13 m-b-30">회원목록을 조회할 수 있습니다.</p>
										<form id="modifyUserForm"
											th:action="@{/admin/userManagement/modifyUser}" method="post">
											<table th:object="${userInfo}">
												<tbody>
													<tr>
														<td><label for="userId">아이디</label></td>
														<td><input type="text" id="userId" name="userId"
															placeholder="아이디를 입력해주세요." th:value="*{userId}" /></td>
													</tr>
													<tr>
														<td><label for="userPw">비밀번호</label></td>
														<td><input type="password" id="userPw" name="userPw"
															placeholder="비밀번호를 입력해주세요." th:value="*{userPw}" /></td>
													</tr>
													<tr>
														<td><label for="userName">이름</label></td>
														<td><input type="text" id="userName" name="userName"
															placeholder="이름을 입력해주세요." th:value="*{userName}" /></td>
													</tr>
													<tr>
														<td><label for="userNickName">닉네임</label></td>
														<td><input type="text" id="userNickName"
															name="userNickName" placeholder="닉네임을 입력해주세요."
															th:value="*{userNickName}" /></td>
													</tr>
													<tr>
														<td><label for="userLevelCode">권한</label></td>
														<td colspan="2"><select id="userLevelCode"
															name="userLevelCode">
																<th:block th:if="${not #lists.isEmpty(userLevelList)}"
																	th:each="ul : ${userLevelList}">
																	<option th:value="${ul.userLevelCode}">[[${ul.userLevelName}]]</option>
																</th:block>
																<th:block
																	th:unless="${not #lists.isEmpty(userLevelList)}">
																	<option>등록된 권한이 없습니다.</option>
																</th:block>
														</select></td>
													</tr>
													<tr>
														<td><label for="userEmail">이메일</label></td>
														<td><input type="text" id="userEmail"
															name="userEmail" placeholder="이메일을 입력해주세요."
															th:value="*{userEmail}" /></td>
													</tr>
													<tr>
														<td><label for="regionSggCode">주소</label></td>
														<td><select id="regionSggCode" name="regionSggCode">
															<option th:value="*{regionSggCode}" th:text="*{regionSggCode}">
														</select>
														</td>
													</tr>
													<tr>
														<td><label for="totalExp">경험치</label></td>
														<td><input type="number" id="totalExp"
															name="totalExp" placeholder="기본값 0"
															th:value="*{totalExp}" /></td>
													</tr>
													<tr>
														<td><label for="totalMileage">적립금</label></td>
														<td><input type="number" id="totalMileage"
															name="totalMileage" placeholder="기본값 0"
															th:value="*{totalMileage}" /></td>
													</tr>
												</tbody>
												<tfoot>
													<tr>
														<td colspan="2">
															<button type="submit" id="submitBtn">수정</button>
														</td>
													</tr>
												</tfoot>
											</table>
										</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /page content -->
</th:block>
</html>