<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/default}">
</head>
<th:block layout:fragment="customContents">
	<!-- page content -->
	<div class="right_col" role="main">
		<div class="">
			<div class="page-title"></div>

			<div class="clearfix"></div>

			<div class="row">
				<div class="col-md-12 col-sm-12 ">
					<div class="x_panel">
						<div class="x_title">
							<h2>
								회원수정 <small>Users</small>
							</h2>
							<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i
										class="fa fa-chevron-up"></i></a></li>

								<li><a class="close-link"><i class="fa fa-close"></i></a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<div class="row">
								<div class="col-sm-12">
									<div class="card-box table-responsive">
										<p class="text-muted font-13 m-b-30">회원을 수정할 수 있습니다.</p>
										<form id="modifyUserForm"
											th:action="@{/admin/userManagement/modifyUser}" method="post">
											<div th:object="${userInfo}" class="col-10">
												<label for="userId">아이디</label> <input type="text"
													id="userId" name="userId" class="form-control"
													placeholder="아이디를 입력해주세요." th:value="*{userId}" required />


												<label for="userPw" class="mt-3">비밀번호</label> <input
													type="text" id="userPw" name="userPw" class="form-control"
													placeholder="비밀번호를 입력해주세요." th:value="*{userPw}" required />

												<label for="userName" class="mt-3">이름</label> <input
													type="text" id="userName" name="userName"
													class="form-control" placeholder="이름을 입력해주세요."
													th:value="*{userName}" required /> <label
													for="userNickName" class="mt-3">닉네임</label>
												</td> <input type="text" id="userNickName" class="form-control"
													name="userNickName" placeholder="닉네임을 입력해주세요."
													th:value="*{userNickName}" required /> <label
													for="userLevelCode" class="mt-3">권한</label> <select
													id="userLevelCode" class="form-control"
													name="userLevelCode">
													<th:block th:if="${not #lists.isEmpty(userLevelList)}"
														th:each="ul : ${userLevelList}">
														<option th:value="${ul.userLevelCode}">[[${ul.userLevelName}]]</option>
													</th:block>
													<th:block th:unless="${not #lists.isEmpty(userLevelList)}">
														<option>등록된 권한이 없습니다.</option>
													</th:block>
												</select> <label for="userEmail" class="mt-3">이메일</label> <input
													type="text" id="userEmail" class="form-control"
													name="userEmail" placeholder="이메일을 입력해주세요."
													th:value="*{userEmail}" required /> <label
													for="regionSggCode" class="mt-3">주소</label>
												<div class="col-13 row">
													<div class="col-6">
														<select id="regionSidoCode" name="regionSidoCode"
															th:value="*{regionSidoCode}" class="form-control">
															<option id="regionSidoCode" th:value="*{regionSidoCode}"
																th:text="*{regionSidoName}"></option>
															<th:block th:each="rs : ${regionSidoList}">
																<option id="regionSidoCode"
																	th:value="${rs.regionSidoCode}"
																	th:text="${rs.regionSidoName}"></option>
															</th:block>
														</select>
													</div>
													<div class="col-6">
														<select id="regionSggCode" name="regionSggCode"
															class="form-control">
															<option th:value="*{regionSggCode}">[[*{regionSggName}]]</option>
														</select>
													</div>
												</div>
												<label for="userAddrDesc" class="mt-3">상세주소</label> <input
													type="text" id="userAddrDesc" class="form-control"
													name="userAddrDesc" placeholder="상세주소를 입력해주세요."
													th:value="*{userAddrDesc}" required /> <label for="totalExp"
													class="mt-3">경험치</label> <input type="number" id="totalExp"
													class="form-control" name="totalExp" placeholder="기본값 0"
													th:value="*{totalExp}" required /> <label
													for="totalMileage" class="mt-3">적립금</label> <input
													type="number" id="totalMileage" class="form-control"
													name="totalMileage" placeholder="기본값 0"
													th:value="*{totalMileage}" required />
												<div style="float: right">
													<button type="submit" id="submitBtn"
														class="btn btn-light mt-5">수정</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /page content -->
</th:block>
<th:block layout:fragment="customScript">
	<script th:inline="javascript">
		$('#regionSidoCode').change(function(){
	    			
			var project = $('#regionSidoCode').val();
			
			$.ajax({
					type: 'POST',
					url: '/addUser/ajaxProject',
					data: { project },
					success: function(result){
						
						var sggOption = {};
						
						for (var i = 0; i < result.length; i++) {
						 sggOption += '<option value="' + result[i].regionSggCode + '">' + result[i].regionSggName + '</option>';	    			
						}
						
							 $('#regionSggCode').html(sggOption);
					},
					error: function(project) {
						alert("error");
					}
				})
		});
		</script>
</th:block>
</html>