<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/default}">
	<th:block layout:fragment="customContents">
	<div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>회원목록</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                          </div>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">
                    <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th>
                              <input type="checkbox" id="check-all" class="flat">
                            </th>
                            <th class="column-title">아이디</th>
                            <th class="column-title">비밀번호</th>
                            <th class="column-title">이름</th>
                            <th class="column-title">닉네임</th>
                            <th class="column-title">등급</th>
                            <th class="column-title">이메일</th>
                            <th class="column-title">전화번호</th>
                            <th class="column-title">경험치</th>
                            <th class="column-title">주소</th>
                            <th class="column-title">적립금</th>
                            <th class="column-title">등록일자</th>
                            <th class="column-title">수정</th>
                            <th class="column-title">삭제</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr class="even pointer" th:if="${not #lists.isEmpty(userList)}" th:each="u : ${userList}">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td th:text="${u.userId}"></td>
				  			<td th:text="${u.userPw}"></td>
				  			<td th:text="${u.userName}"></td>
				  			<td th:text="${u.userNickName}"></td>
				  			<td th:text="${u.userLevelName}"></td>
				  			<td th:text="${u.userEmail}"></td>
				  			<td th:text="${u.userPhoneNumber}"></td>
				  			<td th:text="${u.totalExp}"></td>
				  			<td th:text="${u.region}"></td>
				  			<td th:text="${u.totalMileage}"></td>
				  			<td th:text="${u.userCreateDate}"></td>
				  			<td>
				  				<a th:href="@{/admin/userManagement/modifyUser(userId=${u.userId})}">수정</a>
				  			</td>
				  			<td th:text="삭제"></td>
                          </tr>
                        </tbody>
                        <tfoot>
					  		<tr>
					  			<td colspan="14">
					  				<a type="button" th:if="${currentPage > 10}" th:href="@{/admin/userManagement/userList(currentPage=${prevPage})}" style="margin-right: 20px;">이전</a>
					  				<span th:unless="${currentPage > 10}" style="margin-right: 20px; visibility: hidden">이전</span>
					  				<th:block th:each="num : ${#numbers.sequence(startPageNum, endPageNum)}">
					  					<a th:if="${currentPage != num}" th:href="@{/admin/userManagement/userList(currentPage=${num})}" style="margin: 0; padding-left: 10px; padding-right: 10px" th:text="|${num}|">
					  					</a>
					  					<span th:if="${currentPage == num}" style="font-weight: 900; color: skyblue; margin-right: 10px; margin-left: 10px">[[${ num }]]</span>
					  				</th:block>
					  				<a th:if="${endPageNum < lastPage}" th:href="@{/admin/userManagement/userList(currentPage=${nextPage})}" style="margin-left: 20px;">다음</a>
					  				<span th:unless="${endPageNum < lastPage}" style="margin-left: 20px; visibility: hidden">다음</span>
					  			</td>
					  		</tr>
	  					</tfoot>
                      </table>
                        	<form th:action="@{/admin/userManagement/userList}" method="get">
								<select name="searchKey">
									<option value="userId">아이디</option>
									<option value="userLevelName">등급</option>
									<option value="userName">이름</option>
									<option value="userNickName">닉네임</option>
								</select> 
								<input type="text" name="searchValue" placeholder="검색어를 입력해주세요." />
								<button type="submit">검색</button>
							</form>
                    </div>
							
						
                  </div>
                </div>
              </div>
  	</th:block>
</html>