<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
  
	  <th:block layout:fragment="customContents">
	  	<div th:replace="~{user/fragments/insuranceBreadCrumbFragment :: insuranceBreadCrumbFragment}"></div>
	  	
	 <style>
	  	.table-bordered {
			margin-bottom: 4rem;
		}
	  	
		.table-bordered th {
			background-color: #f0f0f0;
		}
		.text-end {
 			 text-align: right !important;

		}
		
		
		@media screen and (max-width: 800px) {				
			.iconInsuranceProcess {
				display: none;
			}
			
		}
		input {
			border:none;
			text-align: center;
		}
		    		
	</style>
 	<!-- MAIN CONTENT SECTION -->
     <section class="mainContent clearfix blogPage">
       <div class="container">
       	<h1>보험금청구서수정</h1>
		<th:block th:if="${not #lists.isEmpty(insuranceBillDetail)}" th:each="l: ${insuranceBillDetail}">
     		<form id="modifyInsuranceBillForm" th:action="@{/insurance/insuranceModifyBill}" method="post">
		    	<h4>01. 인적사항</h4><br/>
			    <table class="table table-bordered">
		            <tr class="text-center" >
		                <th class="col-md-3">성명</th>
		             <th:block th:object="${l.user}">
		                <td class="col-md-3" >
		                	<input type="text" placeholder="Number" name="userName" th:value="*{userName}" readonly/>
		                </td>
					 </th:block>
		                <th class="col-md-3">이메일</th>
					 <th:block th:object="${l.user}">
		                <td class="col-md-3" >
		                	<input type="text" placeholder="Email" name="userEmail" th:value="*{userEmail}" readonly/>
		                </td>
					 </th:block>
		            </tr>
		            <tr class="text-center">
		            	<th>연락처</th>
		                <th:block th:object="${l.user}">
		                	<td class="col-md-3">
		                		<input type="text" placeholder="Email" name="userPhoneNumber" th:value="*{userPhoneNumber}" readonly/>
		                	</td>
					 	</th:block>
		                <th>주소</th>
		                <th:block th:object="${l.user}">
		                	<td class="col-md-3">
		                		<input type="text" placeholder="Email" name="userAddrDesc" th:value="*{userAddrDesc}" readonly/>
		                	</td>
					 	</th:block>
		            </tr>
		          </table>
		          <div class="row">
		          	<div class="col">
		          	<h4>02. 보험정보</h4><br/>
			     	 </div>
			      </div>
			      <table class="table table-bordered">
		            <tr class="text-center">
		                <th class="col-md-3">보험코드</th>
		                <td class="col-md-3">
		                	<input type="text" name="insuranceCode" th:value="${l.insuranceCode}" readonly/>
		                </td>
		                <th class="col-md-3">청구서코드</th>
		                <td class="col-md-3">
		                	<input type="text" name="insuranceBillDetailCode" th:value="${l.insuranceBillDetailCode}" readonly/>
		                </td>
		            </tr>
		            <tr class="text-center">
		            	<th class="col-md-3">상품코드</th>
		                <td class="col-md-3">
		                	<input type="text" name="goodsCode" th:value="${l.goodsCode}" readonly/>
		                </td>
		                <th class="col-md-3">상품명</th>
		                <th:block th:object="${l.goods}">
		                	<td class="col-md-3">
		                		<input type="text" name="goodsName" th:value="*{goodsName}" readonly/>
		                	</td>
		                </th:block> 	
		            </tr>
		          </table>
		          <h4>03. 사고사항</h4><br/>
		          <table class="table table-bordered">
		            <tr class="text-center">
		                <th class="col-sm-3">사고유형</th>
		                <td class="col-sm-3">
							<select class="text-center" name="accidentType" style="width:100%; border:none;">
								<option value="분실" th:selected="${l.accidentType == '분실' }">분실</option>
								<option value="파손" th:selected="${l.accidentType == '파손'} ">파손</option>
							</select>
						</td>
		                <th class="col-md-3">사고일시</th>
		                <td class="col-md-3">
		                	<input type="datetime-local" id="example-datetime-local-input" name="accidentDate" th:value="${l.accidentDate}"/>
		                </td>
		            </tr>
		            <tr class="text-center">
		            	<th class="col-md-3">사고내용</th>
		                <td colspan="3">
		                	<textarea placeholder="Contents" name="accidentContent" th:text="${l.accidentContent}" rows="10"
		                				style="width:100%; border:none; padding:5px;"></textarea>
		                </td>
		            </tr>
		           </table>
		           <h4>04. 계좌정보</h4><br/>
		           <table class="table table-bordered">
		            <tr class="text-center">
		                <th class="col-md-2">은행명</th>
		                <td class="col-md-2">
		                	<input type="text" placeholder="Bank" name="bankName" th:value="${l.bankName}"/>
		                </td>
		                <th class="col-md-2">예금주</th>
		                <td class="col-md-2">
		                	<input type="text" placeholder="Number" name="accountHolder" th:value="${l.accountHolder}"/>
		                </td>
		                <th class="col-md-2">계좌번호</th>
		                <td class="col-md-2">
		                	<input type="text" placeholder="홍길동" name="accountNumber" th:value="${l.accountNumber}"/>
		                </td>
		            </tr>
			      </table>
			      	<h4>05. 첨부파일</h4><br/>
					<table class="table table-bordered">
						<tr>
							<th class="col-md-2 text-center">첨부파일</th>
							<td class="col-md-10">
			                	<input type="file" id="fileUpload"/>
			             	</td>
			             </tr>
					</table>

					<h5>06. 알림</h5><br/>
					<input id="checkbox-1" class="checkbox-custom form-check-input" name="checkbox-1" type="checkbox" checked>
					<label for="checkbox-1" class="checkbox-custom-label form-check-label">E-mail</label>
					
					<br/><br/>
					<button type="submit" class="btn btn-primary btn-default card-btn billBtn float-right">제출</button>
				</form>
			</th:block>
		</div>
     </section>
    </th:block>
	<th:block layout:fragment="customScript">
		<script th:inline="javascript">
		
		</script>
	</th:block>
</html>