<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	  
	  <th:block layout:fragment="customContents">
	  	<div th:replace="~{user/fragments/insuranceBreadCrumbFragment :: insuranceBreadCrumbFragment}"></div>

	  	<!-- MAIN CONTENT SECTION -->
	      <section class="mainContent clearfix blogPage">
	        <div class="container">
	        	<h1>보험금청구서작성</h1>
	        	<hr class="my-4"><br/>
	        	
			   <!-- progress-wizard SECTION -->
	        	<div class="row">
		            <div class="col-md-12">
		              <div class="innerWrapper clearfix stepsPage">
		                <div class="row progress-wizard" style="border-bottom:0;">
		                  <div class="col-4 progress-wizard-step complete fullBar">
		                    <div class="text-center progress-wizard-stepnum">개인정보이용동의</div>
		                    <div class="progress"><div class="progress-bar"></div></div>
		                    <div class="progress-wizard-dot"></div>
		                  </div>
		  
		                  <div class="col-4 progress-wizard-step active">
		                    <div class="text-center progress-wizard-stepnum">보험금청구서작성</div>
		                    <div class="progress"><div class="progress-bar"></div></div>
		                    <div class="progress-wizard-dot"></div>
		                  </div>
		  
		                  <div class="col-4 progress-wizard-step disabled">
		                    <div class="text-center progress-wizard-stepnum">접수완료/접수증</div>
		                    <div class="progress"><div class="progress-bar"></div></div>
		                    <div class="progress-wizard-dot"></div>
		                  </div>
		                </div>
		              </div>
		            </div>
		         </div>

<!-- 	      		<form id="addInsuranceBillForm" th:action="@{/user/insurance/insuranceAddBill}" method="post"> -->
	      			<div class="form-group row">
						<label for="example-text-input" class="col-md-2 col-form-label">보험선택</label>
						<div class="col-md-5 selectOptions mb-4">
							<select name="country" class="form-control select-drop">
								<option>보험코드</option>
								<option>1 상품코드 상품명</option>
								<option>2 상품코드 상품명</option>
							</select>
						</div>
						<hr class="my-4"><br/>
					</div>
	      			
	      			<h4>1. 인적사항</h4><br/>
						<div class="form-group row">
							<label for="example-text-input" class="col-md-2 col-form-label">성명</label>
							<div class="col-md-10">
								<input class="form-control" type="text" placeholder="홍길동">
							</div>
							<label for="example-text-input" class="col-md-2 col-form-label">이메일</label>
							<div class="col-md-10">
								<input class="form-control" type="text" placeholder="email@example.com">
							</div>
							<label for="example-text-input" class="col-md-2 col-form-label">연락처</label>
							<div class="col-md-10">
								<input class="form-control" type="text" placeholder="000-0000-0000">
							</div>
						</div>
						<hr class="my-4">
					
						<h4>2. 사고사항</h4><br/>
						<div class="form-group row">
							<label for="example-text-input" class="col-md-2 col-form-label">사고유형</label>
							<div class="col-md-10 selectOptions mb-4">
								<select name="country" class="form-control select-drop">
									<option>사고유형</option>
									<option>분실</option>
									<option>파손</option>
								</select>
							</div>
							<label for="example-datetime-local-input" class="col-md-2 col-form-label">사고일시</label>
							<div class="col-md-10">
								<input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
							</div>
							<label for="example-text-input" class="col-md-2 col-form-label">사고내용</label>
							<div class="col-md-10">
								<textarea class="form-control" placeholder="Contents" cols="50" rows="10"></textarea>
							</div>
						</div>
						<hr class="my-4">
						
						<h4>3. 계좌정보</h4><br/>
						<div class="form-group row">
							<label for="example-text-input" class="col-md-2 col-form-label">은행</label>
							<div class="col-md-10">
								<input class="form-control" type="text" placeholder="Bank">
							</div>
							<label for="example-text-input" class="col-md-2 col-form-label">계좌번호</label>
							<div class="col-md-10">
								<input class="form-control" type="text" placeholder="Number">
							</div>
							<label for="example-text-input" class="col-md-2 col-form-label">예금주</label>
							<div class="col-md-10">
								<input class="form-control" type="text" placeholder="홍길동">
							</div>
						</div>
						<hr class="my-4"><br/>
						
						<div class="form-group row mb-4">
							<label for="example-text-input" class="col-md-2 col-form-label">첨부파일</label>
							<input type="file" id="fileUpload" />
						</div>
						
						<div class="mb-3">
					  <label for="formFile" class="form-label">Default file input example</label>
					  <input class="form-control" type="file" id="formFile">
					</div>

						<div class="form-group row">
							<label for="example-text-input" class="col-md-2 col-form-label">알림</label>
							<input id="checkbox-1" class="checkbox-custom form-check-input" name="checkbox-1" type="checkbox" checked>
							<label for="checkbox-1" class="checkbox-custom-label form-check-label">E-mail</label>
						</div>
						
						<a th:href="@{/insurance/insuranceBillDetail}" class="btn btn-primary btn-default card-btn billBtn" style="float: right; ">제출하기</a>
					<!--</form>  -->
				</div>
	      </section>
	  </th:block>
	  <th:block layout:fragment="customScript">
		<script th:inline="javascript"> 
			
		</script>
	</th:block>
</html>