<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	  

	  <th:block layout:fragment="customContents">	  
	  	 <div th:replace="~{user/fragments/insuranceBreadCrumbFragment :: insuranceBreadCrumbFragment}"></div>
	  	 
	  	<!-- MAIN CONTENT SECTION -->
      <div class="mainContent clearfix home-v5">
        <div id="accessories" class="accessories">
          <div class="container">
          
          <!-- SEMI TITLE -->
            <div class="row justify-content-center">
              <div class="col-md-12 text-center">
                <div class="sectionTitle">
                  <h1>Insurance</h1>
                  <p>상품이 거래가 일어나면 상품 오너와 오너의 상품은 보험에 가입된다.</p>
                  <!-- ordered list -->
                  <h3 class="text-left">보험처리과정</h3>
				<ol class="styled_list text-left">
					<li class="">렌터와 오너가 합의한다.</li>
					<li class="">1번의 합의에 응하지 않았을 경우 운영에서 중재한다.</li>
					<li class="">2번의 경우에도 합의가 되지 않으면 오너는 보상금을 신청한다.</li>
				</ol>
				
					<!-- checked list -->
					<h3 class="text-left">보험금 책정</h3>
					<ul class="styled_list text-left">
						<li class=""><i class="fa fa-check"></i>1년 이내의 구매 영수증이 있을 경우 상품 금액의 100%</li>
						<li class=""><i class="fa fa-check"></i>1년 이후 이거나 영수증이 없을 경우 상품 금액의 80%</li>
						<li class=""><i class="fa fa-check"></i>상품 파손시 70% (수리비 영수증)</li>
						<li class=""><i class="fa fa-check"></i>상품 분실시 50% (상품 가액)</li>
					</ul>
                </div>
              </div>
            </div><br/>
            
            <!-- THREE SECTION -->
            <div class="row justify-content-center">
              <div class="slide col-md-4 text-center">
                <div class="productCaption clearfix" style="height:200px; background-color: #dadada;">
                    <div>
                    <h4>가입된 보험 수</h4>
                  <h3>2</h3>
                </div>
                </div>
              </div>
              <div class="slide col-md-4 text-center">
                <div class="productCaption"  style="height:200px;  background-color: #dadada;">
                    <h4>작성한 청구서 수</h4>
                  <h3>1</h3>
                </div>
              </div>
              <div class="slide col-md-4 text-center" >
                <div class="productCaption" style="height:200px;  background-color: #dadada;">
                    <h4>지급받은 보상금 수</h4>
                  <h3>1</h3>
                </div>
              </div>
            </div><br/><br/>

            
			
			<!-- THREE TAB -->
			<ul class="nav nav-tabs nav-pills nav-justified" role="tablist">
				<li class="nav-item">
					<a class="nav-link tabAll active" data-toggle="tab" href="#jutified1" role="tab" aria-selected="true">ALL</a>
				</li>
				<li class="nav-item">
					<a class="nav-link tabInsurance" data-toggle="tab" href="#justified2" role="tab">INSURANCE</a>
				</li>
				<li class="nav-item">
					<a class="nav-link tabInsuranceBill" data-toggle="tab" href="#justified3" role="tab">BILL</a>
				</li>
				<li class="nav-item">
					<a class="nav-link tabInsurancePayout" data-toggle="tab" href="#justified4" role="tab">PAYOUT</a>
				</li>
			</ul><br/><br/>
			
			            	<div class="row">
		            	<label  class="col-md-2">날짜별 검색</label>
		            <div class="col-md-3">
						<input class="form-control" type="datetime-local" value="2017-06-19T13:45:00" id="example-datetime-local-input">
						</div>
					<p>~</p>
					<div class="col-md-3">
						<input class="form-control" type="datetime-local" value="2017-06-19T13:45:00" id="example-datetime-local-input">
					</div>
				</div>
			
			
            <!-- 나의 가입보험정보 -->
            <div class=tableInsurance>
	            <div class="sectionTitle " ><h3>01. 가입보험정보</h3></div><br/>
	            <div class="row justify-content-center">
		        	<table class="table">
						<thead>
							<tr>
								<th>보험코드</th>
								<th>상품코드</th>
								<th>상품명</th>
								<th>결제코드</th>
								<th>주문코드</th>
								<th>이용가능여부</th>
								<th>시작일</th>
								<th>만료일</th>
								<th>청구하기</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${not #lists.isEmpty(insuranceList)}"
						    	th:each="l : ${insuranceList}">	
						      <td th:text="${l.insuranceCode}"></td>
						      <td th:text="${l.goodsCode}"></td>
						      <th:block th:object="${l.goods}">
						      		<td th:text="*{goodsName}"></td>
						      	</th:block>
						      <td th:text="${l.paymentCode}"></td>
						      <td th:text="${l.rentalCode}"></td>
						      <td th:text="${l.insuranceAvailable}"></td>
						      <td th:text="${l.insuranceSignUpTime}"></td>
						      <th:block th:object="${l.rental}">
						      		<td th:text="*{rentalEndDate}"></td>
						      	</th:block>
						      <td><a th:href="@{/insurance/insuranceAddBill}" class="badge badge-primary">청구하기</a></td>
						    </tr>
						    <tr th:unless="${not #lists.isEmpty(insuranceList)}">
						    	<td colspan="9">가입된 보험이 없습니다.</td>
						    </tr>
						</tbody>
					</table>
	            </div>
            	<hr class="my-4"><br/>
            </div>
            
            <!-- 나의 제출한 보험 청구서 리스트 -->
            <div class="tableInsuranceBill" >
	            <div class="sectionTitle "><h3>02. 보상금청구서</h3></div><br/>
	            <div class="row justify-content-center">
	            	<table class="table">
					  <thead>
					    <tr>
					      <th>보험청구코드</th>
					      <th>보험청구서코드</th>
					      <th>상품코드</th>
					      <th>상품명</th>
					      <th>보험청구상태</th>
					      <th>보험청구상태변경날짜</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr th:if="${not #lists.isEmpty(insuranceBillList)}" th:each="l : ${insuranceBillList}" >
					      <td th:text="${l.insuranceBillCode}"></td>
					      <td th:text="${l.insuranceBillDetailCode}" ></td>
					       <th:block th:object="${l.goods}">
					       		<td th:text="*{goodsCode}"></td>
						      	<td th:text="*{goodsName}"></td>
						   </th:block>
						   <th:block th:object="${l.insuranceBillState}">
						   		<td class="billState"  th:text="*{insuranceBillStateName}"></td>
						   </th:block>
					      <td th:text="${l.insuranceBillModifyDate}"></td>
					    </tr>
					    <tr th:unless="${not #lists.isEmpty(insuranceBillList)}">
					    	<td colspan="9">작성한 보상금청구서가 없습니다.</td>
					    </tr>
					  </tbody>
					</table>
	            </div>
	             <hr class="my-4"><br/>
	           </div>
            
            <!-- 나의 보상금지급내역 리스트 -->
            <div class="tableInsurancePayout">
	            <div class="sectionTitle"><h3 id="">03. 보상금지급</h3></div><br/>
	            <div class="row justify-content-center">
	         		<table class="table">
					  <thead>
					    <tr>
					      <th>보상금지급코드</th>
					      <th>상품코드</th>
					      <th>상품명</th>
					      <th>결제코드</th>
					      <th>보상금청구서코드</th>
					      <th>보상금액</th>
					      <th>보상금지급날짜</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr th:if="${not #lists.isEmpty(insurancePayoutList)}"
					    	 th:each="l: ${insurancePayoutList}">	
					      <td th:text="${l.insurancePayoutCode}"></td>
					      <td th:text="${l.userId}"></td>
					      <td th:text="${l.insuranceBillDetailCode}"></td>
					      <td th:text="${l.insuranceBillCode}"></td>
					      <td th:text="${l.insurancePayoutPrice}"></td>
					      <td th:text="${l.insurancePayoutDate}"></td>
					    </tr>
					    <tr th:unless="${not #lists.isEmpty(insurancePayoutList)}">
					    	<td colspan="9">지급받은 보상금내역이 없습니다.</td>
					    </tr>
					  </tbody>
					</table>
	            </div>
	            <hr class="my-4"><br/>
            </div>
          </div>
        </div>
        </div>
	  </th:block>
	   <th:block layout:fragment="customScript">
	   		<script th:inline="javascript">
	   			
	   			// nav tab 이벤트
	   			$('.tabAll').on("click", function () {
	   		    	console.log("All탭");
	   		    	$('.tableInsurance').show();
	   		    	$('.tableInsuranceBill').show();
	   		    	$('.tableInsurancePayout').show();
	   		    	
	   			});
	   			
	   			$('.tabInsurance').on("click", function () {
	   		    	console.log("보험탭");
	   		    	$('.tableInsurance').show();
	   		    	$('.tableInsuranceBill').hide();
	   		    	$('.tableInsurancePayout').hide();
	   			});
	   			
	   			$('.tabInsuranceBill').on("click", function () {
	   		    	console.log("보상금청구탭");
	   		    	$('.tableInsurance').hide();
	   		    	$('.tableInsuranceBill').show();
	   		    	$('.tableInsurancePayout').hide();
	   			});
	   			
	   			$('.tabInsurancePayout').on("click", function () {
	   		    	console.log("보상금지급내역탭");
	   		    	$('.tableInsurance').hide();
	   		    	$('.tableInsuranceBill').hide();
	   		    	$('.tableInsurancePayout').show();
	   			});
	   			
	   			
		   		for(let i = 0; i < $('.billState').length; i++) {
		   			
	   				let state_name = $('.billState')[i].innerText;
	   				
		   			console.log(state_name);
		   			
		   			if(state_name == "접수중"){
		   				
		   				$('.billState')[i].style.color="green";
		   				
		   			}else if(state_name == "적합성판단중") {
		   				
		   				$('.billState')[i].style.color="orange";
		   				
		   			}else if(state_name == "보상금지급대기") {
		   				
		   				$('.billState')[i].style.color="blue";
		   				
		   			}else if(state_name == "부적합") {
		   				
		   				$('.billState').style.color="red";
		   				
		   			}else {
		   				
		   				$('.billState').style.color="black";
		   			}
		   			
		   		}
	   		</script>
	   </th:block>
</html>