<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
  
	  <th:block layout:fragment="customContents">
	  	<div th:replace="~{user/fragments/insuranceBreadCrumbFragment :: insuranceBreadCrumbFragment}"></div>
	  	
	 <style>
	  	.table-bordered {
			margin-bottom: 4rem;
		}
	  	
		.table-bordered th {
			background-color: #f0f0f0;
		}
		.text-end {
 			 text-align: right !important;

		}
		input {
			border:none;
			text-align: center;
		}
		    		
	</style>
 	<!-- MAIN CONTENT SECTION -->
     <section class="mainContent clearfix blogPage">
       <div class="container">
       	<h1>보험금청구서등록</h1>
       	
       		 <!-- progress-wizard SECTION -->
	        	<div class="row">
		            <div class="col-md-12">
		              <div class="innerWrapper clearfix stepsPage">
		                <div class="row progress-wizard" style="border-bottom:0;">
		                  <div class="col-4 progress-wizard-step complete fullBar">
		                    <div class="text-center progress-wizard-stepnum">개인정보이용동의</div>
		                    <div class="progress"><div class="progress-bar"></div></div>
		                    <div class="progress-wizard-dot"></div>
		                  </div>
		  
		                  <div class="col-4 progress-wizard-step active">
		                    <div class="text-center progress-wizard-stepnum">보험금청구서작성</div>
		                    <div class="progress"><div class="progress-bar"></div></div>
		                    <div class="progress-wizard-dot"></div>
		                  </div>
		  
		                  <div class="col-4 progress-wizard-step disabled">
		                    <div class="text-center progress-wizard-stepnum">접수완료/접수증</div>
		                    <div class="progress"><div class="progress-bar"></div></div>
		                    <div class="progress-wizard-dot"></div>
		                  </div>
		                </div>
		              </div>
		            </div>
		         </div>
     		<form id="addInsuranceBillForm" th:action="@{/insurance/insuranceAddBill}" method="post">					
		    	<h4>01. 인적사항</h4><br/>
		    	<p>인적사항은 회원의 정보로 자동 기입됩니다.</p>
			    <table class="table table-bordered">
			    	<th:block if="${not #lists.isEmpty(insuranceUserInfo)}" th:each="l : ${insuranceUserInfo}" style="text-transform: none;">
			            <tr class="text-center" >
			                <th class="col-md-3">성명</th>
			             <th:block th:object="${l.user}">
			                <td class="col-md-3" >
			                	<input type="text" placeholder="Number" name="userName" th:value="*{userName}" readonly/>
			                </td>
						 </th:block>
			                <th class="col-md-3">이메일</th>
						 <th:block th:object="${l.user}">
			                <td class="col-md-3" >
			                	<input type="text" placeholder="Email" name="userEmail" th:value="*{userEmail}" readonly/>
			                </td>
						 </th:block>
			            </tr>
			            <tr class="text-center">
			            	<th>연락처</th>
			                <th:block th:object="${l.user}">
			                	<td class="col-md-3">
			                		<input type="text" placeholder="Email" name="userPhoneNumber" th:value="*{userPhoneNumber}" readonly/>
			                	</td>
						 	</th:block>
			                <th>주소</th>
			                <th:block th:object="${l.user}">
			                	<td class="col-md-3">
			                		<input type="text" placeholder="Email" name="userAddrDesc" th:value="*{userAddrDesc}" readonly/>
			                	</td>
						 	</th:block>
			            </tr>
		            </th:block>
		          </table>
		          	<h4>02. 보험정보</h4><br/>
			     	<p>청구할 보험코드를 선택해주세요. 보험코드 선택시 상품코드와 상품명은 자동기입됩니다. </p>
			     	<table class="table table-bordered">
					<tr class="text-center">
		                <th class="col-sm-2">보험코드</th>
		                <td class="col-sm-2">
							<select id="insuranceCodeSelect" name="insuranceCodeSelect" class="text-center" style="width:100%; border:none;">
								<th:block if="${not #lists.isEmpty(insuranceList)}" th:each="l : ${insuranceList}" style="text-transform: none;">
									<option th:text="${l.insuranceCode}" th:selected="${l.insuranceCode == insuranceCode}"></option>
								</th:block>
							</select>
						</td>
						<th:block if="${not #lists.isEmpty(insuranceInfo)}" th:each="l : ${insuranceInfo}">
							<td><input type="text" name="insuranceAvailable" th:value="${l.insuranceAvailable}" readonly/></td>
			            	<th class="col-md-2">상품코드</th>
			                <td class="col-md-2">
			                	<input type="text" name="goodsCode" th:value="${l.goodsCode}" readonly/>
			                </td>
			                <th class="col-md-2">상품명</th>
			            		<th:block th:object="${l.goods}">
			            			<td class="col-md-2">
				                		<input type="text" name="goodsName" th:value="*{goodsName}" readonly/>
				                	</td>
				           		</th:block>
		                </th:block>
		            </tr>
				</table>
		          <h4>03. 사고사항</h4><br/>
		          <p>사고유형[분실/파손]과 사고일시, 사고내용을 최대한 상세히 적어주세요.</p>
		          <table class="table table-bordered">
		            <tr class="text-center">
		                <th class="col-sm-3">사고유형</th>
		                <td class="col-sm-3">
							<select class="text-center" name="accidentType" style="width:100%; border:none;">
								<option value="분실">분실</option>
								<option value="파손">파손</option>
							</select>
						</td>
		                <th class="col-md-3">사고일시</th>
		                <td class="col-md-3">
		                	<input type="datetime-local" id="example-datetime-local-input" name="accidentDate" />
		                </td>
		            </tr>
		            <tr class="text-center">
		            	<th class="col-md-3">사고내용</th>
		                <td colspan="3">
		                	<textarea placeholder="Contents" name="accidentContent" rows="10" style="width:100%; border:none; padding:5px ;"></textarea>
		                </td>
		            </tr>
		           </table>
		           <h4>04. 계좌정보</h4><br/>
		           <p>보상금을 받을 계좌정보를 입력해주세요. </p>
		           <table class="table table-bordered">
		            <tr class="text-center">
		                <th class="col-md-2">은행명</th>
		                <td class="col-md-2">
		                	<input type="text" placeholder="Bank" name="bankName"/>
		                </td>
		                <th class="col-md-2">예금주</th>
		                <td class="col-md-2">
		                	<input type="text" placeholder="홍길동" name="accountHolder"/>
		                </td>
		                <th class="col-md-2">계좌번호</th>
		                <td class="col-md-2">
		                	<input type="text" placeholder="123456789" name="accountNumber"/>
		                </td>
		            </tr>
			      </table>
			      	<h4>05. 첨부파일</h4><br/>
					<p>사진 등 증빙자료를 제출해주세요.</p>
					<table class="table table-bordered">
						<tr>
							<th class="col-md-2 text-center">첨부파일</th>
							<td class="col-md-10">
			                	<input type="file" id="fileUpload"/>
			             	</td>
			             </tr>
					</table>
					<h5>06. 알림</h5><br/>
					<p>보상금 청구상태 변경시 알려줍니다.</p>
					<input id="checkbox-1" class="checkbox-custom form-check-input" name="checkbox-1" type="checkbox" checked>
					<label for="checkbox-1" class="checkbox-custom-label form-check-label">E-mail</label>
					
					<br/><br/>
					<a id="btnBefore" class="btn btn-primary btn-default card-btn billBtn float-left" th:href="@{/insurance/insuranceAddBillPersonInfo/{insuranceCode}(insuranceCode=${insuranceCode})}">이전</a>
					<button type="submit" class="btn btn-primary btn-default card-btn billBtn float-right">제출</button>
				</form>
			</div>
    	 </section>
    </th:block>
	<th:block layout:fragment="customScript">
		<script th:inline="javascript">
			$('#btnBefore').on("click", function () {
				console.log("true");
				if(confirm("작성중이던 내용이 사라집니다.")) {
				}
			});
		
			//select 변경시 ajax로 상품코드 상품명 변경
			$('#insuranceCodeSelect').change(function() {
				var text = $('#insuranceCodeSelect option:selected').text();
				var value = $(this).val();
				console.log($('#insuranceCodeSelect'));
				console.log(text);
				console.log(value);
				
				request = $.ajax({
			            url: "/insurance/insuranceAddBill/{insuranceCode}",
			            type: "GET",
						data: {'insuranceCode': text},
						dataType: "text"
				});
				
				//성공
				request.done(function() {
					console.log("success");
					
					let url = "/insurance/insuranceAddBill/" + text;
					
					location.replace(url);
				});
			//실패
				request.fail(function(jqXHR, textStatus){
					console.log('Request failed: ' + textStatus);
				});
			});
			
			//유효성 검사
			
		</script>
	</th:block>
</html>