<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">

	  <th:block layout:fragment="customContents">
	  	<div th:replace="~{user/fragments/insuranceBreadCrumbFragment :: insuranceBreadCrumbFragment}"></div>
	 	<style>
	  	.table-bordered {
			margin-bottom: 4rem;
		}
	  	
		.table-bordered th {
			background-color: #f0f0f0;
		}
		.text-end {
 			 text-align: right !important;

		}
		
		
		@media screen and (max-width: 800px) {				
			.iconInsuranceProcess {
				display: none;
			}
			
		}
		input {
			border:none;
			text-align: center;
		}
		    		
	</style>
	 	
	 	
	 	<!-- MAIN CONTENT SECTION -->
	      <section class="mainContent clearfix blogPage">
	      	<th:block th:if="${not #lists.isEmpty(insuranceBillDetail)}" th:each="l: ${insuranceBillDetail}">
		        <div class="container">
		        			<form th:action="@{/insurance/insuranceRemoveBill(insuranceBillDetailCode=${l.insuranceBillDetailCode})}" method="POST" >
		        	<div class="col-md-12 row" style="margin:0; padding:0;">
			        	<h1>보험금청구접수증</h1>
			        	<div style="margin-left:auto;">
			        		 <th:block th:object="${l.insuranceBillState}">
				                <p id="idInsuranceBillStateName" th:text="*{insuranceBillStateName}" style="visibility: hidden; "></p>
							 </th:block>
		        			<a id="btnModifyBill" role="button" th:href="@{/insurance/insuranceModifyBill(insuranceBillDetailCode=${l.insuranceBillDetailCode})}" class="btn btn-primary-outlined btn-md" style="margin-right: 5px; visibility: hidden;">수정</a>
		        				<button id="btnRemoveBill" type="submit" class="btn btn-primary-outlined btn-md" style="margin-right:0; visibility: hidden;">삭제</button>

		        		</div>
		        	</div>
	
				    <div class="col-md-12" style="border: 1px solid #dee2e6; padding: 5rem; margin-top: 2rem;">
				    	<h4>01. 인적사항</h4><br/>
					    <table class="table table-bordered">
				            <tr class="text-center" >
				                <th class="col-md-3">성명</th>
				             <th:block th:object="${l.user}">
				                <td class="col-md-3" th:text="*{userName}"></td>
							 </th:block>
				                <th class="col-md-3">이메일</th>
							 <th:block th:object="${l.user}">
				                <td class="col-md-3" th:text="*{userEmail}"></td>
							 </th:block>
				            </tr>
				            <tr class="text-center">
				            	<th>연락처</th>
				                <th:block th:object="${l.user}">
				                	<td class="col-md-3" th:text="*{userPhoneNumber}"></td>
							 	</th:block>
				                <th>주소</th>
				                <th:block th:object="${l.user}">
				                	<td class="col-md-3" th:text="*{userAddrDesc}"></td>
							 	</th:block>
				            </tr>
				          </table>
				          	<h4>02. 보험정보</h4><br/>
					      <table class="table table-bordered">
				            <tr class="text-center">
				                <th class="col-md-3">보험코드</th>
				                <td class="col-md-3" th:text="${l.insuranceCode}"></td>
				                <th class="col-md-3">청구서코드</th>
				                <td class="col-md-3" th:text="${l.insuranceBillDetailCode}"></td>
				            </tr>
				            <tr class="text-center">
				            	<th class="col-md-3">상품코드</th>
				                <td class="col-md-3" th:text="${l.goodsCode}"></td>
				                <th class="col-md-3">상품명</th>
				                <th:block th:object="${l.goods}">
				                	<td class="col-md-3" th:text="*{goodsName}"></td>
				                </th:block> 	
				            </tr>
				          </table>
				          
				          <h4>03. 사고사항</h4><br/>
				          <table class="table table-bordered">
				            <tr class="text-center">
				                <th class="col-md-3">사고유형</th>
				                <td class="col-md-3" th:text="${l.accidentType}"></td>
				                <th class="col-md-3">사고일시</th>
				                <td class="col-md-3" th:text="${l.accidentDate}"></td>
				            </tr>
				            <tr class="text-center">
				            	<th class="col-md-3">사고내용</th>
				                <td colspan="3">
				                	<textarea th:text="${l.accidentContent}" rows="10"
				                				style="width:100%; border:none; padding:5px;" readonly>
				                	</textarea>
				                </td>
				            </tr>
				           </table>
				           <h4>04. 계좌정보</h4><br/>
				           <table class="table table-bordered">
				            <tr class="text-center">
				                <th class="col-md-2">은행명</th>
				                <td class="col-md-2" th:text="${l.bankName}"></td>
				                <th class="col-md-2">예금주</th>
				                <td class="col-md-2" th:text="${l.accountHolder}"></td>
				                <th class="col-md-2">계좌번호</th>
				                <td class="col-md-2" th:text="${l.accountNumber}"></td>
				            </tr>
					      </table>
				          <h4>05. 개인정보이용동의</h4><br/>
				          <div class="form-check ">
							<input id="checkbox-5" class="checkbox-custom form-check-input" name="checkbox-5" type="checkbox" checked disabled>
							<label for="checkbox-5" class="checkbox-custom-label form-check-label disable-checked">동의</label>
						</div>
						<h4 class="text-center" th:text="${l.requestDate}"></h4><br/>
						<h4 class="text-end">작성자: 홍길동</h4><br/>
						</div>
					</form>
					</div>
					
				</th:block>
	      </section>
	  </th:block>
	  <th:block layout:fragment="customScript">
		<script th:inline="javascript">
		
			if($('#idInsuranceBillStateName').text() == "접수대기중") {
				console.log("true");
				$('#btnModifyBill').attr('style', 'visibility:visible');
				$('#btnRemoveBill').attr('style', 'visibility:visible');
			}
			
			$('#btnRemoveBill').on("click", function () {
				console.log("true");
				if(confirm("정말로 삭제하시겠습니까? 복구가 불가능합니다")){}
				else {
					return false;
				}
			});
		</script>
	</th:block>