<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
  
	  <th:block layout:fragment="customContents">
	  	<div th:replace="~{user/fragments/insuranceBreadCrumbFragment :: insuranceBreadCrumbFragment}"></div>

	  	<!-- MAIN CONTENT SECTION -->
	      <section class="mainContent clearfix blogPage">
	        <div class="container">
	        	<h1>보험금청구서수정</h1>
	        	<hr class="my-4"><br/>
	        	

	      		<form id="modifyInsuranceBillForm" th:action="@{/insurance/insuranceModifyBill}" method="post" th:each="l: ${insuranceBillDetail}">
	      			<div class="form-group row">
						<label for="example-text-input" class="col-md-1 col-form-label text-center">보험코드</label>
						<div class="col-md-11 selectOptions">
							<input class="form-control" type="text" placeholder="홍길동" th:value="${l.insuranceCode}" readonly>
						</div>
						<hr class="my-4"><br/>
					</div>
	      			
	      			<h4>1. 인적사항</h4><br/><br/>
						<div class="form-group row text-center" th:object="${l.user}">
							<label for="example-text-input" class="col-md-1 col-form-label text-center">성명</label>
							<div class="col-md-11">
								<input class="form-control" type="text" placeholder="홍길동" th:value="*{userPhoneNumber}">
							</div>
							<label for="example-text-input" class="col-md-1 col-form-label">이메일</label>
							<div class="col-md-11">
								<input class="form-control" type="text" placeholder="email@example.com" th:value="*{userEmail}">
							</div>
							<label for="example-text-input" class="col-md-1 col-form-label">연락처</label>
							<div class="col-md-11">
								<input class="form-control" type="text" placeholder="000-0000-0000" th:value="*{userPhoneNumber}">
							</div>
							<label for="example-text-input" class="col-md-1 col-form-label" >주소</label>
							<div class="col-md-11">
								<input class="form-control" type="text" placeholder="address" th:value="*{userAddrDesc}">
							</div>
						</div>
						<hr class="my-4">
					
						<h4>2. 사고사항</h4><br/><br/>
						<div class="form-group row">
							<label for="example-text-input text-center" class="col-md-1 col-form-label">사고유형</label>
							<div class="col-md-11 selectOptions mb-4">
								<select name="accidentType" class="form-control select-drop">
									<option disabled selected>사고유형</option>
									<option value="분실" th:selected="${l.accidentType == '분실' }">분실</option>
									<option value="파손" th:selected="${l.accidentType == '파손'} ">파손</option>
								</select>
							</div>
							<label for="example-datetime-local-input text-center" class="col-md-1 col-form-label">사고일시</label>
							<div class="col-md-11">
								<input class="form-control" type="datetime-local" id="example-datetime-local-input" th:value="${l.accidentDate}">
							</div>
							<label for="example-text-input text-center" class="col-md-1 col-form-label">사고내용</label>
							<div class="col-md-11">
								<textarea class="form-control" placeholder="Contents" cols="50" rows="10" th:text="${l.accidentContent}"></textarea>
							</div>
						</div>
						<hr class="my-4">
						
						<h4>3. 계좌정보</h4><br/><br/>
						<div class="form-group row text-center">
							<label for="example-text-input" class="col-md-1 col-form-label">은행</label>
							<div class="col-md-11">
								<input class="form-control" type="text" placeholder="Bank" th:value="${l.bankName}">
							</div>
							<label for="example-text-input" class="col-md-1 col-form-label">예금주</label>
							<div class="col-md-11">
								<input class="form-control" type="text" placeholder="Number" th:value="${l.accountHolder}">
							</div>
							<label for="example-text-input" class="col-md-1 col-form-label">계좌번호</label>
							<div class="col-md-11">
								<input class="form-control" type="text" placeholder="홍길동" th:value="${l.accountNumber}">
							</div>
						</div>
						<hr class="my-4"><br/>
						
						<div class="form-group row mb-4">
							<label for="example-text-input" class="col-md-1 col-form-label">첨부파일</label>
							<div class="col-md-11">
								<input class="form-control"  type="file" id="fileUpload" />
							</div>
						</div>

						<div class="form-group row text-center">
							<label for="example-text-input" class="col-md-1 col-form-label">알림</label>
							<input id="checkbox-1" class="checkbox-custom form-check-input" name="checkbox-1" type="checkbox" checked>
							<label for="checkbox-1" class="checkbox-custom-label form-check-label">E-mail</label>
						</div>
						
						<div class="form-group row">
							<a th:href="@{/insurance/insuranceaddBillPersonInfo}" class="btn btn-primary btn-default card-btn billBtn" style="margin-right:auto; ">이전</a>
							<button type="submit" class="btn btn-primary btn-default card-btn billBtn" style="margin-left:auto;">제출</button>
						</div>
					</form>
				</div>
	      </section>
	  </th:block>
	  <th:block layout:fragment="customScript">
		<script th:inline="javascript">
			
		</script>
	</th:block>
</html>