<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	  
	  <th:block layout:fragment="customContents">	  
	  	 <div th:replace="~{user/fragments/insuranceBreadCrumbFragment :: insuranceBreadCrumbFragment}"></div>
	  	 
	  <!-- MAIN CONTENT SECTION -->
      <div class="mainContent clearfix home-v5">
        <div id="accessories" class="accessories">
          <div class="container justify-content-center">
        
          <!-- SEMI TITLE -->
              <div class="col-md-12 text-center" style="margin-bottom: 1rem;">
                <div class="sectionTitle">
                  <h1>개인정보이용동의</h1>
                </div>
              </div><br/>
              
        <!-- progress-wizard SECTION -->
	        	<div class="row">
		            <div class="col-md-12">
		              <div class="innerWrapper clearfix stepsPage">
		                <div class="row progress-wizard" style="border-bottom:0; margin-bottom: 1rem;">
		                  <div class="col-4 progress-wizard-step active">
		                    <div class="text-center progress-wizard-stepnum">개인정보이용동의</div>
		                    <div class="progress"><div class="progress-bar"></div></div>
		                    <div class="progress-wizard-dot"></div>
		                  </div>
		  
		                  <div class="col-4 progress-wizard-step disabled">
		                    <div class="text-center progress-wizard-stepnum">보험금청구서작성</div>
		                    <div class="progress"><div class="progress-bar"></div></div>
		                    <div class="progress-wizard-dot"></div>
		                  </div>
		  
		                  <div class="col-4 progress-wizard-step disabled">
		                    <div class="text-center progress-wizard-stepnum">접수완료/접수증</div>
		                    <div class="progress"><div class="progress-bar"></div></div>
		                    <div class="progress-wizard-dot"></div>
		                  </div>
		                </div>
		              </div>
		            </div>
		         </div>
				<!-- Radio Button -->
		         <div class= "row col-md-12">
					<div class="form-check ">
						<input id="disagreeRadio" class="radio-custom form-check-input " name= radio-2 type="radio" checked>
						<label for="radio-2" class="radio-custom-label form-check-label" style="margin: 5px;">비동의</label>
						<input id="agreeRadio" class="radio-custom form-check-input" name="radio-2" type="radio">
						<label for="radio-2" class="radio-custom-label form-check-label" style="margin: 5px;">동의</label>
					</div>
				</div>	
				<a th:href="@{/insurance/insuranceAddBill/{insuranceCode}(insuranceCode=${insuranceCode})}"  class="btn btn-primary btn-default card-btn nextBtn" style="float: right;">Next</a>
          	</div>
        </div>
       </div>
	  </th:block>
	   <th:block layout:fragment="customScript">
	   		<script th:inline="javascript">
	   			console.log($('#disagreeRadio').is(":checked"));
		   		$('.nextBtn').on("click", function(e) {
		   			if(	$('#disagreeRadio').is(":checked")) {
		   				alert("개인정보이용동의에 동의하셔야 청구서를 작성할 수 있습니다.");
		   				e.preventDefault();
		   			}

	   			});
	   		</script>
	   </th:block>
</html>