<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	  
	  <th:block layout:fragment="customContents">
	  	<h1>보험리스트</h1>
	  	<h3><a th:href="@{/user/insurance/userInsuranceAddBill}" style="color:blue;">보상금청구서등록</a></h3>
	  	<h3><a th:href="@{/user/insurance/userInsuranceBillList}" style="color:blue;">보험금청구서리스트</a></h3>
	  	<h3><a th:href="@{/user/insurance/userInsuranceBillListDetail}" style="color:blue;">보상금청구서상세화면</a></h3>
	  	<h3><a th:href="@{/user/insurance/userInsuranceBillPayoutList}" style="color:blue;">보상금지급내역</a></h3>
	  	<h3><a th:href="@{/user/insurance/userInsuranceModifyBill}" style="color:blue;">보상금청구서수정</a></h3>
	  	<h3><a th:href="@{/user/insurance/userInsuranceRemoveBill}" style="color:blue;">보상금청구서삭제</a></h3>
	  </th:block>
</html>