<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
	<link th:href="@{/user/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/user/assets/plugins/jquery-ui/jquery-ui.css}" rel="stylesheet">
    <link th:href="@{/user/assets/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/user/assets/plugins/selectbox/select_option1.css}" rel="stylesheet">
    <link th:href="@{/user/assets/plugins/fancybox/jquery.fancybox.min.css}" rel="stylesheet">
    <link th:href="@{/user/assets/plugins/rateyo/jquery.rateyo.min.css}" rel="stylesheet">
    <link th:href="@{/user/assets/plugins/iziToast/css/iziToast.css}" rel="stylesheet">
    <link th:href="@{/user/assets/plugins/prismjs/prism.css}" rel="stylesheet">
    <link th:href="@{/user/assets/plugins/revolution/css/settings.css}" rel="stylesheet">
    <link th:href="@{/user/assets/plugins/animate/animate.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/user/assets/plugins/slick/slick.css}" media="screen">
    <link rel="stylesheet" type="text/css" th:href="@{/user/assets/plugins/slick/slick-theme.css}" media="screen">
	<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css}">

    <!-- CUSTOM CSS -->
    <link th:href="@{/user/assets/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/user/assets/css/default.css}" id="option_style">

    <!-- Icons -->
    <link rel="shortcut icon" th:href="@{/assets/img/favicon.png}">
    <style type="text/css">
    	#myBlockListTr thead th {
    		text-align: center;
    	}
    	#myBlockListTr tbody td {
    		text-align: center;
    		
    	}
    	#myProfit1 tbody td {
    		color: black;
    	}
    </style>
</head>
<body id="body" class="body-wrapper version1 up-scroll">
    
	<div class="main-wrapper">
		<!-- navibar(상단메뉴) start -->
		<div th:replace="~{user/fragments/naviFragment :: naviFragment}"></div>
		<div th:replace="~{user/fragments/bannerFragment :: bannerFragment}"></div>
		<!-- navibar(상단메뉴) end -->
		
		<!-- contents start -->
		<th:block layout:fragment="customContents"></th:block>
				
		<!-- footer(하단메뉴) start -->
		<div th:replace="~{user/fragments/footerFragment :: footerFragment}"></div>
		<div th:replace="~{user/fragments/copyRightFragment :: copyRightFragment}"></div>
		<!-- footer(하단메뉴) end -->
	</div>
	

	<script th:src="@{/user/assets/plugins/jquery/jquery.min.js}"></script>
	<script th:src="@{/user/assets/plugins/jquery/jquery-migrate-3.0.0.min.js}"></script>
	<script th:src="@{/user/assets/plugins/jquery-ui/jquery-ui.js}"></script>
	<script th:src="@{/user/assets/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/user/assets/plugins/revolution/js/jquery.themepunch.tools.min.js}"></script>
	<script th:src="@{/user/assets/plugins/revolution/js/jquery.themepunch.revolution.min.js}"></script>
	<script th:src="@{/user/assets/plugins/slick/slick.js}"></script>
	<script th:src="@{/user/assets/plugins/fancybox/jquery.fancybox.min.js}"></script>
	<script th:src="@{/user/assets/plugins/iziToast/js/iziToast.js}"></script>
	<script th:src="@{/user/assets/plugins/prismjs/prism.js}"></script>
	<script th:src="@{/user/assets/plugins/selectbox/jquery.selectbox-0.1.3.min.js}"></script>
	<script th:src="@{/user/assets/plugins/countdown/jquery.syotimer.js}"></script>
	<script th:src="@{/user/assets/plugins/velocity/velocity.min.js}"></script>
	<script th:src="@{/user/assets/plugins/rateyo/jquery.rateyo.min.js}"></script>
	<script th:src="@{/user/assets/js/custom.js}"></script>
	<!-- 사용자 지정 js 파일 -->
	<th:block layout:fragment="customJs"></th:block>
	<!-- 사용자 지정 js script -->
	<th:block layout:fragment="customScript"></th:block>
	<!-- contents end -->

</body>
</html>