<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/default}">


	
	<!-- 사용자 지정 js 파일 -->
		<th:block layout:fragment="customJs">
			<script src="http://code.jquery.com/jquery-latest.min.js"></script>
			<script>
		$(function() { // 요소가 다그려지고 나서 실행해 주세요	
			function validateValue(checkValue) {
				if (typeof checkValue == 'undefined' || checkValue == null
						|| checkValue == '') {
					return true;
				}

				return false;
			}

		
			/* 유효성검사를 구현하시오. (#submitBtn 를 클릭 시) */
			$('#submitBtn').click(
					function() {
						let isSubmit = true;

						$('#modifyCommisionRateForm input').each(function(idx, item) {
									let checkValue = $(item).val();
									let labelValue = $(item).parents('tr').find('label').text();
									if (validateValue(checkValue)) {

										alert(`${labelValue}를 입력해주세요`);
										$(item).focus();
										isSubmit = false;

										return false;
									}

								});

						if (isSubmit)
							$('#modifyCommisionRateForm').submit();
					});
		});
	</script>
		</th:block>
	<!-- 사용자 지정 js script -->

	
	
	
	<th:block layout:fragment="customContents">
	   <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>플랫폼 수수료율 수정</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                          </div>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  
                  <div class="x_content">

                    <p>플랫폼의 수수료율을 수정할 수 있습니다.</p>
                    
                    
                    <div class="table-responsive">
                    
					<form id="modifyCommisionRateForm" th:action="@{/admin/commisionRate/adminModifyCommisionRate}" method="post">
						<table class="table table-striped jambo_table bulk_action" th:object="${commisionRateInfo}">
							<tbody>
								<tr class=" ">
									<td class=" "><label for="commisionRateCode">수수료율 코드</label></td>
									<td class=" "><input type="text" id="commisionRateCode"
										name="commisionRateCode" th:value="*{commisionRateCode}" 
										readonly="readonly"
										/></td>
								</tr>
								<tr class=" ">
									<td class=" "><label for="commisionRate">수수료율</label></td>
									<td class=" "><input type="text" id="commisionRate"
										name="commisionRate" placeholder="수수료율을 입력해주세요" th:value="*{commisionRate}"
										/></td>
								</tr>
								<tr class=" ">
									<td class=" "><label for="applyYear">적용연도</label></td>
									<td class=" "><input type="text"  id="applyYear" 
									name="applyYear" placeholder="적용연도를 입력해주세요" th:value="*{applyYear}"
									/></td>
								</tr>
								<tr class=" ">
									<td class=" "><label for="applyCheck">적용유무</label></td>
									<td class=" ">
										<select name="applyCheck">
											<option value="true">적용</option>
											<option value="false">적용안함</option>
										</select>
									</td>	
								</tr>
								
							</tbody>
							<tfoot>
								<tr class=" ">
									<td class=" " colspan="2">
										<button type="button" class="btn btn-secondary btn-sm" id="submitBtn" >수수료율 수정</button>
										<a th:href="@{/admin/commisionRate/adminCommisionRateList}" type="button" class="btn btn-secondary btn-sm" id="resetBtn">취소</a>
									</td>
								</tr>
							</tfoot>
						</table>
					</form>
					
					</div>
							
						
              </div>
			 </div>
               
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
	</th:block>
</html>