<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">
	<th:block layout:fragment="customContents">
      <section class="mainContent clearfix logIn">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-7 col-lg-8 col-xl-7 col-12">
              <div class="panel panel-default">
                <div class="panel-heading"><h3>log in</h3></div>
                <div class="panel-body">
                  <form id="loginForm" action="/login" method="POST" role="form">
                    <div class="form-group">
                      <label for="">아이디</label>
                      <input type="text" class="form-control" id="userId" name="userId">
                    </div>
                    <div class="form-group">
                      <label for="">비밀번호</label>
                      <input type="password" class="form-control" id="userPw" name="userPw">
                    </div>
                    <button type="submit" id="submitBtn" class="btn btn-primary btn-default btn-block">log in</button>
                  </form>
                  <form action="/login" id="autoLoginForm" method="POST">
                    <button type="submit" id="autoLoginBtn" class="btn btn-primary btn-default btn-block mt-1">누르시면 자동으로 로그인됩니다.</button>
                    <input name="userId" th:value="rentravel" hidden="hidden"/>
                    <input name="userPw" th:value="rentravel" hidden="hidden"/>
                  </form>
                    <div class="col-md-12 mt-3" style="text-align:center">
	                  <span>
		                  <a th:href="@{/findId}" class="btn" style="color: black">아이디</a>/
		                  <a th:href="@{/findPw}" class="btn" style="color: black">비밀번호 찾기</a>
	                  </span> 
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
	</th:block>
	 <th:block layout:fragment="customScript">
		<script th:inline="javascript"> 
				  $(function(){ // 요소가 다그려지고 나서 실행해 주세요
		                const msg = [[ ${msg} ]];
		  				if(msg != null) alert(msg);	               
				 		
		                $('#submitBtn').click(function(){
		                  
		                    const userId = $('#userId').val();
		                    const userPw = $('#userPw').val();
		
		                    if(typeof userId == 'undifined' 
		                    		|| userId == null 
		                    		|| userId == ''){
		                        alert('아이디를 입력하세요.');
		                        $('#userId').focus();
		                        return false;
		                    }
		
		                    if(typeof userPw == 'undifined' 
		                    		|| userPw == null 
		                    		|| userPw == ''){
		                        alert('비밀번호를 입력하세요.');
		                        $('#userPw').focus();
		                        return false;
		                    }
		                    
		                    $('#loginForm').submit();
		                })
		
		            });
				  
				  $('#autoLoginBtn').click(function(){
					  $('#autoLoginForm').submit();
				  });
		</script>
</th:block>
</html>