<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">
	<th:block layout:fragment="customContents">
	<table>
			<tbody>
				<tr th:each="sgg : ${regionSggList}">
					<td>
						<a class="btn btn-success" th:href="@{/addUser(regionSggCode=${sgg.regionSgg.regionSggCode})}" th:value="${sgg.regionSgg.regionSggCode}">[[${sgg.regionSgg.regionSggName}]]</a>
					</td>
				</tr>
			</tbody>
		</table>
</th:block>
</html>