<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">
	<th:block layout:fragment="customContents">
<table>
			<tbody>
				<tr th:each="sido : ${regionSidoList}">
					<td>
						<a class="btn btn-success" th:href="@{/regionSggList(regionSidoCode=${sido.regionSidoCode})}" th:value="${sido.regionSidoCode}">[[${sido.regionSidoName}]]</a>
					</td>
				</tr>
			</tbody>
		</table>
		</th:block>
</html>