<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	  
	  <th:block layout:fragment="customContents">
	  	<!-- Preloader -->
	    <div id="preloader" class="smooth-loader-wrapper">
	      <div class="preloader_container">
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	      </div>
	    </div>
	  	<h1>메인화면</h1>
	  	<h3><a th:href="@{/admin/}" style="color:blue;">admin main</a></h3>
	  	<h3><a th:href="@{/order/userPayment}" style="color:blue;">payment</a></h3>
	  </th:block>
</html>