<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	  
	  <th:block layout:fragment="customContents">
		  <section class="mainContent clearfix logIn pt-0 pb-0">
					<!-- 페이지마다 변경되는 contents -->
						<!-- Preloader -->
						<div id="preloader" class="smooth-loader-wrapper">
							<div class="preloader_container">
								<div class="block"></div>
								<div class="block"></div>
								<div class="block"></div>
								<div class="block"></div>
								<div class="block"></div>
								<div class="block"></div>
								<div class="block"></div>
								<div class="block"></div>
								<div class="block"></div>
								<div class="block"></div>
								<div class="block"></div>
								<div class="block"></div>
								<div class="block"></div>
								<div class="block"></div>
								<div class="block"></div>
								<div class="block"></div>
							</div>
						</div>
						 <!-- MAIN CONTENT SECTION -->
      <div class="mainContent clearfix home-v5 ">
      
      	        <!-- CTA SECTION -->
        <div class="bg-image" style="background-image: url('img/home/bg-cta.jpg');">
          <div class="container">
            <div class="row justify-content-center cta">
              <div class="col-12 col-md-8 col-lg-6 align-self-center">
                <div class="video-holder">
                  <h1>What is RENTravel</h1>
                  <p>
                      스마트한 소비의 시작 사지마세요 빌려쓰세요
                  </p>
                  <a class="video-link" th:href="@{/goods/goodsList}">
                    <i class="fa fa-plane p-0"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
         <!-- FEATURE PRODUCT SECTION -->
          <div class="row featuredProducts version3 justify-content-center">
            <div class="col-md-10 mb-4 mt-4 mb-md-5">
              <div class="tabCommon">
                <ul class="nav nav-tabs">
                  <li><a class="active" data-toggle="tab" href="#menu1">New Araivals</a></li>
                </ul>
                <div class="tab-bottom">
                </div>
                <div class="tab-content">
                  <div id="menu1" class="tab-pane fade show active">
                    <div class="row">
                      <div class="col-lg-3 col-sm-6 col-12" th:each="mgl : ${mainGoodsList}">
                        <div class="imageBox" >
                          <div class="productImage clearfix" >
                              <img th:src="@{|/files/${mgl.filePath}|}" alt="goods-img" style="display:flex; vertical-align: center; height:254.75px;">
                            <div class="productMasking">
                              <ul class="list-inline btn-group" role="group">
                                <li><a th:href="@{/goods/goodsDetail(goodsCode=${mgl.goodsCode}, userId=${mgl.userId})}" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="productCaption clearfix">
                            <h5><a th:text="${mgl.goodsName}" th:href="@{/goods/goodsDetail(goodsCode=${mgl.goodsCode}, userId=${mgl.userId})}">Nike Sportswear</a></h5>
                            <h3 th:text="${mgl.goodsDayPrice}"></h3>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- FEATURE SECTION -->
        <div id="features" class="featureSection" style="background-color: #f0f0f0;">
          <div class="container"  >
            <div class="row justify-content-center">
              <div class="col-md-12o">
                <div class="media mb-4 mb-md-5 flex-wrap">
                  <div class="icon-box"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                  <div class="media-body">
                    <h4 class="mt-0">BORROW</h4>
                    <p>여행갈 때마다 여행용품을 살 순 없죠. 필요한 여행용품 원하는 기간만큼 빌리고 반납하고 여행갈 때 필수 렌트래블! </p>
                  </div>
                </div>
                <div class="media  mb-4 mb-md-5 flex-wrap">
                  <div class="icon-box"><i class="fa fa-money" aria-hidden="true"></i></div>
                  <div class="media-body">
                    <h4 class="mt-0">RENTAL</h4>
                    <p>집에 쓰지않는 여행용품, 전자기기 등을 빌려주고 용돈을 벌어요! </p>
                  </div>
                </div>
                <div class="media  mb-4 mb-md-5 flex-wrap">
                  <div class="icon-box"><i class="fa fa-comment-o" aria-hidden="true"></i></div>
                  <div class="media-body">
                    <h4 class="mt-0">COMMUNITY</h4>
                    <p>정보게시판을 통해 회원들과 여행 정보를 공유할 수 있습니다. 매달 베스트글은 시상이 있어요 </p>
                  </div>
                </div>
                <div class="media  mb-4 mb-md-5 flex-wrap">
                  <div class="icon-box"><i class="fa fa-server" aria-hidden="true"></i></div>
                  <div class="media-body">
                    <h4 class="mt-0">INSURANCE</h4>
                    <p>내 물건.. 돌아오지 않을까 불안하시다고요? 렌트래블만의 보험시스템! 대여해줄때마다 가입! 더이상 불안해하지마세요 </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        </div>
		</section>
		</th:block>
</html>