<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	  
	  <th:block layout:fragment="customContents">
	  	<!-- Preloader -->
	    <div id="preloader" class="smooth-loader-wrapper">
	      <div class="preloader_container">
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	        <div class="block"></div>
	      </div>
	    </div>
	  	<h1>메인화면</h1>
	  	<h3><a th:href="@{/admin}" style="color:blue;">관리자 페이지</a></h3>
	  	<h3><a th:href="@{/order/payment}" style="color:blue;">결제</a></h3>
	  	<h3><a th:href="@{/order/waybill}" style="color:blue;">운송장번호</a></h3>
	  	<h3><a th:href="@{/insurance/insuranceMain}" style="color:blue;">보험메인화면</a></h3>
	  	<h3><a th:href="@{/goods/goodsList}" style="color:blue;">상품 리스트</a></h3>
	  	<h3><a th:href="@{/infoboard/infoBoardList}" style="color:blue;">정보 게시판 리스트</a></h3>
	  	<h3><a th:href="@{/board/inquiryList}" style="color:blue;">1 대 1 문의 게시판 리스트</a></h3>
	  	<h3><a th:href="@{/myPage/myInfo}" style="color:blue;">마이페이지</a></h3>
	  	<h3><a th:href="@{/addUser}" style="color:blue;">회원가입</a></h3>
	  	<h3><a th:href="@{/login}" style="color:blue;">로그인</a></h3>
	  </th:block>
</html>