<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/default}">
	<th:block layout:fragment="customContents">
      <div id="rightcolumn" class="right_col" role="main">
		<div class="col-md-12 col-sm-12">
			<div class="x_panel">
               <div class="x_title">
                 <h2>1 대 1 문의 게시판</h2>
                
                
					           
                 <div class="clearfix"></div>
               </div>

           	  <div class="x_content">
                <div class="table-responsive">
            
                      <table class="table jambo_table bulk_action"> 
                       <thead>
                          <tr class="headings" style="text-align: center">
			                <th class="column-title">분류</th>
			                <th class="column-title">제목</th>
			                <th class="column-title">작성 회원</th>
			                <th class="column-title">작성 날짜</th>
			                
			                <th class="bulk-actions" colspan="4">
			                 <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                        	</th>
			              </tr>
	                       </thead>                    
			                
			       
                        <tbody th:unless="${#lists.isEmpty(adminGetInquiryBoardList)}" th:each="inquiry : ${adminGetInquiryBoardList}">
				          <tr style="text-align: center;">
			                <td>[문의]</td>
			                <td style="text-align: left;"><a th:href="@{/admin/board/adminInquiryDetail}" th:text="문의합니다." style="color:black;"></a></td>
			                <td th:text="${inquiry.user.userNickName}"></td>			               	
			                <td th:text="${inquiry.inquiryBoardRegTime}"></td>	  
							<tr style="text-align: center" th:unless="${#lists.isEmpty(adminGetInquiryReBoardList)}" th:each="re : ${adminGetInquiryReBoardList}">
								<th:block th:if="${inquiry.inquiryBoardCode == re.inquiryBoardCode}">
					                <td>[답변]</td>
					                <td style="text-align: left;"><small style="font-size: 15px; margin-right:10px;"></small><a th:href="@{/admin/board/adminInquiryDetail}" style="color:black;">
					                	<i class="bi bi-arrow-return-right"></i>
					                	<span th:text="|${inquiry.user.userNickName}님 답변입니다.| " ></span>
					                </a></td>
					                <td th:text="${re.user.userNickName}"></td>			               	
					                <td th:text="${re.inquiryBoardReRegTime}"></td>	  
								</th:block>		            			                	              			                
			              </tr>		            			                	              			                
			              </tr>
			              <tr th:if="${#lists.isEmpty(adminGetInquiryBoardList)}">
			              	<td colspan="4">게시글이 존재하지 않습니다.</td>
			              </tr>
				         
			        </tbody>
			          <tfoot>
				  		<tr>
				  			<td colspan="5">
				  				<div class="row" style="margin-top: 40px">
						          <div class="col-sm-6">
											<div class="text-left">
												<ul class="pagination">
													
													<li th:if="${pagination.curRange != 1}" class="page-item">
														<a th:href="@{/admin/board/adminInquiryList}" aria-label="First"><<</a>
													</li>
													<li th:if="${pagination.curPage != 1}" class="page-item">
														<a th:href="@{/admin/board/adminInquiryList(curPage=${pagination.prevPage})}" aria-label="Prev" class="page-link">&#60;</a>
													</li>
													
													<th:block th:each="pageNum : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
														<li class="active page-item" th:if="${pageNum == pagination.curPage}">
															<a th:text="${pageNum}" class="page-link"></a>
														</li>
														<li th:unless="${pageNum == pagination.curPage}" class="page-item">
															<a th:href="@{/admin/board/adminInquiryList(curPage=${pageNum})}" th:text="${pageNum}" class="page-link"></a>
														</li>
													</th:block>
				
													<li th:if="${pagination.curPage != pagination.pageCnt && pagination.pageCnt > 0}" class="page-item">
														<a th:href="@{/admin/board/adminInquiryList(curPage=${pagination.nextPage})}" aria-label="Next" class="page-link">&#62;</a>
													</li>
													<li th:if="${pagination.curRange != pagination.rangeCnt && pagination.rangeCnt > 0}" class="page-item">
														<a th:href="@{/admin/board/adminInquiryList(curPage=${pagination.pageCnt})}" aria-label="Last" class="page-link">>></a>
													</li>
													
												</ul>
											</div>
										</div>		          
						        </div>
				  			</td>
				  		</tr>
			  		</tfoot>
			         
			         
                      </table>
                    </div>
							                 
                  </div>
          </div>
          </div>
        </div>
      <!-- /page content -->
	</th:block>
</html>