<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/default}">

<th:block layout:fragment="customContents">
	<div class="right_col" role="main">
		<div class="">
			<div class="page-title"></div>

			<div class="clearfix"></div>

			<div class="row">
				<div class="col-md-12 col-sm-12 ">
					<div class="x_panel">
							<div class="x_title">
								<h2>1 대 1 문의 게시판</h2>
								<a class="btn btn-light" th:href="@{/admin/board/adminInquiryList}" style="float: right">목록</a>
								
								<input id="userId" name="userId" th:value="${adminGetInquiryReBoard.userId}"
									hidden="hidden">
								<input id="inquiryReBoardCode" name="inquiryReBoardCode" th:value="${adminGetInquiryReBoard.inquiryReBoardCode}"
									hidden="hidden">	
								<div class="clearfix"></div>
							</div>
							<div class="form-group row ">
								<div class="col-md-12 col-sm-12 ">
									<div th:text="${adminGetInquiryReBoard.inquiryReBoardTitle}"
										style="font-size: 25px"></div>
									<div th:text="${adminGetInquiryReBoard.userId}"></div>																		
									<div>
										<span th:text="${adminGetInquiryReBoard.inquiryBoardReRegTime}" style="margin-right: 10px"></span>										
									</div>
								</div>
							</div>
							<div class="ln_solid"></div>

							<div class="x_content">

								<div th:text="${adminGetInquiryReBoard.inquiryReBoardContent}" style="height: 500px; overflow: auto"></div>
								<div class="ln_solid"></div>
								<form id="InquiryReDeleteForm" th:action="@{/admin/board/adminRemoveInquiry}" method="post">
									<input type="hidden" th:value="${adminGetInquiryReBoard.inquiryReBoardCode}" readonly="readonly" name="inquiryReBoardCode">							
									<button type="button" class="btn btn-light deleteInquiryReBoard" style="float: left">삭제</button>
								</form>
							</div>
							</div>
					</div>
				</div>
			</div>
		</div>
</th:block>
	<th:block layout:fragment="customScript">
		<script>
			$('.deleteInquiryReBoard').click(function(){
				if(confirm('정말로 삭제하시겠습니까?')) $('#InquiryReDeleteForm').submit(); 
			});	
		</script>
	</th:block>

</html>