<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/default}">
	<th:block layout:fragment="customContents">
      <div id="rightcolumn" class="right_col" role="main">
		<div class="col-md-12 col-sm-12">
			<div class="x_panel">
               <div class="x_title">
                 <h2>회원 차단 목록 조회</h2>
                
                
					           
                 <div class="clearfix"></div>
               </div>

           	  <div class="x_content">
                <div class="table-responsive">
              <form th:action="@{/admin/block/adminBlockList}" method="get">
				<select name="searchKey">
					<option value="blockCode">차단 코드</option>
					<option value="blockingUserId">차단한 회원</option>
					<option value="blockedUserId">차단된 회원</option>
					<option value="blockDate">차단 날짜</option>
				</select>
				<input type="text" name="searchValue" placeholder="검색어를 입력해주세요."/>
				<button type="submit">검색</button>
				</form><br>
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
			                <th class="column-title">차단 코드</th>
			                <th class="column-title">차단한 회원</th>
			                <th class="column-title">차단된 회원</th>
			                <th class="column-title">차단 날짜</th>
			                <th class="column-title"></th>
			                <th class="bulk-actions" colspan="4">
			                 <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                        	</th>
			              </tr>
	                       </thead>
			                
			       
                        <tbody>
			            <tr th:unless="${#lists.isEmpty(adminGetUserBlockList)}" th:each="bl : ${adminGetUserBlockList}">
			                <td th:text="${bl.blockCode}"></td>
			                <td th:text="${bl.blockingUserId}"></td>
			                <td th:text="${bl.blockedUserId}"></td>
			                <td th:text="${bl.blockDate}"></td>		
			                <td></td>	                			                
			              </tr>
			              <tr th:if="${#lists.isEmpty(adminGetUserBlockList)}">
			              	<td colspan="5">등록된 차단회원이 없습니다.</td>
			              </tr>
				         
			        </tbody>
			          <tfoot>
				  		<tr>
				  			<td colspan="15">
				  				<div class="row" style="margin-top: 40px">
						          <div class="col-sm-12">
											<div class="dataTables_paginate paging_simple_numbers">
												<ul class="pagination">																							
													<li th:if="${pagination.curPage != 1}" class="paginate_button previous disabled">
														<a th:href="@{/admin/block/adminBlockList(curPage=${pagination.prevPage})}" aria-label="Prev">Prev</a>
													</li>
													
													<th:block th:each="pageNum : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
														<li class="active" th:if="${pageNum == pagination.curPage}">
															<a th:text="${pageNum}"></a>
														</li>
														<li th:unless="${pageNum == pagination.curPage}">
															<a th:href="@{/admin/block/adminBlockList(curPage=${pageNum})}" th:text="${pageNum}"></a>
														</li>
													</th:block>
				
													<li th:if="${pagination.curPage != pagination.pageCnt && pagination.pageCnt > 0}">
														<a th:href="@{/admin/block/adminBlockList(curPage=${pagination.nextPage})}" aria-label="Next">Next</a>
													</li>												
													
												</ul>
											</div>
										</div>		          
						        </div>
				  			</td>
				  		</tr>
			  		</tfoot>
			         
			         
                      </table>
                    </div>
							                 
                  </div>
          </div>
          </div>
        </div>
      <!-- /page content -->
	</th:block>
</html>