<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="customContents">
	
	  <!-- LIGHT SECTION -->
      <section class="lightSection clearfix pageHeader">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="page-title">
                <h2>REGIST GOODS</h2>
              </div>
            </div>
            <div class="col-md-6">
              <ol class="breadcrumb pull-right">
                <li>
                  <a th:href="@{/}">Home</a>
                </li>
                <li class="active">REGIST GOODS</li>
              </ol>
            </div>
          </div>
        </div>
      </section>
	
      <section class="mainContent clearfix signUp">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading"><h3>sign up</h3></div>
                <div class="panel-body">
                
                  <form th:action="@{/goods/addGoods}" method="POST" role="form">
                    <div class="form-group">
                      <label for="">상품명</label>
                      <input type="text" class="form-control" id="" name="goodsName">
                    </div>
                    <div class="form-group">
                      <label for="">아이디</label>
                      <input type="text" class="form-control" id="" name="userId">
                    </div>
                    <div class="form-group">
                      <label for="">상품가치</label>
                      <input type="text" class="form-control" id="" name="goodsValuePrice">
                    </div>
                    <div class="form-group">
                      <label for="">일당 가격</label>
                      <input type="text" class="form-control" id="" name="goodsDayPrice">
                    </div>
                    <div class="form-group">
                      <label for="">상품 상세</label>
                      <input type="text" class="form-control" id="" name="goodsDetail">
                    </div>
                    <div class="form-group">
                      <label for="">카테고리</label>
                      <input type="text" class="form-control" id="" name="goodsCategoryCode">
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    <button type="button" class="btn btn-link btn-block"><span>All have an account?</span> Log in</button>
                  </form>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
	</th:block>
</body>
</html>