<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="customContents">
	  <!-- LIGHT SECTION -->
      <section class="lightSection clearfix pageHeader">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="page-title">
                <h2>GOODS LIST</h2>
              </div>
            </div>
            <div class="col-md-6">
              <ol class="breadcrumb pull-right">
                <li>
                  <a th:href="@{/}">Home</a>
                </li>
                <li class="active">GOODS LIST</li>
              </ol>
            </div>
          </div>
        </div>
      </section>
	

      <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix productsContent">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-4 sideBar" >
             <div class="panel panel-default priceRange">
                <div class="panel-heading">렌탈 가능 여부</div>
                <div class="panel-body clearfix">
                   	<a th:href="@{/goods/goodsList}"><button type="button" class="btn btn-primary">전체</button></a>
                   	<a th:href="@{/goods/goodsList(goodsCategoryCode=${pagination.goodsCategoryCode}, searchKey=${searchResult.searchKey}, searchValue=${searchResult.searchValue}, goodsRentalAvailability=Y)}"><button type="button" class="btn btn-info">가능</button></a>
                   	<a th:href="@{/goods/goodsList(goodsRentalAvailability=N)}"><button type="button" class="btn btn-danger">불가</button></a>
                   	
                  <!-- <span class="priceLabel">Price: <strong>$12 - $30</strong></span> -->
                </div>
              </div>
              <div class="panel panel-default filterNormal">
                <div class="panel-heading">카테고리</div>
                <div class="panel-body">
                  <ul class="list-unstyled">
                  	<li><a th:href="@{/goods/goodsList}">전체보기</a></li>
                  </ul>
                  <ul class="list-unstyled" th:each="gcac : ${goodsCategoryAndCount}">
                  	
                    <li><a th:href="@{/goods/goodsList(goodsCategoryCode=${gcac.goodsCategoryCode})}" th:text="|${gcac.goodsCategoryName} ( ${gcac.countByCategory} )|"></a></li>
                  </ul>
                </div>
              </div>
            </div>
            
            
            
            <div class="col-lg-9 col-md-8" th:if="${pagination.listCnt > 0}">
              <div class="row filterArea">
                <div class="col-6">
			 		<form th:href="@{/goods/goodsList}">
						<select name="searchKey">
							<option value="goodsName">상품명</option>
							<option value="userNickname">닉네임</option>
						</select>
						<input type="text" name="searchValue" placeholder="검색어를 입력해주세요."/>
						<button type="submit">검색</button>
					</form>
                </div>
				<div class="col-6">

					<div style="display: flex; justify-content: center;">
						<nav aria-label="Page navigation example">
							<ul class="pagination pagination-sm">
								<li class="page-item" th:if="${pagination.curRange != 1}">
									<a class="page-link" th:href="@{/goods/goodsList}"
									aria-label="First"><span aria-hidden="true"></span></a>
								</li>
								<li class="page-item" th:if="${pagination.curPage != 1}">
									<a class="page-link"
									th:href="@{/goods/goodsList(curPage=${pagination.prevPage})}"
									aria-label="Prev"> <span aria-hidden="true">&#60;</span></a>
								</li>

								<th:block
									th:each="pageNum : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
									<li class="active" th:if="${pageNum == pagination.curPage}">
										<a class="page-link" th:text="${pageNum}"></a>
									</li>
									<li class="page-item"
										th:unless="${pageNum == pagination.curPage}"><a
										class="page-link"
										th:href="@{/goods/goodsList(curPage=${pageNum})}"
										th:text="${pageNum}"></a></li>
								</th:block>

								<li class="page-item"
									th:if="${pagination.curPage != pagination.pageCnt && pagination.pageCnt > 0}">
									<a class="page-link"
									th:href="@{/goods/goodsList(curPage=${pagination.nextPage})}"
									aria-label="Next"> <span aria-hidden="true">&#62;</span></a>
								</li>
								<li class="page-item"
									th:if="${pagination.curRange != pagination.rangeCnt && pagination.rangeCnt > 0}">
									<a class="page-link"
									th:href="@{/goods/goodsList(curPage=${pagination.pageCnt})}"
									aria-label="Last"> <span aria-hidden="true">>></span></a>
								</li>
							</ul>
						</nav>
					</div>

				</div>

		      </div>
              <div class="row productListSingle">
                
                <th:block th:each="gl : ${goodsList}" th:if="${pagination.pageCnt > 0 }">
                
	                <div class="col-sm-12">
	                  <div class="media flex-wrap productBox">
	                    <div class="media-left">
	                      <div class="productImage clearfix">
	                        <img src="/user/assets/img/products/products-03.jpg" alt="products-img">
	                        <div class="productMasking">
	                          <ul class="list-inline btn-group" role="group">
	                            <li><a class="btn btn-default" th:href="@{/goods/goodsDetail(goodsCode=${gl.goodsCode}, userId=${gl.userId})}"><i class="fa fa-eye"></i></a></li>
	                            <li></li>
	                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
	                          </ul>
	                        </div>
	                      </div>
	                    </div>
	                    <div class="media-body">
	                      <h4 class="media-heading"><a th:href="@{/goods/goodsDetail(goodsCode=${gl.goodsCode}, userId=${gl.userId})}" th:text="${gl.goodsName}"></a></h4>
	                      <p th:text="|판매자 닉네임: ${gl.userNickname}|"></p>
	                      <h4 th:text="|렌탈 가능 여부: ${gl.goodsRentalAvailability}|"></h4>
	                      <h4 th:text="|상품 가치: ${gl.goodsValuePrice}|"></h4>
	                      <h4 th:text="|카테고리: ${gl.goodsCategoryName}|"></h4>
	                      <h4 th:text="|일당 가격: ${gl.goodsDayPrice}|"></h4>
	                      <h4 th:text="|판매지역: ${gl.userRegion}|"></h4>
	                      <h4 th:text="${gl.goodsRegDate}"></h4>
	                    </div>
	                  </div>
	                </div>  
                                      
                </th:block>
                
                
                
              </div>
				<div class="blogPage" style="display: flex; justify-content: center;" >
					<nav aria-label="Page navigation example">
						<ul class="pagination pagination-lg" style="margin:3px">
							<li class="page-item" th:if="${pagination.curRange != 1}">
								<a class="page-link" th:href="@{/goods/goodsList(goodsCategoryCode=${pagination.goodsCategoryCode})}"
								aria-label="First"><span aria-hidden="true"></span></a>
							</li>
							<li class="page-item" th:if="${pagination.curPage != 1}">
								<a class="page-link"
								th:href="@{/goods/goodsList(goodsCategoryCode=${pagination.goodsCategoryCode},curPage=${pagination.prevPage})}"
								aria-label="Prev"> <span aria-hidden="true">&#60;</span></a>
							</li>

							<th:block th:each="pageNum : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
								<li class="active" th:if="${pageNum == pagination.curPage}">
									<a class="page-link" th:text="${pageNum}"></a>
								</li>
								<li class="page-item"
									th:unless="${pageNum == pagination.curPage}"><a
									class="page-link"
									th:href="@{/goods/goodsList(goodsCategoryCode=${pagination.goodsCategoryCode},curPage=${pageNum})}"
									th:text="${pageNum}"></a>
								</li>
							</th:block>

							<li class="page-item"
								th:if="${pagination.curPage != pagination.pageCnt && pagination.pageCnt > 0}">
								<a class="page-link"
								th:href="@{/goods/goodsList(goodsCategoryCode=${pagination.goodsCategoryCode},curPage=${pagination.nextPage})}"
								aria-label="Next"> <span aria-hidden="true">&#62;</span></a>
							</li>
							<li class="page-item"
								th:if="${pagination.curRange != pagination.rangeCnt && pagination.rangeCnt > 0}">
								<a class="page-link"
								th:href="@{/goods/goodsList(goodsCategoryCode=${pagination.goodsCategoryCode},curPage=${pagination.pageCnt})}"
								aria-label="Last"> <span aria-hidden="true">>></span></a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			
			
			
			
			
			
			<div class="col-lg-9 col-md-8" th:unless="${pagination.listCnt > 0}">
              <div class="row filterArea">
                <div class="col-6">
			 		<form th:href="@{/goods/goodsList}">
						<select name="searchKey">
							<option value="goodsName">상품명</option>
							<option value="userNickname">닉네임</option>
						</select>
						<input type="text" name="searchValue" placeholder="검색어를 입력해주세요."/>
						<button type="submit">검색</button>
					</form>
                </div>
				<div class="col-6">
				</div>

		      </div>
              <div class="row productListSingle">
                
                
	                <div class="col-sm-12">
	                  <div class="media flex-wrap productBox">
	                    <div class="media-left">
	                      <div class="productImage clearfix">
	                      </div>
	                    </div>
	                    <div class="media-body">
	                      <h4 class="media-heading">등록된 상품이 없습니다. 이거 이쁘게 꾸미는 법 아시는 분</h4>
	                    </div>
	                  </div>
	                </div>  
                                      
              </div>
			</div>
			
			
			
			
			
			
			
          </div>
        </div>
        
      </section>
      
	</th:block>
</body>
</html>