<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    
    <style>
		.rating-view fieldset{
		    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
		    direction: rtl; /* 이모지 순서 반전 */
		    border: 0; /* 필드셋 테두리 제거 */
		}
		.rating-view fieldset legend{
		    text-align: left;
		}
		.rating-view input[type=radio]{
		    display: none; /* 라디오박스 감춤 */
		}
		.rating-view label{
		    font-size: 1.7em; /* 이모지 크기 */
		    color: transparent; /* 기존 이모지 컬러 제거 */
		    text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
		}
		.rating-view label:hover{
		    text-shadow: 0 0 0 rgb(233, 171, 0); /* 마우스 호버 */
		}
		.rating-view label:hover ~ label{
		    text-shadow: 0 0 0 rgb(233, 171, 0); /* 마우스 호버 뒤에오는 이모지들 */
		}
		.rating-view input[type=radio]:checked ~ label{
		    text-shadow: 0 0 0 rgb(233, 171, 0); /* 마우스 클릭 체크 */
		}
	  	.modal{
		  	position: fixed;
		 	top: 50%;
		  	left: 50%;
		  	transform: translate(-50%, -50%); /*신고하기 모달*/
	  	}
		.modal-dialog{
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			vertical-align: middle;
			  	
  			text-align: left; /*신고하기 모달*/
		}
	</style>
    
</head>

    <th:block layout:fragment="customContents">
		
		
		<!-- ReportGoodsModal 상품 신고 모달 -->
		<div class="modal fade quick-view-drone" id="goodsReportModal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-fullsize" >
				<div class="modal-content modal-fullsize" style="width:500px;">
					<div class="modal-body" >
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
						<div class="media flex-wrap">
							
							<div class="media-body">
							 <form id="reportGoodsForm" th:action="@{/reportGoods}" method="POST">
								<h2>신고하기</h2>
								<p>해당 상품 신고하기</p>
								<h4>신고사유</h4><br/>
								<div class="quick-drop selectOptions mb-4">
									<ul>
									<li><label><input type="radio" name="reportTypeCode" value="report_type1" >광고성 글</label></li>
	      							<li><label><input type="radio" name="reportTypeCode" value="report_type2" >무분별한 도배</label></li>
	      							<li><label><input type="radio" name="reportTypeCode" value="report_type3" >사기성 글</label></li>
	      							<li><label><input type="radio" name="reportTypeCode" value="report_type4" >음란성 글</label></li>
	      							<li><label><input type="radio" name="reportTypeCode" value="report_type5" >욕설 및 혐오 조장 글</label></li>
	      							</ul>
	      							<input name="goodsCode" th:value="${goodsDetail.goodsCode}" hidden="hidden">
	      							<input name="userId" th:value="${goodsDetail.userId}" hidden="hidden">
      							</div>
								
								<div class="btn-area" style="display: inline-block; margin: 0 5px;  float: right; text-align:right; ">
									<button type="button" class="btn btn-primary btn-block" id="reportGoodsBtn">신고하기 <i class="fa fa-angle-right" aria-hidden="true"></i></button>
								</div>
							</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- reportReviewModal 상품평 신고 모달 -->
		<div class="modal fade quick-view-drone" id="reportReivewModal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-fullsize" >
				<div class="modal-content modal-fullsize" style="width:500px;">
					<div class="modal-body" >
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
						<div class="media flex-wrap">
							
							<div class="media-body">
							 <form id="reportReviewForm" th:action="@{/reportReview}" method="POST">
								<h2>신고하기</h2>
								<p>해당 상품평 신고하기</p>
								<h4>신고사유</h4><br/>
								<div class="quick-drop selectOptions mb-4">
									<ul>
									<li><label><input type="radio" name="reportTypeCode" value="report_type1" >광고성 글</label></li>
	      							<li><label><input type="radio" name="reportTypeCode" value="report_type2" >무분별한 도배</label></li>
	      							<li><label><input type="radio" name="reportTypeCode" value="report_type3" >사기성 글</label></li>
	      							<li><label><input type="radio" name="reportTypeCode" value="report_type4" >음란성 글</label></li>
	      							<li><label><input type="radio" name="reportTypeCode" value="report_type5" >욕설 및 혐오 조장 글</label></li>
	      							</ul>
      							</div>
								
								<div class="btn-area" style="display: inline-block; margin: 0 5px;  float: right; text-align:right; ">
									<button type="button" class="btn btn-primary btn-block" id="reportReviewBtn">신고하기 <i class="fa fa-angle-right" aria-hidden="true"></i></button>
								</div>
							</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
    
      <!-- LIGHT SECTION -->
      <section class="lightSection clearfix pageHeader">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="page-title">
                <h2>GOODS DETAIL</h2>
              </div>
            </div>
            <div class="col-md-6">
              <ol class="breadcrumb pull-right">
                <li>
                  <a th:href="@{/}">Home</a>
                </li>
                <li>
                  <a th:href="@{/goods/goodsList}">GOODS LIST</a>
                </li>
                <li class="active">GOODS DETAIL</li>
              </ol>
            </div>
          </div>
        </div>
      </section>
      
      <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix">
        <div class="container">
          <div class="row singleProduct">
            <div class="col-md-12">
              <div class="media flex-wrap mb-5">
                <div class="media-left productSlider">
                  <div id="carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner SingleProductItem" >
                      <div class="carousel-item active productImage SingleProductImage" th:each="gi : ${goodsImgs}" th:if="${gi.goodsImgRowNum == 1}" th:data-thumb="${gi.goodsImgRowNum}" >
                        <img th:src="@{${gi.goodsImg}}">
                        <a data-fancybox="images" th:href="@{${gi.goodsImg}}" class="product-content">
                          <div class="MaskingIcon"><i class="fa fa-plus"></i></div>
                        </a>
                      </div>
                      <div class="carousel-item SingleProductImage" th:each="gi : ${goodsImgs}" th:if="${gi.goodsImgRowNum != 1}" th:data-thumb="${gi.goodsImgRowNum}" >
                        <img th:src="@{${gi.goodsImg}}">
                        <a data-fancybox="images" th:href="@{${gi.goodsImg}}" class="product-content">
                          <div class="MaskingIcon"><i class="fa fa-plus"></i></div>
                        </a>
                      </div>


                    </div>
                  </div>
                  
                  
                  <div class="clearfix">
                    <div id="thumbcarousel" class="carousel slide" data-interval="false" >
                      <div class="carousel-inner">
                          <div th:each="gi : ${goodsImgs}" data-target="#carousel" th:data-slide-to="${gi.goodsImgRowNum - 1}" class="thumb">
                          	<img th:src="@{${gi.goodsImg}}">
                          </div>
                      </div>
                      <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                      </a>
                      <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="media-body"  th:object="${goodsDetail}">
                  <ul class="list-inline">
                    <li class="mb-4 mb-md-0">
                      <a th:href="@{/goods/goodsList}"><i class="fa fa-reply" aria-hidden="true"></i>
                        쇼핑 계속하기
                      </a>
                    </li>

                  </ul>

                  <h2 th:text="*{goodsName}"></h2>
                  <h3 th:text="'1일당 '+*{goodsDayPrice}+'원'"></h3>
                            
                   		<h4>닉네임: <a th:href="@{/myPage/myPage(userNickName=*{userNickname})}" th:text="*{userNickname}" style="color: black"></a></h4>
                   		<h4 th:text="'카테고리: '+*{goodsCategoryName}"></h4>
                   		<h4 th:text="'등록일자: '+*{goodsRegDate}"></h4>
                   		<h4 th:text="'상품가치: '+*{goodsValuePrice}"></h4>
                   		
   	               
	                   		<button th:if="${session.S_USER_INFO != null && session.S_USER_INFO.loginId != goodsDetail.userId && userBlockedIdCnt == 0}"
	                   		type="button" class="btn btn-primary blockBtn" th:data-block-id = "*{userId}">회원 차단</button>
	                   		<!-- Button trigger modal -->
							<button th:if="${session.S_USER_INFO != null && session.S_USER_INFO.loginId != goodsDetail.userId}" 
							type="button" class="btn btn-primary" data-toggle="modal" data-target="#goodsReportModal">상품 신고</button>
                   
                   	
                   <form id="getRentalInfo" action="/order/payment" method="get">
                   	 <input th:value="${goodsDetail.goodsCode}" name="goodsCode" type="hidden" readonly="readonly"/>
                     <div class="row">
                   	   <div class="col-12">
	                      <h5 class="mr-4" style="margin-bottom: 7px; margin-top: 7px;">택배여부</h5>
		                  <div class="form-group row">
		                    <div class="quick-drop col-4 selectOptions mb-2">
		                      <select id="deliveryType" name="selectDelivery" class="form-control" style="margin-bottom: 5px;">
	                            <option value="N" selected>직거래</option>
		                        <option value="Y">택배</option>
		                      </select>
		                 	 </div>

		                  </div>
	                   </div>
	
	                    <!-- <div class="col-12"> -->
	                   <div class="d-flex align-items-center mb-2 pt-3">
	                      <div class="form-group col-md-6 col-12">
				            <div class="form-group row">
							  <h5><label for="example-datetime-local-input" class="col-md-12 col-form-label">렌탈 시작일</label></h5>
								 <div class="col-md-10">
								    <input class="form-control" id="rentalStartDate" min="2023-01-04" type="date" name="rentalStartDate">
								 </div>
							</div>
			               </div>
			               <div class="form-group col-md-6 col-12">
				             <div class="form-group row">
							    <h5><label for="example-datetime-local-input" class="col-md-12 col-form-label">렌탈 종료일</label></h5>
								<div class="col-md-10">
									<input class="form-control" id="rentalEndDate" type="date" name="rentalEndDate">
								</div>
							 </div>
			               </div>
	                    </div>
	                  </div>
	                  <div class="btn-area mb-0" style="display:flex;">
	                    <button th:if="${equalIdFlag}" type="submit" class="btn btn-primary btn-default payBtn" style="margin-right:3px; width: 100px; text-align:center; font-weight: bold;">결제<i class="fa fa-angle-right" aria-hidden="true"></i></button>
                   </form>
						<a th:if="${equalIdFlag}" th:href="@{/addChatRoom(userId=${goodsDetail.userId})}"><button type="button" class="btn btn-primary" style="margin-right:3px; width: 100px; text-align:center; font-weight: bold;">채팅<i class="fa fa-angle-right" aria-hidden="true"></i></button></a>
					  	
					  	<form  id="addWishForm" th:action="@{/wish/addWish}" method="post" th:if="${checkWish == 0} and ${equalIdFlag}" style="width:0%">
					  		<input type="hidden" th:value="${goodsDetail.goodsCode}" name="goodsCode">
					  		<input type="hidden" th:value="${goodsDetail.userId}" name="userId">
							<button id="addWishButton" type="button" class="btn btn-primary btn-icon" style="width: 75px;"><i class="fa fa-heart"></i></button>
					  	</form>
					  	
					  	<form id="removeWishForm" th:action="@{/wish/removeWish}" method="post" th:if="${checkWish > 0} and ${equalIdFlag}" style="width:0%">
					  		<input type="hidden" th:value="${goodsDetail.goodsCode}" name="goodsCode">
					  		<input type="hidden" th:value="${goodsDetail.userId}" name="userId">
					  		<input type="hidden" value="goodsDetail" name="prevPage">
							<button id="removeWishButton" type="button" class="btn btn-primary btn-icon" style="width: 75px;"><i class="fa fa-heart" style="color:red;"></i></button>
					  	</form>

	                  </div>
        	          <div class="btn-area mb-0" style="margin-top:10px; display:flex;" th:if="${session.S_USER_INFO != null && session.S_USER_INFO.loginId == goodsDetail.userId}">
		    			<a th:href="@{/goods/modifyGoods(goodsCode=${goodsDetail.goodsCode})}"><button type="button" class="btn btn-primary" style="width: 100px; text-align:center; font-weight: bold; margin-right:3px;">수정</button></a>
			    			<form id="removeGoodsForm" th:action="@{/goods/removeGoods}" method="post" style="width:0%">
			    				<button type="submit"
			    						class="btn btn-primary"
			    						id="removeGoodsButton"
			    						style="width: 100px;
			    						text-align:center;
			    						font-weight: bold;"
			    						th:value="${goodsDetail.goodsCode}"
			    						name="goodsCode">삭제</button>
			    			</form>
	                  </div>
         			  
                </div>
              </div>
            </div>
          </div>

          <div class="row singleProduct singleProductTab">
            <div class="col-12">
              <div class="media mb-4">
                <div class="media-body">
                  <div class="tabArea">
                    <ul class="nav nav-tabs bar-tabs">
                      <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Reviews">상품평</a></li>
                      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#OurDetails">상품 상세 정보</a></li>
                      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#OurShipping">이용약관</a></li>
                    </ul>
                    <div class="tab-content">
                      <div id="OurDetails" class="tab-pane fade">
                        <p th:text="${goodsDetail.goodsDetail}"></p>
                      </div>

                      <div id="Reviews" class="tab-pane fade show active">
						<div  class="media mb-5 reviewListDiv" th:each="rl : ${reviewList}" th:if="${not #lists.isEmpty(reviewList)}">
						  <img class="mr-4 rounded rounded-circle" src="/user/assets/img/blog/blog-small2-01.jpg" alt="Generic placeholder image">
						  <div class="media-body">
						    <div class="change-section">
							    <h4 class="mt-0 mb-2" th:text="${rl.user.userNickName}">닉네임</h4>
							
							    <ul class="text-warning d-flex mb-1">
							      <li class="mr-1"><i class="fa fa-star" aria-hidden="true" th:each="num : ${#numbers.sequence(1,rl.goodsEvaluation)}"></i></li>
							    </ul>
							    <div class="btn-area" style="display: inline-block; margin: 0 5px;  float: right; text-align:right; ">
									<button th:if="${session.S_USER_INFO != null && session.S_USER_INFO.loginId != goodsDetail.userId}" 
									type="button" class="btn btn-primary" data-toggle="modal" data-target="#reportReivewModal">상품평 신고</button>
								</div>
							
							    <p class="mt-0 mb-3" th:text="${rl.reviewContent}"></p>
							    <th:block th:if="${session.S_USER_INFO != null && session.S_USER_INFO.loginId == rl.userId}">
									<button type="button" class="btn btn-secondary btn-sm modifyReviewBtn" th:data-review-code="${rl.reviewCode}" th:data-review-cotent = "${rl.reviewContent}">수정</button>
									<button type="button" class="btn btn-secondary btn-sm removeReviewBtn" th:data-review-code="${rl.reviewCode}">삭제</button>	
							    </th:block>
						    </div>
						  </div>
						</div>
						<div class="media mb-5 reviewListDiv" th:unless="${not #lists.isEmpty(reviewList)}">
							등록된 상품평이 없습니다.
						</div>
						
						<div class="mt-5 mb-2 border p-4 p-md-5" th:if="${session.S_USER_INFO != null} and ${checkReviewCount < 1} and ${checkTradeStatus > 0}">
						  <form id="addReviewForm"  method="post" role="form">
						    <div class="media flex-column flex-md-row mb-0">
						      <img class="m-auto m-md-0 mr-md-4 rounded rounded-circle" src="/user/assets/img/blog/profile-image.jpg" alt="Generic placeholder image">
						      
						      <div class="media-body mt-4 mt-md-0">
						        <h6 class="text-center text-md-left text-capitalize mt-0" th:text="${session.S_USER_INFO.loginNickName}"><em></em></h6>
						    
						        <div class="rating-view mb-4">
						            <fieldset>
								        <input type="radio" name="goodsEvaluation" value="5" id="rate1"><label for="rate1">⭐</label>
								        <input type="radio" name="goodsEvaluation" value="4" id="rate2"><label for="rate2">⭐</label>
								        <input type="radio" name="goodsEvaluation" value="3" id="rate3"><label for="rate3">⭐</label>
								        <input type="radio" name="goodsEvaluation" value="2" id="rate4"><label for="rate4">⭐</label>
								        <input type="radio" name="goodsEvaluation" value="1" id="rate5"><label for="rate5">⭐</label>
								    </fieldset>
						        </div>
						
						        <div class="row">
						
						          <div class="form-group col-md-12">
						            <textarea class="form-control" id="exampleTextarea" name="reviewContent" rows="5" placeholder="상품평을 입력해주세요."></textarea>
						          </div>
						          
						          <input id="goodsCodeInput" type="hidden" name="goodsCode" th:value="${goodsDetail.goodsCode}">
						          <input id="userIdInput" type="hidden" name="userId" th:value="${session.S_USER_INFO.loginId}">
						          
						        </div>
						
						        <div class="text-center text-md-left">
						          <button id="addReviewBtn" type="button" class="btn btn-default btn-primary custom-btn">상품평 등록</button>
						        </div>
						      </div>
						    </div>
						  </form>
						</div>
						
						
						<th:block th:object="${goodsDetail}">
			              <div class="blogPage" style="display: flex; justify-content:center;">
							<ul class="pagination" style="margin:3px">
								<li th:if="${pagination.curRange != 1}">
									<a th:href="@{/goods/goodsDetail(goodsCode=*{goodsCode},userId=*{userId},curPage=${pageNum})}" aria-label="First"><span aria-hidden="true"></span></a>
								</li>
								<li th:if="${pagination.curPage != 1}">
									<a th:href="@{/goods/goodsDetail(goodsCode=*{goodsCode},userId=*{userId},curPage=${pageNum})}" aria-label="Prev"> <span aria-hidden="true">&#60;</span></a>
								</li>
								
								<th:block th:each="pageNum : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
									<li class="active" th:if="${pageNum == pagination.curPage}" style="padding:0px;">
										<a th:text="${pageNum}"></a>
									</li>
									<li th:unless="${pageNum == pagination.curPage} or ${pagination.listCnt == 0}">
										<a th:href="@{/goods/goodsDetail(goodsCode=*{goodsCode},userId=*{userId},curPage=${pageNum})}" th:text="${pageNum}"></a>
									</li>
								</th:block>
			
								<li th:if="${pagination.curPage != pagination.pageCnt && pagination.pageCnt > 0}">
									<a th:href="@{/goods/goodsDetail(goodsCode=*{goodsCode},userId=*{userId},curPage=${pageNum})}" aria-label="Next"> <span aria-hidden="true">&#62;</span></a>
								</li>
								<li th:if="${pagination.curRange != pagination.rangeCnt && pagination.rangeCnt > 0}">
									<a th:href="@{/goods/goodsDetail(goodsCode=*{goodsCode},userId=*{userId},curPage=${pageNum})}" aria-label="Last"> <span aria-hidden="true">>></span></a>
								</li>
							</ul>
			              </div>						
						</th:block>
						
						
						
						
                      </div>

                      <div id="OurShipping" class="tab-pane fade">
                        <div class="SingleCartListWrapper SingleCartShipping">
                          <div class="cartListInner">
                          	약관 ㅇㅇ
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="page-header" th:if="${not #lists.isEmpty(goodsListByUserId)}">
            <h4 th:text="|${goodsDetail.userNickname}님의 다른 상품|"></h4>
          </div>
          <div class="row productsContent" th:if="${not #lists.isEmpty(goodsListByUserId)}">
            
            <div class="col-md-3 col-12 " th:each="glByUid : ${goodsListByUserId}">
              <div class="productBox">
                <div class="productImage clearfix">
                  <img src="/user/assets/img/products/products-01.jpg" alt="products-img">
                  <div class="productMasking">
                    <ul class="list-inline btn-group" role="group">
                      <li><a class="btn btn-default" th:href="@{/goods/goodsDetail(userId=${glByUid.userId} ,goodsCode=${glByUid.goodsCode})}" ><i class="fa fa-eye"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="productCaption clearfix">
                 <h5><a th:href="@{/goods/goodsDetail(goodsCode=${glByUid.goodsCode}, userId=${glByUid.userId})}" th:text="${glByUid.goodsName}"></a></h5>
                 <h3 th:text="${glByUid.goodsDayPrice}"></h3>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </section>
	</th:block>
	  <!-- 사용자 지정 js 파일 -->
	<th:block layout:fragment="customJs"></th:block>
	
	<!-- 사용자 지정 js script -->
	<th:block layout:fragment="customScript">
		<script th:inline="javascript">

/* ----------------------------------------강현구 결제 달력 기능 javascript-시작---------------------------------------------- */
		
			const $startDate = document.getElementById('rentalStartDate');
			const $endDate = document.getElementById('rentalEndDate');
			const today = new Date();
	
			const startDate = new Date(today);
			const endDate = new Date(today);
			const defailtDate = new Date(today);
	
			endDate.setDate(today.getDate() + 14);
			defailtDate.setDate(today.getDate() + 1);
	
			$startDate.value = today.toISOString().substring(0, 10);
			$endDate.value = defailtDate.toISOString().substring(0, 10);
	
			$startDate.setAttribute('min', startDate.toISOString().substring(0, 10));
			$startDate.setAttribute('max', endDate.toISOString().substring(0, 10));
			$endDate.setAttribute('min', defailtDate.toISOString().substring(0, 10));
	
			$startDate.addEventListener('change', function () {
			    const changeMinDate = new Date($startDate.value);
			    changeMinDate.setDate(changeMinDate.getDate() + 1);
			    $endDate.setAttribute('min', changeMinDate.toISOString().substring(0, 10));
			    changeDate = new Date($startDate.value);
			    changeDate.setDate(changeDate.getDate() + 1);
			    $endDate.value = changeDate.toISOString().substring(0, 10);
			})

/* ----------------------------------------강현구 결제 달력 기능 javascript-끝---------------------------------------------- */	

/* -------------------------------------남윤희 상품 삭제,관심상품 추가삭제 기능 javascript-시작------------------------------------ */
	
			$('#removeGoodsButton').click(function () {
	
			    if (!confirm('상품을 삭제하시겠습니까?')) {
			        return false;
			    } else {
			        $('#removeGoodsForm').submit();
			        alert('상품이 삭제되었습니다.');
			    }
			});
	
			$('#addWishButton').click(function () {
	
			    if ([[${ session.S_USER_INFO }]] != null) {
	
			        if (!confirm('관심상품으로 등록하시겠습니까?')) {
			            return false;
			        } else {
			            $('#addWishForm').submit();
			        }
	
			    } else {
	
			        if (!confirm('로그인이 필요한 서비스입니다. 로그인 페이지로 이동하시겠습니까?')) {
			            return false;
			        } else {
			            location.href = '/login';
			        }
			    }
	
			});
	
			$('#removeWishButton').click(function () {
	
			    if (!confirm('이미 관심상품으로 등록되어있습니다. 삭제하시겠습니까?')) {
			        return false;
			    } else {
			        $('#removeWishForm').submit();
			    }
			});
			
/* -------------------------------------남윤희 상품 삭제,관심상품 추가삭제 기능 javascript-끝------------------------------------ */

/* -------------------------------------------남윤희 상품평 기능 javascript-시작----------------------------------------- */
			
			//상품평 추가 ajax 시작
			$('#addReviewBtn').click(function () {
	
			    const userId = $('#userIdInput').val();
			    const goodsCode = $('#goodsCodeInput').val();
			    const reviewContent = $('#exampleTextarea').val();
	
			    const goodsEvaluation = $("input[name='goodsEvaluation']:checked").val();
	
			    const reviewObj = {
			        'userId': userId,
			        'goodsCode': goodsCode,
			        'reviewContent': reviewContent,
			        'goodsEvaluation': goodsEvaluation
			    };
	
			    $.ajax({
			        type: 'POST',
			        url: '/review/addReview',
			        contentType: "application/json; charset=UTF-8;",
			        data: JSON.stringify(reviewObj),
			        success: function (data) {
			            location.reload();
			            console.log("성공");
			        },
			        error: function (e) {
			            if(goodsEvaluation == null || goodsEvaluation == ''){
			            	alert("별점을 선택해주세요");
			            	$('#exampleTextarea').focus();
			            }
			        }
	
	
			    });
	
			});
			//상품평 추가 ajax 끝
	
			//상품평 삭제 ajax 시작
			$(document).on('click', '.removeReviewBtn', function () {
			    const reviewCode = $(this).attr('data-review-code');
	
			    $.ajax({
			        type: 'POST',
			        url: '/review/removeReview',
			        contentType: "application/json; charset=UTF-8",
			        data: reviewCode,
			        success: function (data) {
			            location.reload();
			            console.log("성공");
			        },
			        error: function (e) {
			            alert("ERROR : " + e);
			        }
			    });
			});
			// 상품평 삭제 ajax 끝
	
			// 상품평 수정 ajax 시작
			$(document).on('click', '.modifyReviewBtn', function () {
	
			    const reviewContent = $(this).attr("data-review-cotent");
			    const reviewCode = $(this).attr("data-review-code");
	
			    //console.log($(this).parents('div.commentInfo').find('div.change-section'));
	
			    const changeSection = $(this).parents('div.reviewListDiv').find('div.change-section');
			    changeSection.empty();
	
			    const $textArea = $('<textarea />', {
			        class: 'form-control modifyReview',
			        rows: '3',
			        name: 'modifyReview',
			        style: 'margin-bottom:2px;',
			        text: reviewContent
			    });
	
			    const $modifyActionBtn = $('<button />', {
			        class: 'btn btn-secondary btn-sm modifyActionBtn',
			        type: 'button',
			        text: '수정',
			        click: function () {
			            const reviewContentValue = $(this).parent().find('textarea.modifyReview').val();
			            const goodsEvaluationValue = $(this).parent().find(" input[name='goodsEvaluation']:checked ").val();
			            //console.log(infoBoardCommentContentValue);
			            const reviewObj = {
			                'reviewCode': reviewCode,
			                'reviewContent': reviewContentValue,
			                'goodsEvaluation': goodsEvaluationValue
			            };
	
			            $.ajax({
			                type: 'POST',
			                url: '/review/modifyReview',
			                contentType: "application/json; charset=UTF-8",
			                data: JSON.stringify(reviewObj),
			                success: function (data) {
			                    location.reload();
			                    console.log("성공");
			                },
			                error: function (e) {
					            if(goodsEvaluationValue == null){
					            	alert("별점을 선택해주세요");
					            	$('.modifyReview').focus();
					            }
			                }
			            });// 댓글 비동기 끝
			        }
			    });
			    
			    const $modifyCancelBtn = $('<button />',{
					class:'btn btn-secondary btn-sm modifyCancelBtn',
					type:'button',
					text:'취소',
					click: function(){
						location.reload();
					}
				});
			    
			    changeSection.append("<div class='rating-view mb-4'><fieldset><input type='radio' name='goodsEvaluation' value='5' id='rate1'><label for='rate1'>⭐</label><input type='radio' name='goodsEvaluation' value='4' id='rate2'><label for='rate2'>⭐</label><input type='radio' name='goodsEvaluation' value='3' id='rate3'><label for='rate3'>⭐</label><input type='radio' name='goodsEvaluation' value='2' id='rate4'><label for='rate4'>⭐</label><input type='radio' name='goodsEvaluation' value='1' id='rate5'><label for='rate5'>⭐</label></fieldset> </div>");
				changeSection.append($textArea);
				changeSection.append($modifyActionBtn);
				changeSection.append($modifyCancelBtn);
				console.log(infoBoardCommentContent);
			});
			// 상품평 수정 ajax 끝
	
/* -------------------------------------------남윤희 상품평 기능 javascript-끝----------------------------------------- */	
	
/* ----------------------------------------오경하 차단 기능 javascript-시작---------------------------------------------- */	
			$(document).on('click', '.blockBtn', function () {
			    const blockedId = $(this).attr('data-block-id');
	
			    if (!confirm(blockedId + '님을 차단하시겠습니까?')) {
			        return false;
			    } else {
	
			        $.ajax({
			            type: 'POST',
			            url: '/user/block/addUserBlock',
			            contentType: "application/json; charset=UTF-8",
			            data: blockedId,
			            success: function (data) {
			                alert(blockedId + '님이 차단되었습니다.')
			                if (data > 0) {
			                    $('.blockBtn').hide();
			                }
	
			            },
			            error: function (e) {
			                alert("ERROR : " + e);
			                console.log(blockedId);
			            }
			        });
	
			    }
	
			});
/* ----------------------------------------오경하 차단 기능 javascript-끝---------------------------------------------- */
/* ----------------------------------------신지혜 상품 신고 기능을 김대현이 하는 javascript-시작--------------------------------- */

 			$('#reportGoodsBtn').click(function(){
 				if($('input[name=reportTypeCode]').is(':checked') == false){
	 				alert('신고종류를 선택해주세요!');
	 				return false;
 				}else{
 					if(!confirm('해당 상품을 정말로 신고하시겠습니까?')){
 						return false;
 					}else{
 						
 					  var goodsCode = $('input[name=goodsCode]').val();
 					
					  $.ajax({
				            type: 'GET',
				            url: '/reportGoodsAjax?goodsCode=' + goodsCode,
				            success: function(data) {
				            	if(data >= 1){
				            		alert('이미 신고된 상품입니다.');
				            		$('.close').trigger('click');
				            		return false;
				            	}else{
				            		$('#reportGoodsForm').submit();
				            	}
				            },
				            error: function (e) {
				                alert("ERROR : " + e);
				            }
				        });
					}
 				}
 			});
/* ----------------------------------------신지혜 상품평 신고 javascript-시작--------------------------------- */
 			
 			$('#reportReviewBtn').click(function(){
 				if($('input[name=reportTypeCode]').is(':checked') == false){
	 				alert('신고종류를 선택해주세요!');
	 				return false;
 				}else{
 					if(!confirm('해당 상품평을 정말로 신고하시겠습니까?')){
 						return false;
 					}else{
 						
 					  var reviewCode = $('input[name=reviewCode]').val();
 					
					  $.ajax({
				            type: 'GET',
				            url: '/reportReviewAjax?reviewCode=' + reviewCode,
				            success: function(data) {
				            	if(data >= 1){
				            		alert('이미 신고된 상품평입니다.');
				            		$('.close').trigger('click');
				            		return false;
				            	}else{
				            		$('#reportReviewForm').submit();
				            	}
				            },
				            error: function (e) {
				                alert("ERROR : " + e);
				            }
				        });
					}
 				}
 			});
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
 			
/* ----------------------------------------신지혜 차단 기능을 김대현이 하는 javascript-끝---------------------------------- */

		
		</script>
	</th:block>
</html>