<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    
    <style>
		.rating-view fieldset{
		    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
		    direction: rtl; /* 이모지 순서 반전 */
		    border: 0; /* 필드셋 테두리 제거 */
		}
		.rating-view fieldset legend{
		    text-align: left;
		}
		.rating-view input[type=radio]{
		    display: none; /* 라디오박스 감춤 */
		}
		.rating-view label{
		    font-size: 1.7em; /* 이모지 크기 */
		    color: transparent; /* 기존 이모지 컬러 제거 */
		    text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
		}
		.rating-view label:hover{
		    text-shadow: 0 0 0 rgb(233, 171, 0); /* 마우스 호버 */
		}
		.rating-view label:hover ~ label{
		    text-shadow: 0 0 0 rgb(233, 171, 0); /* 마우스 호버 뒤에오는 이모지들 */
		}
		.rating-view input[type=radio]:checked ~ label{
		    text-shadow: 0 0 0 rgb(233, 171, 0); /* 마우스 클릭 체크 */
		}
	</style>
    
</head>

<body>

    <th:block layout:fragment="customContents">
    
      <!-- LIGHT SECTION -->
      <section class="lightSection clearfix pageHeader">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="page-title">
                <h2>GOODS DETAIL</h2>
              </div>
            </div>
            <div class="col-md-6">
              <ol class="breadcrumb pull-right">
                <li>
                  <a th:href="@{/}">Home</a>
                </li>
                <li>
                  <a th:href="@{/goods/goodsList}">GOODS LIST</a>
                </li>
                <li class="active">GOODS DETAIL</li>
              </ol>
            </div>
          </div>
        </div>
      </section>
      
      <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix">
        <div class="container">
          <div class="row singleProduct">
            <div class="col-md-12">
              <div class="media flex-wrap mb-5">
                <div class="media-left productSlider">
                  <div id="carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner SingleProductItem" >
                      <div class="carousel-item active productImage SingleProductImage" th:each="gi : ${goodsImgs}" th:if="${gi.goodsImgRowNum == 1}" th:data-thumb="${gi.goodsImgRowNum}" >
                        <img th:src="@{${gi.goodsImg}}">
                        <a data-fancybox="images" th:href="@{${gi.goodsImg}}" class="product-content">
                          <div class="MaskingIcon"><i class="fa fa-plus"></i></div>
                        </a>
                      </div>
                      <div class="carousel-item SingleProductImage" th:each="gi : ${goodsImgs}" th:if="${gi.goodsImgRowNum != 1}" th:data-thumb="${gi.goodsImgRowNum}" >
                        <img th:src="@{${gi.goodsImg}}">
                        <a data-fancybox="images" th:href="@{${gi.goodsImg}}" class="product-content">
                          <div class="MaskingIcon"><i class="fa fa-plus"></i></div>
                        </a>
                      </div>


                    </div>
                  </div>
                  
                  
                  <div class="clearfix">
                    <div id="thumbcarousel" class="carousel slide" data-interval="false" >
                      <div class="carousel-inner">
                          <div th:each="gi : ${goodsImgs}" data-target="#carousel" th:data-slide-to="${gi.goodsImgRowNum - 1}" class="thumb">
                          	<img th:src="@{${gi.goodsImg}}">
                          </div>
                      </div>
                      <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                      </a>
                      <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="media-body"  th:object="${goodsDetail}">
                  <ul class="list-inline">
                    <li class="mb-4 mb-md-0">
                      <a th:href="@{/goods/goodsList}"><i class="fa fa-reply" aria-hidden="true"></i>
                        쇼핑 계속하기
                      </a>
                    </li>

                  </ul>

                  <h2 th:text="*{goodsName}"></h2>
                  <h3 th:text="'1일당 '+*{goodsDayPrice}+'원'"></h3>
                            
                   		<h4 th:text="'판매자 닉네임: '+*{userNickname}"></h4>
                   		<h4 th:text="'카테고리: '+*{goodsCategoryName}"></h4>
                   		<h4 th:text="'등록일자: '+*{goodsRegDate}"></h4>
                   		<h4 th:text="'상품가치: '+*{goodsValuePrice}"></h4>
                   		
   	               
	                   		<button th:if="${session.S_USER_INFO != null && session.S_USER_INFO.loginId != goodsDetail.userId && userBlockedIdCnt == 0}"
	                   		type="button" class="btn btn-secondary blockBtn" th:data-block-id = "*{userId}">사용자 차단하기</button>
                   
                   	
                   <form id="getRentalInfo" action="/order/payment" method="get">
                   	 <input th:value="${goodsDetail.goodsCode}" name="goodsCode" type="hidden" readonly="readonly"/>
                     <div class="row">
                   	   <div class="col-12">
	                      <h5 class="mr-4" style="margin-bottom: 7px; margin-top: 7px;">택배여부</h5>
		                  <div class="form-group row">
		                    <div class="quick-drop col-4 selectOptions mb-2">
		                      <select id="deliveryType" name="selectDelivery" class="form-control" style="margin-bottom: 5px;">
	                            <option value="N" selected>직거래</option>
		                        <option value="Y">택배</option>
		                      </select>
		                 	 </div>

		                  </div>
	                   </div>
	
	                    <!-- <div class="col-12"> -->
	                   <div class="d-flex align-items-center mb-2 pt-3">
	                      <div class="form-group col-md-6 col-12">
				            <div class="form-group row">
							  <h5><label for="example-datetime-local-input" class="col-md-12 col-form-label">렌탈 시작일</label></h5>
								 <div class="col-md-10">
								    <input class="form-control" id="rentalStartDate" min="2023-01-04" type="date" name="rentalStartDate">
								 </div>
							</div>
			               </div>
			               <div class="form-group col-md-6 col-12">
				             <div class="form-group row">
							    <h5><label for="example-datetime-local-input" class="col-md-12 col-form-label">렌탈 종료일</label></h5>
								<div class="col-md-10">
									<input class="form-control" id="rentalEndDate" type="date" name="rentalEndDate">
								</div>
							 </div>
			               </div>
	                    </div>
	                  </div>
	                  <div class="btn-area mb-0" style="display:flex;">
	                    <button type="submit" class="btn btn-primary btn-default payBtn" style="margin-right:3px; width: 100px; text-align:center; font-weight: bold;">결제<i class="fa fa-angle-right" aria-hidden="true"></i></button>
                   </form>
						<a th:href="@{/addChatRoom(userId=${goodsDetail.userId})}"><button type="button" class="btn btn-primary" style="margin-right:3px; width: 100px; text-align:center; font-weight: bold;">채팅<i class="fa fa-angle-right" aria-hidden="true"></i></button></a>
					  	
					  	<form id="addWishForm" th:action="@{/wish/addWish}" method="post" th:if="${checkWish == 0}" style="width:0%">
					  		<input type="hidden" th:value="${goodsDetail.goodsCode}" name="goodsCode">
					  		<input type="hidden" th:value="${goodsDetail.userId}" name="userId">
							<button id="addWishButton" type="button" class="btn btn-primary btn-icon" style="width: 75px;"><i class="fa fa-heart"></i></button>
					  	</form>
					  	
					  	<form id="removeWishForm" th:action="@{/wish/removeWish}" method="post" th:if="${checkWish > 0}" style="width:0%">
					  		<input type="hidden" th:value="${goodsDetail.goodsCode}" name="goodsCode">
					  		<input type="hidden" th:value="${goodsDetail.userId}" name="userId">
					  		<input type="hidden" value="goodsDetail" name="prevPage">
							<button id="removeWishButton" type="button" class="btn btn-primary btn-icon" style="width: 75px;"><i class="fa fa-heart" style="color:red;"></i></button>
					  	</form>

	                  </div>
        	          <div class="btn-area mb-0" style="margin-top:10px; display:flex;" th:if="${session.S_USER_INFO != null && session.S_USER_INFO.loginId == goodsDetail.userId}">
		    			<a th:href="@{/goods/modifyGoods(goodsCode=*{goodsCode})}"><button type="button" class="btn btn-primary" style="width: 100px; text-align:center; font-weight: bold; margin-right:3px;">수정</button></a>
			    			<form id="removeGoodsForm" th:action="@{/goods/removeGoods}" method="post" style="width:0%">
			    				<button type="submit"
			    						class="btn btn-primary"
			    						id="removeGoodsButton"
			    						style="width: 100px;
			    						text-align:center;
			    						font-weight: bold;"
			    						th:value="${goodsDetail.goodsCode}"
			    						name="goodsCode">삭제</button>
			    			</form>
	                  </div>
         			  
                </div>
              </div>
            </div>
          </div>

          <div class="row singleProduct singleProductTab">
            <div class="col-12">
              <div class="media mb-4">
                <div class="media-body">
                  <div class="tabArea">
                    <ul class="nav nav-tabs bar-tabs">
                      <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#OurDetails">상품 상세 정보</a></li>
                      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Reviews">상품평</a></li>
                      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#OurShipping">여기에 이용약관,보험약관 넣으면 좋을 듯</a></li>
                    </ul>
                    <div class="tab-content">
                      <div id="OurDetails" class="tab-pane fade show active">
                        <p th:text="${goodsDetail.goodsDetail}"></p>
                      </div>

                      <div id="OurSizing" class="tab-pane fade">
                        <div class="SingleCartListWrapper SingleCartSizing">
                          <div class="cartListInner">
                            <div class="table-responsive">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th>Inches</th>
                                    <th>US size</th>
                                    <th>EN size</th>
                                  </tr>
                                </thead>

                                <tbody>
                                  <tr>
                                    <td class="">9.65</td>
                                    <td class="">6.5</td>
                                    <td class="">39</td>
                                  </tr>

                                  <tr>
                                    <td class="">9.84</td>
                                    <td class="">7</td>
                                    <td class="">40</td>
                                  </tr>

                                  <tr>
                                    <td class="">10.04</td>
                                    <td class="">8</td>
                                    <td class="">41</td>
                                  </tr>

                                  <tr>
                                    <td class="">10.24</td>
                                    <td class="">8.5</td>
                                    <td class="">42</td>
                                  </tr>

                                  <tr>
                                    <td class="">10.43</td>
                                    <td class="">9.5</td>
                                    <td class="">43</td>
                                  </tr>

                                  <tr>
                                    <td class="">10.63</td>
                                    <td class="">10.0</td>
                                    <td class="">44</td>
                                  </tr>

                                  <tr>
                                    <td class="">10.83</td>
                                    <td class="">11.0</td>
                                    <td class="">45</td>
                                  </tr>

                                  <tr>
                                    <td class="">11.02</td>
                                    <td class="">12.0</td>
                                    <td class="">46</td>
                                  </tr>

                                  <tr>
                                    <td class="">11.2</td>
                                    <td class="">12.5</td>
                                    <td class="">47</td>
                                  </tr>

                                  <tr>
                                    <td class="">11.42</td>
                                    <td class="">13</td>
                                    <td class="">48</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div id="Reviews" class="tab-pane fade">
                        <div class="media mb-5" th:each="rl : ${reviewList}">
                          <img class="mr-4 rounded rounded-circle" src="/user/assets/img/blog/blog-small2-01.jpg" alt="Generic placeholder image">
                          <div class="media-body">
                            <h4 class="mt-0 mb-2" th:text="${rl.user.userNickName}">닉네임</h4>

                            <ul class="text-warning d-flex mb-1">
                              <li class="mr-1"><i class="fa fa-star" aria-hidden="true" th:each="num : ${#numbers.sequence(1,rl.goodsEvaluation)}"></i></li>
                            </ul>

                            <p class="mt-0 mb-3" th:text="${rl.reviewContent}"></p>
                          </div>
                        </div>
						
						<th:block th:if="${session.S_USER_INFO != null && session.S_USER_INFO.loginId == goodsDetail.userId}">
							<div th:replace="~{user/fragments/goodsDetailAddReviewFragment :: goodsDetailAddReviewFragment}"></div>
						</th:block>
						
                      </div>

                      <div id="OurShipping" class="tab-pane fade">
                        <div class="SingleCartListWrapper SingleCartShipping">
                          <div class="cartListInner">
                          	약관 ㅇㅇ
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="page-header" th:if="${not #lists.isEmpty(goodsListByUserId)}">
            <h4 th:text="|${goodsDetail.userNickname}님의 다른 상품|"></h4>
          </div>
          <div class="row productsContent" th:if="${not #lists.isEmpty(goodsListByUserId)}">
            
            <div class="col-md-3 col-12 " th:each="glByUid : ${goodsListByUserId}">
              <div class="productBox">
                <div class="productImage clearfix">
                  <img src="/user/assets/img/products/products-01.jpg" alt="products-img">
                  <div class="productMasking">
                    <ul class="list-inline btn-group" role="group">
                      <li><a class="btn btn-default" th:href="@{/goods/goodsDetail(userId=${glByUid.userId} ,goodsCode=${glByUid.goodsCode})}" ><i class="fa fa-eye"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="productCaption clearfix">
                 <h5><a th:href="@{/goods/goodsDetail(goodsCode=${glByUid.goodsCode}, userId=${glByUid.userId})}" th:text="${glByUid.goodsName}"></a></h5>
                 <h3 th:text="${glByUid.goodsDayPrice}"></h3>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </section>
	</th:block>
	  <!-- 사용자 지정 js 파일 -->
	<th:block layout:fragment="customJs"></th:block>
	
	<!-- 사용자 지정 js script -->
	<th:block layout:fragment="customScript">
		<script th:inline="javascript">
			const $startDate = document.getElementById('rentalStartDate');
			const $endDate = document.getElementById('rentalEndDate');
			const today = new Date();
			
			const startDate = new Date(today);
			const endDate = new Date(today);
			const defailtDate = new Date(today);
			
			endDate.setDate(today.getDate() + 14);
			defailtDate.setDate(today.getDate() + 1);
			
			$startDate.value = today.toISOString().substring(0, 10);
			$endDate.value = defailtDate.toISOString().substring(0, 10);
			
			$startDate.setAttribute('min', startDate.toISOString().substring(0, 10));
			$startDate.setAttribute('max', endDate.toISOString().substring(0, 10));
			$endDate.setAttribute('min', defailtDate.toISOString().substring(0, 10));
			
			$startDate.addEventListener('change', function(){
				const changeMinDate = new Date($startDate.value);
				changeMinDate.setDate(changeMinDate.getDate() + 1);
				$endDate.setAttribute('min', changeMinDate.toISOString().substring(0, 10));
				changeDate = new Date($startDate.value);
				changeDate.setDate(changeDate.getDate() + 1);
				$endDate.value = changeDate.toISOString().substring(0, 10);
			}) 
			
			
		
			
		$('#removeGoodsButton').click(function(){
			
			if(!confirm('상품을 삭제하시겠습니까?')) {
				return false;
			}else{
				$('#removeGoodsForm').submit();
				alert('상품이 삭제되었습니다.');
			}
		});
		
		$('#addWishButton').click(function(){
			
			if([[${session.S_USER_INFO}]] != null){
				
				if(!confirm('관심상품으로 등록하시겠습니까?')) {
					return false;
				}else{
					$('#addWishForm').submit();
				}
				
			}else{
				
				if(!confirm('로그인이 필요한 서비스입니다. 로그인 페이지로 이동하시겠습니까?')) {
					return false;
				}else{
					location.href = '/login';
				}
			}
			
		});
		
		$('#removeWishButton').click(function(){
			
			if(!confirm('이미 관심상품으로 등록되어있습니다. 삭제하시겠습니까?')) {
				return false;
			}else{
				$('#removeWishForm').submit();
			}
		});
		
		
		$(document).on('click','.blockBtn',function(){
			const blockedId = $(this).attr('data-block-id');
			
			if(!confirm(blockedId+'님을 차단하시겠습니까?')) {
				return false;
			}else{
			
			$.ajax({
   				type:'POST',
   				url:'/user/block/addUserBlock',
   				contentType: "application/json; charset=UTF-8",
   				data: blockedId,
	   			success: function(data) {   	          		
	   	          	alert(blockedId + '님이 차단되었습니다.')
	   	         if(data > 0){
		 				$('.blockBtn').hide();
		 			}

	   			},
	   			error: function(e) {
	   				alert("ERROR : " + e);
	   				console.log(blockedId);
	   			}	
			});
			
			}
			  
		})
		
		
		
		</script>
	</th:block>
</body>
</html>